
<div class="pf-c-toolbar__group pf-m-filter-group">
    <div class="pf-c-toolbar__item pf-m-search-filter">
        <form class="pf-c-input-group" method="GET">
            {# include page data for pagination #}
            <input type="hidden" name="page" value="{{ page_obj.number }}">
            <input class="pf-c-form-control" name="search" type="search" placeholder="Search..." value="{{ request.GET.search }}">
            <button class="pf-c-button pf-m-control" type="submit">
                <i class="fas fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>
