{% extends "administration/base.html" %}

{% load i18n %}
{% load passbook_utils %}

{% block content %}
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-c-content">
        {% block above_form %}
        <h1>
            {% blocktrans with object_type=object|verbose_name %}
            Delete {{ object_type }}
            {% endblocktrans %}
        </h1>
        {% endblock %}
    </div>
</section>
<section class="pf-c-page__main-section">
    <div class="pf-l-stack">
        <div class="pf-l-stack__item">
            <div class="pf-c-card">
                <div class="pf-c-card__body">
                    <form action="" method="post" class="pf-c-form">
                        {% csrf_token %}
                        <p>
                            {% blocktrans with object_type=object|verbose_name name=object %}
                            Are you sure you want to delete {{ object_type }} "{{ object }}"?
                            {% endblocktrans %}
                        </p>
                        <input type="hidden" name="confirmdelete" value="yes">
                        <div class="pf-c-form__group pf-m-action">
                            <div class="pf-c-form__actions">
                                <input class="pf-c-button pf-m-danger" type="submit" value="{% trans 'Delete' %}" />
                                <a class="pf-c-button pf-m-secondary" href="{% back %}">{% trans "Back" %}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
