{% extends 'login/base_full.html' %}

{% load static %}
{% load i18n %}

{% block head %}
{{ block.super }}
<style>
    .pb-loading,
    .pf-c-login__main >iframe {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .pb-hidden {
        display: none
    }
</style>
{% endblock %}

{% block main_container %}
<flow-shell-card
    class="pf-c-login__main"
    flowBodyUrl="{{ exec_url }}">
</flow-shell-card>
<script>
const messagesUrl = "{{ msg_url }}";
const updateMessages = () => {
    let messageContainer = document.querySelector(".pf-c-alert-group");
    fetch(messagesUrl).then(response => {
        messageContainer.innerHTML = "";
        response.json().then(data => {
            data.forEach(msg => {
                let icon = "";
                switch (msg.level_tag) {
                    case 'error':
                        icon = 'fas fa-exclamation-circle'
                        break;
                    case 'warning':
                        icon = 'fas fa-exclamation-triangle'
                        break;
                    case 'success':
                        icon = 'fas fa-check-circle'
                        break;
                    case 'info':
                        icon = 'fas fa-info'
                        break;
                    default:
                        break;
                }
                if (msg.level_tag === "error") {
                    msg.extra_tags = "pf-m-danger";
                }
                let item = `<li class="pf-c-alert-group__item">
                    <div class="pf-c-alert pf-m-${msg.level_tag} ${msg.extra_tags}">
                        <div class="pf-c-alert__icon">
                            <i class="${icon}"></i>
                        </div>
                        <h4 class="pf-c-alert__title">
                            ${msg.message}
                        </h4>
                    </div>
                </li>`;
                var template = document.createElement('template');
                template.innerHTML = item;
                messageContainer.appendChild(template.content.firstChild);
            });
        });
    });
};


// fetch(flowBodyUrl).then(response => response.json()).then(data => updateCard(data));
</script>
{% endblock %}
