:host {
    cursor: pointer;
    display: flex;
    flex-flow: row;
    align-items: center;
    user-select: none;
    gap: var(--pf-global--spacer--sm);
    padding-inline: var(--pf-global--spacer--sm);
    padding-block: var(--pf-global--spacer--xs);
    border-radius: var(--pf-global--BorderRadius--sm);
    border-style: solid;
    border-color: transparent;
    border-width: thin;
    overflow: hidden;
}

[part="select"] {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: inherit;
    position: relative;

    border: none;

    padding-inline-start: 1.75em !important;

    @media not (prefers-contrast: more) {
        &:focus {
            outline: none;
        }
    }

    appearance: none;
    appearance: base-select;
    transition: opacity 0.2s ease-in-out;
    opacity: var(--ak-c-flow-executor__locale-select--select--Opacity, 1);

    &::picker-icon {
        /* Browser compatibility */
        color: transparent;
        display: none;
    }
}

[part="label"] {
    background-color: var(--ak-c-locale-select--label--BackgroundColor, transparent);
    color: var(--ak-c-locale-select--label--Color, inherit);
    cursor: pointer;
    position: absolute;

    .icon {
        display: block;
        height: var(--pf-global--FontSize--xl);
        fill: currentColor;
    }
}
