{% extends "base/skeleton.html" %}

{% load static %}

{% block head %}
<script src="{% static 'dist/admin/AdminInterface.js' %}?version={{ version }}" type="module"></script>
<meta name="theme-color" content="#18191a" media="(prefers-color-scheme: dark)">
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
{% include "base/header_js.html" %}
{% endblock %}

{% block body %}
<ak-message-container></ak-message-container>
<ak-interface-admin>
    <ak-loading></ak-loading>
</ak-interface-admin>
{% endblock %}
