{% extends 'login/base_full.html' %}

{% load static %}
{% load i18n %}

{% block title %}
{% trans 'End session' %} - {{ brand.branding_title }}
{% endblock %}

{% block card_title %}
{% blocktrans with application=application.name %}
You've logged out of {{ application }}.
{% endblocktrans %}
{% endblock %}

{% block card %}
<form method="POST" class="pf-c-form">
    <p>
        {% blocktrans with application=application.name branding_title=brand.branding_title %}
            You've logged out of {{ application }}. You can go back to the overview to launch another application, or log out of your {{ branding_title }} account.
        {% endblocktrans %}
    </p>

    <a id="ak-back-home" href="{% url 'authentik_core:root-redirect' %}" class="pf-c-button pf-m-primary">
        {% trans 'Go back to overview' %}
    </a>

    <a id="logout" href="{% url 'authentik_flows:default-invalidation' %}" class="pf-c-button pf-m-secondary">
        {% blocktrans with branding_title=brand.branding_title %}
            Log out of {{ branding_title }}
        {% endblocktrans %}
    </a>

    {% if application.get_launch_url %}
    <a href="{{ application.get_launch_url }}" class="pf-c-button pf-m-secondary">
        {% blocktrans with application=application.name %}
            Log back into {{ application }}
        {% endblocktrans %}
    </a>
    {% endif %}

</form>
{% endblock %}
