{% extends "base/skeleton.html" %}

{% load static %}

{% block head_before %}
{{ block.super }}
<link rel="prefetch" href="{{ flow.background_url }}" />
{% if flow.compatibility_mode and not inspector %}
<script>ShadyDOM = { force: !navigator.webdriver };</script>
{% endif %}
{% include "base/header_js.html" %}
<script>
window.authentik.flow = {
    "layout": "{{ flow.layout }}",
};
</script>
{% endblock %}

{% block head %}
<script src="{% static 'dist/flow/FlowInterface.js' %}?version={{ version }}" type="module"></script>
<style>
:root {
    --ak-flow-background: url("{{ flow.background_url }}");
}
</style>
{% endblock %}

{% block body %}
<ak-message-container></ak-message-container>
<ak-flow-executor>
    <ak-loading></ak-loading>
</ak-flow-executor>
{% endblock %}
