{% extends "base/skeleton.html" %}

{% load authentik_core %}

{% block head %}
  <meta name="theme-color" content="#18191a" media="(prefers-color-scheme: dark)">
  <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">

  {% include "base/header_js.html" %}

  <script
    data-test-id="entrypoint"
    src="{% versioned_script 'dist/user/UserInterface-%v.js' %}"
    type="module">
  </script>
{% endblock %}

{% block body %}
  <ak-message-container></ak-message-container>

  <ak-interface-user>
    <ak-loading></ak-loading>
  </ak-interface-user>
{% endblock %}
