{% extends "base/skeleton.html" %}

{% load static %}

{% block head %}
<script src="{% static 'dist/user/UserInterface.js' %}?version={{ version }}" type="module"></script>
<meta name="theme-color" content="#1c1e21" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#1c1e21" media="(prefers-color-scheme: dark)">
{% include "base/header_js.html" %}
{% endblock %}

{% block body %}
<ak-message-container></ak-message-container>
<ak-interface-user>
    <ak-loading></ak-loading>
</ak-interface-user>
{% endblock %}
