{% extends "base/skeleton.html" %}

{% load authentik_core %}

{% block head %}
<script src="{% versioned_script 'dist/user/UserInterface-%v.js' %}" type="module"></script>

<meta name="theme-color" content="#1c1e21" media="(prefers-color-scheme: light)" />
<meta name="theme-color" content="#1c1e21" media="(prefers-color-scheme: dark)" />

{% include "base/header_js.html" %}
{% endblock %}

{% block body %}
<ak-message-container></ak-message-container>

<ak-interface-user>
  <ak-loading></ak-loading>
</ak-interface-user>
{% endblock %}
