{% extends "generic/form.html" %}

{% load i18n %}

{% block beneath_form %}
<div class="pf-c-form__group ">
    <label for="" class="pf-c-form__label"></label>
    <div class="c-form__horizontal-group">
        <p>
            Expression using <a href="https://jinja.palletsprojects.com/en/2.11.x/templates/">Jinja</a>. Following variables are available:
            <ul class="pf-c-list">
                <li><code>ldap</code>: A Dictionary of all values retrieved from LDAP.</li>
            </ul>
        </p>
    </div>
</div>
{% endblock %}
