.news-bar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 800;
}

.news-bar-container .items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.news-bar-container .items a {
    color: var(--ifm-color-secondary-contrast-background);
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.news-bar-container .items a:hover {
    color: var(--ifm-color-primary);
    text-decoration: none;
}
