{% load passbook_utils %}
{% load i18n %}

{% csrf_token %}
{% for field in form %}
<div class="pf-c-form__group {% if field.errors %} has-error {% endif %}">
    {% if field.field.widget|fieldtype == 'RadioSelect' %}
        <label class="pf-c-form__label" for="{{ field.name }}-{{ forloop.counter0 }}">
            <span class="pf-c-form__label-text">{{ field.label }}</span>
            {% if field.field.required %}
            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
            {% endif %}
        </label>
        {% for c in field %}
        <div class="radio col-sm-10">
            <input type="radio" id="{{ field.name }}-{{ forloop.counter0 }}"
                name="{% if wizard %}{{ wizard.steps.current }}-{% endif %}{{ field.name }}" value="{{ c.data.value }}"
                {% if c.data.selected %} checked {% endif %}>
            <label class="pf-c-form__label" for="{{ field.name }}-{{ forloop.counter0 }}">{{ c.choice_label }}</label>
        </div>
        {% endfor %}
    {% elif field.field.widget|fieldtype == 'Select' %}
        <label class="pf-c-form__label" for="{{ field.name }}-{{ forloop.counter0 }}">
            <span class="pf-c-form__label-text">{{ field.label }}</span>
            {% if field.field.required %}
            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
            {% endif %}
        </label>
        <div class="pf-c-form__horizontal-group">
            {{ field|css_class:"pf-c-form-control" }}
            {% if field.help_text %}
            <p class="pf-c-form__helper-text">{{ field.help_text }}</p>
            {% endif %}
        </div>
    {% elif field.field.widget|fieldtype == 'CheckboxInput' %}
        <div class="pf-c-form__horizontal-group">
            <div class="pf-c-check">
                {{ field|css_class:"pf-c-check__input" }}
                <label class="pf-c-check__label" for="{{ field.name }}-{{ forloop.counter0 }}">{{ field.label }}</label>
            </div>
            {% if field.help_text %}
            <p class="pf-c-form__helper-text">{{ field.help_text }}</p>
            {% endif %}
        </div>
    {% else %}
        <label class="pf-c-form__label" for="{{ field.name }}-{{ forloop.counter0 }}">
            <span class="pf-c-form__label-text">{{ field.label }}</span>
            {% if field.field.required %}
            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
            {% endif %}
        </label>
        <div class="c-form__horizontal-group">
            {{ field|css_class:'pf-c-form-control' }}
            {% if field.help_text %}
                <p class="pf-c-form__helper-text">{{ field.help_text }}</p>
            {% endif %}
        </div>
    {% endif %}
    {% for error in field.errors %}
    <p class="pf-c-form__helper-text pf-m-error">
        {{ error }}
    </p>
    {% endfor %}
</div>
{% endfor %}
