{% if messages %}
<ul class="pf-c-alert-group pf-m-toast">
    {% for msg in messages %}
    <li class="pf-c-alert-group__item">
        <div class="pf-c-alert pf-m-{{ msg.level_tag }}">
            <div class="pf-c-alert__icon">
                {% if msg.level_tag == 'danger' %}
                <o class="pficon pficon-error-circle-o"></o>
                {% elif msg.level_tag == 'warning' %}
                <o class="pficon pficon-warning-triangle-o"></o>
                {% elif msg.level_tag == 'success' %}
                <o class="pficon pficon-ok"></o>
                {% elif msg.level_tag == 'info' %}
                <o class="pficon pficon-info"></o>
                {% endif %}
            </div>
            <div class="pf-c-alert__description">
                {{ msg.message|safe }}
            </div>
            <div class="pf-c-alert__action">
                <button class="pf-c-button pf-m-plain" type="button"
                    aria-label="Close success alert: Newest notification">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
