{% if messages %}
{% for msg in messages %}
<div class="toast-pf alert alert-dismissable alert-{{ msg.level_tag }}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span class="pficon pficon-close"></span>
    </button>
    {% if msg.level_tag == 'danger' %}
    <span class="pficon pficon-error-circle-o"></span>
    {% elif msg.level_tag == 'warning' %}
    <span class="pficon pficon-warning-triangle-o"></span>
    {% elif msg.level_tag == 'success' %}
    <span class="pficon pficon-ok"></span>
    {% elif msg.level_tag == 'info' %}
    <span class="pficon pficon-info"></span>
    {% endif %}
    {{ msg.message|safe }}
</div>
{% endfor %}
{% endif %}
