<ul class="pf-c-alert-group pf-m-toast">
    {% for msg in messages %}
    <li class="pf-c-alert-group__item">
        <div class="pf-c-alert pf-m-{{ msg.level_tag }} {% if msg.level_tag == 'error' %}pf-m-danger{% endif %}">
            <div class="pf-c-alert__icon">
                {% if msg.level_tag == 'error' %}
                <i class="fas fa-exclamation-circle"></i>
                {% elif msg.level_tag == 'warning' %}
                <i class="fas fa-exclamation-triangle"></i>
                {% elif msg.level_tag == 'success' %}
                <i class="fas fa-check-circle"></i>
                {% elif msg.level_tag == 'info' %}
                <i class="fas fa-info"></i>
                {% endif %}
            </div>
            <h4 class="pf-c-alert__title">
                {{ msg.message|safe }}
            </h4>
        </div>
    </li>
    {% endfor %}
</ul>
