:host {
    --app-card-aspect-ratio: 4 / 3;
    --app-card-min-width: 6.5rem;
    --app-group-header-min-height: calc(var(--app-card-min-width) / 4);
    --app-icon-offset: 1rem;
    --app-card-title-padding: 0.5rem;

    @media (min-width: 390px) {
        --app-card-title-padding: 0.25rem;
        --app-card-aspect-ratio: 1 / 1.13;
        --app-group-template-columns: repeat(auto-fill, var(--app-card-min-width));
    }

    @media (min-width: 409px) {
        --app-card-min-width: 7rem;
    }

    @media (min-width: 768px) {
        --app-icon-offset: 0.5rem;
        --app-card-min-width: 11rem;
    }
}

.card-header-aspect-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    padding-inline: 1rem;
    padding-block: calc(var(--pf-global--LineHeight--md) * var(--app-card-title-padding));
    height: 100%;
    position: relative;
}

.pf-c-card {
    --pf-c-card--BoxShadow: var(--pf-global--BoxShadow--md-bottom);
    --pf-c-card--BackgroundColor: var(--pf-global--BackgroundColor--150);

    transition: box-shadow 150ms ease-in-out;
    border: 0.5px solid var(--pf-global--BorderColor--100);
    height: 100%;

    &:hover {
        --pf-c-card--m-hoverable--hover--BoxShadow: var(--pf-global--BoxShadow--xl-bottom);
    }

    .pf-c-card__header {
        padding: 0 !important;

        display: flex;
        flex: 1 1 auto;
        flex-flow: column;
        gap: var(--pf-global--spacer--md);
        justify-content: center;

        &:hover {
            text-decoration: none;

            .pf-c-card__title {
                text-decoration: underline;
            }
        }
    }

    .pf-c-card__title {
        padding: 0 !important;
        place-content: end;
        z-index: 1;
        text-stroke-width: 0.15em;
        text-stroke-color: var(--pf-c-card--BackgroundColor);

        -webkit-text-stroke-width: 0.15em;
        -webkit-text-stroke-color: var(--pf-c-card--BackgroundColor);
        paint-order: stroke fill;

        .clamp-wrapper {
            display: box;
            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            box-orient: vertical;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-align: center;
            text-wrap: balance;
            line-height: 1.2;
            min-height: 2.4rem;

            max-height: calc(var(--pf-global--LineHeight--md) * 2rem);
        }
    }
}

[part="card-header-icon"] {
    --icon-height: 50%;
    --icon-font-size: calc(var(--app-card-min-width) / 1.5);

    &::part(icon) {
        --app-icon--shadow-background-color: var(--pf-c-card--BackgroundColor);
        position: absolute;
        inset: 0;
        object-fit: contain;
        place-self: center;
        inset-block-start: -1.5rem;
        inset-block-end: var(--app-icon-offset, 0);
        padding: 0;
    }
}

[part="app-group-header"] {
    grid-column: 1 / -1;
}

[part="app-list"] {
    display: grid;
    gap: var(--pf-global--spacer--md);

    grid-template-columns: repeat(var(--app-list-column-count, 1), 1fr);
    justify-items: center;

    @media (max-width: 767px) {
        --app-list-column-count: 1 !important;
        justify-items: normal;
    }
}

[part="app-group"] {
    --app-group-border-color: transparent;

    display: grid;
    gap: var(--pf-global--spacer--md);
    grid-template-columns: var(--app-group-template-columns, 1fr);
    width: round(down, 100%, calc(var(--app-card-min-width) / var(--app-list-column-count, 1)));
    grid-auto-rows: minmax(min-content, 0);

    @media (max-width: 767px) {
        width: auto;
        grid-template-rows: auto;
    }

    @media (min-width: 768px) {
        border-inline-start: 0.5px solid var(--app-group-border-color);
        padding-inline-start: calc(1rem - 0.5px);
    }

    @media (prefers-contrast: more) {
        &:not([data-group-index="0"]) {
            --app-group-border-color: var(--pf-global--BorderColor--200);
        }
    }
}

[part="app-group-separator"] {
    grid-column: 1 / -1;
    border-color: transparent;
}

[part="app-card"] {
    aspect-ratio: var(--app-card-aspect-ratio);
    position: relative;

    &[aria-selected="true"] {
        outline: auto var(--ak-accent);
    }
}

[part="card-header-action-description"] {
    text-wrap: pretty;
    max-width: 30ch;
}

[part="card-header-actions"] {
    position: absolute;
    top: 0;
    right: 0;
}

[part="card-header-actions-menu"] {
    position: fixed;
    inset: unset;
    inset-block-start: anchor(end);
    inset-inline-end: anchor(end);
    width: fit-content;
    min-width: unset;
    border: none;

    @media (min-width: 390px) {
        inset-inline-start: anchor(center);
    }
}

[part="card-header-actions-button"] {
    border: 0.5px solid transparent;
    border-end-start-radius: var(--pf-global--BorderRadius--sm);

    --pf-c-dropdown__toggle--before--BorderWidth: 0;

    &:hover {
        --pf-c-dropdown__toggle--BackgroundColor: var(--pf-c-card--m-flat--BorderColor);
        border-color: var(--pf-c-card--m-flat--BorderColor);
    }

    &[aria-expanded="true"] {
        border-color: var(--pf-c-card--m-flat--BorderColor);

        &:before {
            --pf-c-dropdown__toggle--before--BorderBottomColor: var(--pf-global--active-color--100);
            border-bottom-width: var(--pf-c-dropdown__toggle--focus--before--BorderBottomWidth);
        }
    }
}

[part="card-header-actions-icon"] {
    font-weight: bold;
    font-family:
        system-ui,
        -apple-system,
        monospace;
}
