input[name="application-search"] {
    background-color: transparent;
    width: 28ch;
    font-size: var(--pf-global--FontSize--xl);

    border-inline: none;
    border-block-start: none;

    &:focus,
    &:hover {
        --pf-c-form-control--BorderBottomColor: var(--ak-accent);
    }
}

input[name="application-search"] {
    @media not (prefers-contrast: more) {
        outline: none;
    }
}
