{% extends "overview/base.html" %}

{% load i18n %}

{% block content %}
<div class="container">
    <div class="row row-cards-pf">
        {% for app in applications %}
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select">
                <div class="card-pf-body">
                    <div class="card-pf-top-element">
                        <a href="{{ app.meta_launch_url }}">
                            {% if not app.meta_icon_url %}
                            <span class="pficon pficon-arrow card-pf-icon-circle"></span>
                            {% else %}
                            <img class="app-icon card-pf-icon-circle" src="{{ app.meta_icon_url }}" alt="{% trans 'Application Icon' %}">
                            {% endif %}
                        </a>
                    </div>
                    <h2 class="card-pf-title text-center">
                        <a href="{{ app.meta_launch_url }}">
                            {{ app.name }}
                        </a>
                    </h2>
                    {% if app.meta_publisher %}
                    <div class="card-pf-items text-center">
                        <small>{{ app.meta_publisher }}</small>
                    </div>
                    {% endif %}
                    {% if app.meta_description %}
                    <div class="card-pf-items text-center">
                        <p>{{ app.meta_description }}</p>
                    </div>
                    {% endif %}
                </div>
                <div class="card-pf-view-checkbox">
                    <a href="{{ app.meta_launch_url }}"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
