{% extends "email/base.html" %}

{% load i18n %}

{% block content %}
<tr>
    <td class="alert alert-brand">
        {{ title }}
    </td>
</tr>
<tr>
    <td class="content-wrap">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="content-block">
                    {{ body }}
                </td>
            </tr>
            {% if key_value %}
            <tr>
                <td class="content-block aligncenter">
                    <table class="invoice">
                        <tr>
                            <td>{% trans "Additional Information" %}</td>
                        </tr>
                        <tr>
                            <td>
                                <table class="invoice-items" cellpadding="0" cellspacing="0">
                                    {% for key, value in key_value.items %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td class="alignright">{{ value }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endif %}
        </table>
    </td>
</tr>
{% endblock %}
