{% extends "email/base.html" %}

{% load i18n %}
{% load humanize %}

{% block content %}
<tr>
  <td align="center">
    <h1>
      {% blocktrans with username=user.username %}
      Hi {{ username }},
      {% endblocktrans %}
    </h1>
  </td>
</tr>
<tr>
  <td align="center">
    <table border="0">
      <tr>
        <td align="center" style="max-width: 300px; padding: 20px 0; color: #212124;">
          {% blocktrans %}
          You recently requested to change your password for your authentik account. Use the button below to set a new password.
          {% endblocktrans %}
        </td>
      </tr>
      <tr>
        <td align="center" class="btn btn-primary">
          <a id="confirm" href="{{ url }}" rel="noopener noreferrer" target="_blank">{% trans 'Reset Password' %}</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
{% endblock %}

{% block sub_content %}
<tr>
  <td style="padding: 20px; font-size: 12px; color: #212124;" align="center">
    {% blocktrans with expires=expires|naturaltime %}
    If you did not request a password change, please ignore this Email. The link above is valid for {{ expires }}.
    {% endblocktrans %}
  </td>
</tr>
{% endblock %}
