{% extends "email/base.html" %}

{% load authentik_stages_email %}
{% load i18n %}

{% block content %}
  <tr>
    <td class="alert alert-brand">
      {% trans 'authentik Test-Email' %}
    </td>
  </tr>

  <tr>
    <td class="content-wrap">
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="content-block">
            {% blocktrans %}
              This is a test email to inform you, that you've successfully configured authentik emails.
            {% endblocktrans %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
{% endblock %}
