[bumpversion]
current_version = 2021.3.3
tag = True
commit = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)\-?(?P<release>.*)
serialize = 
	{major}.{minor}.{patch}-{release}
	{major}.{minor}.{patch}
message = release: {new_version}
tag_name = version/{new_version}

[bumpversion:part:release]
optional_value = stable
first_value = beta
values = 
	alpha
	beta
	stable

[bumpversion:file:website/docs/installation/docker-compose.md]

[bumpversion:file:website/docs/installation/kubernetes.md]

[bumpversion:file:docker-compose.yml]

[bumpversion:file:helm/values.yaml]

[bumpversion:file:helm/README.md]

[bumpversion:file:helm/Chart.yaml]

[bumpversion:file:.github/workflows/release.yml]

[bumpversion:file:authentik/__init__.py]

[bumpversion:file:outpost/pkg/version.go]

[bumpversion:file:web/src/constants.ts]
