root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.html]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2

[*.go]
indent_style = tab

[Makefile]
indent_style = tab
