# Prettier Ignorefile

## Static Files
**/LICENSE

authentik/stages/**/*

## Build asset directories
coverage
dist
out
.docusaurus
website/docs/developer-docs/api/**/*

## Environment
*.env

## Secrets
*.secrets

## Yarn
.yarn/**/*

## Node
node_modules
coverage

## Configs
*.log
*.yaml
*.yml

# Templates
# TODO: Rename affected files to *.template.* or similar.
*.html
*.md

## Import order matters
poly.ts
src/locale-codes.ts
src/locales/

# Storybook
storybook-static/
.storybook/css-import-maps*

