[MASTER]

disable =
    arguments-differ,
    no-self-use,
    fixme,
    locally-disabled,
    too-many-ancestors,
    too-few-public-methods,
    import-outside-toplevel,
    bad-continuation,
    signature-differs,
    similarities,
    cyclic-import,
    protected-access,
    unsubscriptable-object # remove when pylint is upgraded to 2.6

load-plugins=pylint_django,pylint.extensions.bad_builtin

extension-pkg-whitelist=lxml,xmlsec

# Allow constants to be shorter than normal (and lowercase, for settings.py)
const-rgx=[a-zA-Z0-9_]{1,40}$

ignored-modules=django-otp
generated-members=xmlsec.constants.*,xmlsec.tree.*,xmlsec.template.*
ignore=migrations
max-attributes=12
max-branches=20
