[workspace]
members = ["crates/*"]
resolver = "3"

[workspace.package]
authors = ["Jens Langhammer"]
edition = "2024"
readme = "README.md"
homepage = "https://goauthentik.io"
repository = "https://github.com/goauthentik/authentik.git"
license-file = "LICENSE"
publish = false

[workspace.dependencies]
axum = { version = "0.8.6", features = ["http2", "macros", "ws"] }
axum-server = { version = "0.7.2", features = ["tls-rustls"] }
config = { version = "0.15.18", default-features = false, features = [
  "yaml",
  "async",
] }
clap = { version = "4.5.51", features = ["derive"] }
color-eyre = "0.6.5"
fork = "0.4.0"
glob = "0.3.3"
nix = { version = "0.30.1", features = ["signal"] }
pyo3 = "0.27.1"
rustls = { version = "0.23.35", features = ["fips", "custom-provider"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
serde_yaml_ng = "0.10.0"
shadow-rs = { version = "1.4.0", features = ["metadata"] }
signal-hook = "0.3.18"
tokio = { version = "1.48.0", features = ["full"] }
tower = "0.5.2"
tracing = "0.1.41"
tracing-log = "0.2.0"
tracing-subscriber = { version = "0.3.20", features = ["json"] }

authentik-config = { version = "0.0.0", path = "./crates/config" }
authentik-server = { version = "0.0.0", path = "./crates/server" }
authentik-worker = { version = "0.0.0", path = "./crates/worker" }

[profile.dev.package.backtrace]
opt-level = 3

[workspace.lints.rust]
semicolon_in_expressions_from_macros = "warn"
unreachable_pub = "warn"
unused_import_braces = "warn"
unused_qualifications = "warn"

[workspace.lints.rustdoc]
unescaped_backticks = "warn"

[workspace.lints.clippy]
branches_sharing_code = "warn"
cloned_instead_of_copied = "warn"
dbg_macro = "warn"
disallowed_types = "warn"
empty_line_after_outer_attr = "warn"
inefficient_to_string = "warn"
macro_use_imports = "warn"
map_flatten = "warn"
missing_enforced_import_renames = "warn"
mut_mut = "warn"
nonstandard_macro_braces = "warn"
semicolon_if_nothing_returned = "warn"
str_to_string = "warn"
todo = "warn"
unreadable_literal = "warn"
unseparated_literal_suffix = "warn"
