[workspace]
members = ["crates/*"]
resolver = "3"

[workspace.package]
authors = ["Jens Langhammer"]
edition = "2024"
readme = "README.md"
homepage = "https://goauthentik.io"
repository = "https://github.com/goauthentik/authentik.git"
license-file = "LICENSE"
publish = false

[workspace.dependencies]
argh = "0.1.13"
axum = { version = "0.8.8", features = ["http2", "macros", "ws"] }
axum-server = { version = "0.8.0", features = ["tls-rustls"] }
color-eyre = "0.6.5"
config = { version = "0.15.19", default-features = false, features = [
  "yaml",
  "async",
] }
eyre = "0.6.12"
glob = "0.3.3"
nix = { version = "0.30.1", features = ["signal"] }
pyo3 = "0.27.2"
rustls = { version = "0.23.36", features = ["fips", "custom-provider"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
serde_yaml_ng = "0.10.0"
signal-hook = "0.4.1"
tokio = { version = "1.49.0", features = ["full"] }
tower = "0.5.3"
tracing = "0.1.44"
tracing-log = "0.2.0"
tracing-subscriber = { version = "0.3.22", features = ["json"] }

authentik-config = { version = "0.0.0", path = "./crates/config" }
authentik-server = { version = "0.0.0", path = "./crates/server" }
authentik-worker = { version = "0.0.0", path = "./crates/worker" }

[workspace.lints.rust]
semicolon_in_expressions_from_macros = "warn"
unreachable_pub = "warn"
unused_import_braces = "warn"
unused_qualifications = "warn"

[workspace.lints.rustdoc]
unescaped_backticks = "warn"

[workspace.lints.clippy]
branches_sharing_code = "warn"
cloned_instead_of_copied = "warn"
dbg_macro = "warn"
disallowed_types = "warn"
empty_line_after_outer_attr = "warn"
inefficient_to_string = "warn"
macro_use_imports = "warn"
map_flatten = "warn"
missing_enforced_import_renames = "warn"
mut_mut = "warn"
nonstandard_macro_braces = "warn"
semicolon_if_nothing_returned = "warn"
str_to_string = "warn"
todo = "warn"
unreadable_literal = "warn"
unseparated_literal_suffix = "warn"
