# Fallback
*                               @goauthentik/backend @goauthentik/frontend
# Backend
authentik/                      @goauthentik/backend
blueprints/                     @goauthentik/backend
cmd/                            @goauthentik/backend
internal/                       @goauthentik/backend
lifecycle/                      @goauthentik/backend
schemas/                        @goauthentik/backend
scripts/                        @goauthentik/backend
tests/                          @goauthentik/backend
pyproject.toml                  @goauthentik/backend
poetry.lock                     @goauthentik/backend
# Infrastructure
.github/                        @goauthentik/infrastructure
Dockerfile                      @goauthentik/infrastructure
*Dockerfile                     @goauthentik/infrastructure
.dockerignore                   @goauthentik/infrastructure
docker-compose.yml              @goauthentik/infrastructure
# Web
web/                            @goauthentik/frontend
# Docs & Website
website/                        @goauthentik/docs
# Security
website/docs/security/          @goauthentik/security
