-r requirements.txt
-r client-packages/allauth/requirements.txt
coverage
isort
astroid==2.0.4
pylint==2.1.1
pylint-django==2.0.2
prospector==1.1.5
django-debug-toolbar
pycodestyle<2.4.0,>=2.0.0
bumpversion
unittest-xml-reporting
autopep8
bandit
bumpversion
twine
