:root {
    --ifm-color-primary: #fd4b2d;
    --ifm-color-primary-dark: #fd320f;
    --ifm-color-primary-darker: #fb2602;
    --ifm-color-primary-darkest: #cf1f02;
    --ifm-color-primary-light: #fd644b;
    --ifm-color-primary-lighter: #fd7159;
    --ifm-color-primary-lightest: #fe9786;
    --ifm-navbar-link-hover-color: var(--ifm-navbar-link-color);
}

.button.button--outline {
    color: var(--ifm-navbar-link-color) !important;
}

.navbar {
    background-color: var(--ifm-color-primary);
    box-shadow: none;
}

.navbar__title {
    display: none;
}

.hero--primary {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
}

.hero_image {
    flex-direction: column;
    justify-items: center;
}

.hero_image > img {
    max-height: 200px;
}
