:root {
    --ifm-color-primary: #fd4b2d;
    --ifm-color-primary-dark: #fd320f;
    --ifm-color-primary-darker: #fb2602;
    --ifm-color-primary-darkest: #cf1f02;
    --ifm-color-primary-light: #fd644b;
    --ifm-color-primary-lighter: #fd7159;
    --ifm-color-primary-lightest: #fe9786;
    --white: #e3e3e3;
    --ifm-navbar-link-color: var(--white);
    --ifm-navbar-link-hover-color: var(--ifm-color-gray-1000);
}

.button.button--outline {
    color: var(--white) !important;
    --ifm-button-border-color: var(--white) !important;
}

.button.button--outline:hover {
    color: var(--ifm-color-gray-1000) !important;
    --ifm-button-background-color: var(--white);
}

.navbar {
    background-color: var(--ifm-color-primary);
    box-shadow: none;
}

.navbar__logo {
    margin: 0 0.75rem;
}

/* Match color of light/dark theme switch */
.navbar__items--right svg,
.navbar-sidebar__brand svg {
    color: var(--white);
    stroke: var(--white);
}

.hero--primary {
    background: radial-gradient(
        circle,
        rgba(47, 6, 75, 1) 0%,
        var(--ifm-color-primary) 50%
    );
    padding-bottom: 5.3rem !important;
    /* fix aliasing at the edge */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw));
}

.before-after-slider img {
    max-width: none;
}

.header-github-link:hover {
    opacity: 0.6;
}

.header-github-link::before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
        no-repeat;
}

.header-discord-link:hover {
    opacity: 0.6;
}

.header-discord-link::before {
    content: "";
    width: 24px;
    height: 19px;
    display: flex;
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20127.14%2096.36%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22%E5%9B%BE%E5%B1%82_2%22%20data-name%3D%22%E5%9B%BE%E5%B1%82%202%22%3E%3Cg%20id%3D%22Discord_Logos%22%20data-name%3D%22Discord%20Logos%22%3E%3Cg%20id%3D%22Discord_Logo_-_Large_-_White%22%20data-name%3D%22Discord%20Logo%20-%20Large%20-%20White%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M107.7%2C8.07A105.15%2C105.15%2C0%2C0%2C0%2C81.47%2C0a72.06%2C72.06%2C0%2C0%2C0-3.36%2C6.83A97.68%2C97.68%2C0%2C0%2C0%2C49%2C6.83%2C72.37%2C72.37%2C0%2C0%2C0%2C45.64%2C0%2C105.89%2C105.89%2C0%2C0%2C0%2C19.39%2C8.09C2.79%2C32.65-1.71%2C56.6.54%2C80.21h0A105.73%2C105.73%2C0%2C0%2C0%2C32.71%2C96.36%2C77.7%2C77.7%2C0%2C0%2C0%2C39.6%2C85.25a68.42%2C68.42%2C0%2C0%2C1-10.85-5.18c.91-.66%2C1.8-1.34%2C2.66-2a75.57%2C75.57%2C0%2C0%2C0%2C64.32%2C0c.87.71%2C1.76%2C1.39%2C2.66%2C2a68.68%2C68.68%2C0%2C0%2C1-10.87%2C5.19%2C77%2C77%2C0%2C0%2C0%2C6.89%2C11.1A105.25%2C105.25%2C0%2C0%2C0%2C126.6%2C80.22h0C129.24%2C52.84%2C122.09%2C29.11%2C107.7%2C8.07ZM42.45%2C65.69C36.18%2C65.69%2C31%2C60%2C31%2C53s5-12.74%2C11.43-12.74S54%2C46%2C53.89%2C53%2C48.84%2C65.69%2C42.45%2C65.69Zm42.24%2C0C78.41%2C65.69%2C73.25%2C60%2C73.25%2C53s5-12.74%2C11.44-12.74S96.23%2C46%2C96.12%2C53%2C91.08%2C65.69%2C84.69%2C65.69Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E")
        no-repeat;
}

@media (min-width: 1600px) {
    #__docusaurus_skipToContent_fallback > div {
        align-self: center;
        max-width: 1600px;
        width: 1600px;
    }
}

.navbar .navbar__inner {
    margin: 0 auto;
    max-width: 1600px;
}

/* Load new font as Roboto */

@font-face {
    font-family: "superMario";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
}

body {
    font-family: "Roboto", sans-serif;
}

/* Container styles */
.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* styling for version selector in sidebar */
.theme-doc-sidebar-menu .dropdown {
    display: block;
    padding: 0;
}
.theme-doc-sidebar-menu .navbar__link {
    color: var(--ifm-menu-color);
}
.theme-doc-sidebar-menu .dropdown__menu {
    left: 0;
}
.theme-doc-sidebar-menu hr {
    margin-top: calc(var(--ifm-hr-margin-vertical) / 2);
}

/* Nav header background color on mobile */
.navbar-sidebar__brand,
.navbar-sidebar__items {
    background-color: var(--ifm-color-primary);
}
.navbar-sidebar__items .menu__link {
    color: var(--white);
}
