{% extends container_template|default:"administration/base.html" %}

{% load i18n %}
{% load authentik_utils %}
{% load static %}

{% block content %}
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-c-content">
        {% block above_form %}
        {% endblock %}
    </div>
</section>
<section class="pf-c-page__main-section">
    <div class="pf-l-stack">
        <div class="pf-l-stack__item">
            <div class="pf-c-card">
                <div class="pf-c-card__body">
                    <form id="main-form" action="" method="post" class="pf-c-form pf-m-horizontal" enctype="multipart/form-data">
                        {% include 'partials/form_horizontal.html' with form=form %}
                        {% block beneath_form %}
                        {% endblock %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="pf-c-modal-box__footer">
    <ak-spinner-button form="main-form">
        {% block action %}{% endblock %}
    </ak-spinner-button>&nbsp;
    <a class="pf-c-button pf-m-secondary" href="#/">{% trans "Cancel" %}</a>
</footer>
{% endblock %}

{% block scripts %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}
