{% extends "login/base.html" %}

{% load passbook_utils %}
{% load i18n %}

{% block card_title %}
{% trans 'Redirecting...' %}
{% endblock %}

{% block card %}
<form method="POST" action="{{ url }}">
    {% csrf_token %}
    {% for key, value in attrs.items %}
    <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}
    <div class="pf-c-form__group">
        <p>
            {% blocktrans with user=user %}
            You are logged in as {{ user }}.
            {% endblocktrans %}
            <a href="{% url 'passbook_flows:default-invalidation' %}">{% trans 'Not you?' %}</a>
        </p>
    </div>
    <div class="pf-c-form__group pf-m-action">
        <button class="pf-c-button pf-m-primary pf-m-block" type="submit">{% trans 'Continue' %}</button>
    </div>
</form>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
document.querySelector("form").submit();
</script>
{% endblock %}
