{% extends "login/base.html" %}

{% load passbook_utils %}
{% load i18n %}

{% block card %}
<form method="POST" class="pf-c-form">
    {% csrf_token %}
    <div class="pf-c-form__group">
        <h3>
            {% blocktrans with provider=provider.application.name %}
            You're about to sign into {{ provider }}
            {% endblocktrans %}
        </h3>
        <p>
            {% blocktrans with user=user %}
            You are logged in as {{ user }}.
            {% endblocktrans %}
            <a href="{% url 'passbook_flows:default-invalidation' %}">{% trans 'Not you?' %}</a>
        </p>
    </div>
    <div class="pf-c-form__group pf-m-action">
        <input class="pf-c-button pf-m-primary pf-m-block" type="submit" value="{% trans 'Continue' %}" />
    </div>
</form>
{% endblock %}
