.pf-c-page {
    height: 100dvh;
}

.pf-c-page__main {
    display: flex;
    flex-flow: column;
    scrollbar-gutter: stable;

    & > :first-child {
        display: flex;
        flex-grow: 1;
        flex-flow: column;
    }
}

.pf-c-page__main,
.pf-c-drawer__content,
.pf-c-page__drawer {
    z-index: auto !important;
    background-color: transparent;
}

.display-none {
    display: none;
}

ak-page-navbar {
    grid-area: header;
}

.ak-sidebar {
    grid-area: nav;
}

.pf-c-drawer__panel {
    z-index: var(--pf-global--ZIndex--xl);
}
