.pf-c-page__main {
    scrollbar-gutter: stable;
}

.pf-c-page__main,
.pf-c-drawer__content,
.pf-c-page__drawer {
    z-index: auto !important;
    background-color: transparent;
}

.display-none {
    display: none;
}

ak-page-navbar {
    grid-area: header;
}

.ak-sidebar {
    grid-area: nav;
}

.pf-c-drawer__panel {
    z-index: var(--pf-global--ZIndex--xl);
}
