{% extends "overview/base.html" %}

{% load i18n %}
{% load is_active %}

{% block nav_secondary %}
<ul class="nav navbar-nav navbar-persistent">
  <li class="{% is_active 'passbook_admin:overview' %}">
    <a href="{% url 'passbook_admin:overview' %}">{% trans 'Overview' %}</a>
  </li>
  <li class="{% is_active 'passbook_admin:applications' 'passbook_admin:application-create' 'passbook_admin:application-update' 'passbook_admin:application-delete' %}">
    <a href="{% url 'passbook_admin:applications' %}">{% trans 'Applications' %}</a>
  </li>
  <li class="{% is_active 'passbook_admin:sources' 'passbook_admin:source-create' 'passbook_admin:source-update' 'passbook_admin:source-delete' %}">
    <a href="{% url 'passbook_admin:sources' %}">{% trans 'Sources' %}</a>
  </li>
  <li class="{% is_active 'passbook_admin:providers' 'passbook_admin:provider-create' 'passbook_admin:provider-update' 'passbook_admin:provider-delete' %}">
    <a href="{% url 'passbook_admin:providers' %}">{% trans 'Providers' %}</a>
  </li>
  <li class="{% is_active 'passbook_admin:rules' 'passbook_admin:rule-create' 'passbook_admin:rule-update' 'passbook_admin:rule-delete' 'passbook_admin:rule-test' %}">
    <a href="{% url 'passbook_admin:rules' %}">{% trans 'Rules' %}</a>
  </li>
  <li class="{% is_active 'passbook_admin:invitations' 'passbook_admin:invitation-create' 'passbook_admin:invitation-update' 'passbook_admin:invitation-delete' 'passbook_admin:invitation-test' %}">
    <a href="{% url 'passbook_admin:invitations' %}">{% trans 'Invitations' %}</a>
  </li>
  <li>
    <a href="#">{% trans 'Users' %}</a>
  </li>
  <li class="{% is_active 'passbook_admin:audit-log' %}">
    <a href="{% url 'passbook_admin:audit-log' %}">{% trans 'Audit Log' %}</a>
  </li>
  <li class="{% is_active_app 'admin' %}">
    <a href="{% url 'admin:index' %}">{% trans 'Django' %}</a>
  </li>
</ul>
{% endblock %}
