{% extends "overview/base.html" %}

{% load i18n %}
{% load is_active %}

{% block nav_secondary %}
<ul class="nav navbar-nav navbar-persistent">
  <li class="{% is_active 'passbook_admin:overview' %}">
    <a href="{% url 'passbook_admin:overview' %}">{% trans 'Overview' %}</a>
  </li>
  <li class="{% is_active 'passbook_admin:applications' %}">
    <a href="{% url 'passbook_admin:applications' %}">{% trans 'Applications' %}</a>
  </li>
  <li class="{% is_active 'passbook_admin:sources' %}">
    <a href="{% url 'passbook_admin:sources' %}">{% trans 'Sources' %}</a>
  </li>
  <li>
    <a href="#">{% trans 'Rules' %}</a>
  </li>
  <li>
    <a href="#">{% trans 'Users' %}</a>
  </li>
  <li class="{% is_active_app 'admin' %}">
    <a href="{% url 'admin:index' %}">{% trans 'Django' %}</a>
  </li>
</ul>
{% endblock %}