{% extends "base/page.html" %}

{% load static %}
{% load i18n %}

{% load passbook_is_active %}
{% load passbook_utils %}

{% block head %}
{{ block.super }}
<script src="{% static 'node_modules/codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'node_modules/codemirror/addon/display/autorefresh.js' %}"></script>
<link rel="stylesheet" href="{% static 'node_modules/codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'node_modules/codemirror/theme/monokai.css' %}">
<script src="{% static 'node_modules/codemirror/mode/xml/xml.js' %}"></script>
<script src="{% static 'node_modules/codemirror/mode/yaml/yaml.js' %}"></script>
<script src="{% static 'node_modules/codemirror/mode/python/python.js' %}"></script>
{% endblock %}

{% block page_content %}
<pb-admin-sidebar class="pf-c-page__sidebar">
    <div class="pf-c-page__sidebar-body">
        <nav class="pf-c-nav" id="page-default-nav-example-primary-nav" aria-label="Global">
            <ul class="pf-c-nav__list">
                <li class="pf-c-nav__item">
                    <a href="#{% url 'passbook_admin:overview' %}"
                        class="pf-c-nav__link">
                        {% trans 'Overview' %}
                    </a>
                </li>
                <li class="pf-c-nav__item">
                    <a href="#{% url 'passbook_admin:applications' %}"
                        class="pf-c-nav__link">
                        {% trans 'Applications' %}
                    </a>
                </li>
                <li class="pf-c-nav__item">
                    <a href="#{% url 'passbook_admin:sources' %}"
                        class="pf-c-nav__link">
                        {% trans 'Sources' %}
                    </a>
                </li>
                <li class="pf-c-nav__item">
                    <a href="#{% url 'passbook_admin:providers' %}"
                        class="pf-c-nav__link">
                        {% trans 'Providers' %}
                    </a>
                </li>
                <li class="pf-c-nav__item pf-m-expanded">
                    <a href="" class="pf-c-nav__link" aria-expanded="true">{% trans 'Outposts' %}
                        <span class="pf-c-nav__toggle">
                            <i class="fas fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                    <section class="pf-c-nav__subnav">
                        <ul class="pf-c-nav__simple-list">
                            <li class="pf-c-nav__item">
                                <a href="#{% url 'passbook_admin:outposts' %}"
                                    class="pf-c-nav__link">
                                    {% trans 'Outposts' %}
                                </a>
                            </li>
                            <li class="pf-c-nav__item">
                                <a href="#{% url 'passbook_admin:outpost-service-connections' %}"
                                    class="pf-c-nav__link">
                                    {% trans 'Service Connections' %}
                                </a>
                            </li>
                        </ul>
                    </section>
                </li>
                <li class="pf-c-nav__item">
                    <a href="#{% url 'passbook_admin:property-mappings' %}"
                        class="pf-c-nav__link">
                        {% trans 'Property Mappings' %}
                    </a>
                </li>
                <li class="pf-c-nav__item pf-m-expanded">
                    <a href="" class="pf-c-nav__link" aria-expanded="true">{% trans 'Flows' %}
                        <span class="pf-c-nav__toggle">
                            <i class="fas fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                    <section class="pf-c-nav__subnav">
                        <ul class="pf-c-nav__simple-list">
                            <li class="pf-c-nav__item">
                                <a href="#{% url 'passbook_admin:flows' %}"
                                    class="pf-c-nav__link">
                                    {% trans 'Flows' %}
                                </a>
                            </li>
                            <li class="pf-c-nav__item">
                                <a href="#{% url 'passbook_admin:stage-bindings' %}"
                                    class="pf-c-nav__link">
                                    {% trans 'Bindings' %}
                                </a>
                            </li>
                            <li class="pf-c-nav__item">
                                <a href="#{% url 'passbook_admin:stages' %}"
                                    class="pf-c-nav__link">
                                    {% trans 'Stages' %}
                                </a>
                            </li>
                            <li class="pf-c-nav__item">
                                <a href="#{% url 'passbook_admin:stage-prompts' %}"
                                    class="pf-c-nav__link">
                                    {% trans 'Prompts' %}
                                </a>
                            </li>
                            <li class="pf-c-nav__item">
                                <a href="#{% url 'passbook_admin:stage-invitations' %}"
                                    class="pf-c-nav__link">
                                    {% trans 'Invitations' %}
                                </a>
                            </li>
                        </ul>
                    </section>
                </li>
                <li class="pf-c-nav__item pf-m-expanded">
                    <a href="" class="pf-c-nav__link" aria-expanded="true">{% trans 'Policies' %}
                        <span class="pf-c-nav__toggle">
                            <i class="fas fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </a>
                    <section class="pf-c-nav__subnav" aria-labelledby="subnav-title1">
                        <ul class="pf-c-nav__simple-list">
                            <li class="pf-c-nav__item">
                                <a href="#{% url 'passbook_admin:policies' %}"
                                    class="pf-c-nav__link">
                                    {% trans 'Policies' %}
                                </a>
                            </li>
                            <li class="pf-c-nav__item">
                                <a href="#{% url 'passbook_admin:policies-bindings' %}"
                                    class="pf-c-nav__link">
                                    {% trans 'Bindings' %}
                                </a>
                            </li>
                        </ul>
                    </section>
                </li>
                <li class="pf-c-nav__item">
                    <a href="#{% url 'passbook_admin:certificate_key_pair' %}"
                        class="pf-c-nav__link">
                        {% trans 'Certificates' %}
                    </a>
                </li>
                <li class="pf-c-nav__item">
                    <a href="#{% url 'passbook_admin:tokens' %}"
                        class="pf-c-nav__link">
                        {% trans 'Tokens' %}
                    </a>
                </li>
                <li class="pf-c-nav__item">
                    <a href="#{% url 'passbook_admin:users' %}"
                        class="pf-c-nav__link">
                        {% trans 'Users' %}
                    </a>
                </li>
                <li class="pf-c-nav__item">
                    <a href="#{% url 'passbook_admin:groups' %}"
                        class="pf-c-nav__link">
                        {% trans 'Groups' %}
                    </a>
                </li>
                <li class="pf-c-nav__item">
                    <a href="#{% url 'passbook_admin:tasks' %}"
                        class="pf-c-nav__link">
                        {% trans 'System Tasks' %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</pb-admin-sidebar>
<pb-admin-shell defaultUrl="{% url 'passbook_admin:overview' %}" role="main" class="pf-c-page__main" tabindex="-1" id="main-content">
    <div slot="body"></div>
</pb-admin-shell>
{% endblock %}
