:root {
    /* Ensures that the scrollbar color retains its visibility. */
    --ifm-scrollbar-color: hsl(0deg 0% 0% / 20%);

    &[data-theme="dark"] {
        --ifm-scrollbar-color: hsla(0, 0%, 100%, 0.2);
    }

    --ifm-menu-link-padding-horizontal: 0.5rem;
}

.thin-scrollbar {
    scrollbar-color: var(--ifm-scrollbar-color) transparent;
}

.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-1.menu__list-item,
.theme-doc-sidebar-item-category-level-1 {
    font-weight: 600;
    border-top-color: var(--ifm-category-color, var(--ifm-menu-color-background-active));
    border-radius: 0;
}

.theme-doc-sidebar-menu {
    .menu__link,
    .menu__caret,
    .menu__list-item-collapsible {
        border-radius: 0 !important;
    }

    .menu__list-item {
        position: relative;

        &:not(:first-child) {
            margin-block-start: 0;
        }
    }
    .menu__list .menu__list {
        margin-block-start: 0;
    }

    .menu__list .menu__list-item {
        padding-inline-start: calc(0.2rem);
        margin: 0;
    }

    .theme-doc-sidebar-item-category {
        & > .menu__list .menu__list-item::before {
            content: "";
            position: absolute;
            inset-inline-start: calc(0.2rem);
            inset-block: 0;
            width: 0.5px;
            background-color: var(--ifm-color-primary-contrast-foreground);
        }

        &:has(.menu__link--active) {
            --ifm-color-primary-contrast-foreground: var(--ifm-color-primary);
        }
    }
}
