/* #region Palette */

/* #region Monochrome */

:root {
    --pf-global--palette--black-100: #fafafa;
    --pf-global--palette--black-150: #f5f5f5;
    --pf-global--palette--black-200: #f0f0f0;
    --pf-global--palette--black-300: #d2d2d2;
    --pf-global--palette--black-400: #b8bbbe;
    --pf-global--palette--black-500: #8a8d90;
    --pf-global--palette--black-600: #6a6e73;
    --pf-global--palette--black-700: #4f5255;
    --pf-global--palette--black-800: #3c3f42;
    --pf-global--palette--black-850: #212427;
    --pf-global--palette--black-900: #151515;
    --pf-global--palette--black-1000: #030303;
    --pf-global--palette--white: #fff;
}

/* #endregion */

/* #region Blue */

:root {
    --pf-global--palette--blue-50: #e7f1fa;
    --pf-global--palette--blue-100: #bee1f4;
    --pf-global--palette--blue-200: #73bcf7;
    --pf-global--palette--blue-300: #2b9af3;
    --pf-global--palette--blue-400: #06c;
    --pf-global--palette--blue-500: #004080;
    --pf-global--palette--blue-600: #002952;
    --pf-global--palette--blue-700: #001223;
}
/* #endregion */

/* #region Cyan */

:root {
    --pf-global--palette--cyan-50: #f2f9f9;
    --pf-global--palette--cyan-100: #a2d9d9;
    --pf-global--palette--cyan-200: #73c5c5;
    --pf-global--palette--cyan-300: #009596;
    --pf-global--palette--cyan-400: #005f60;
    --pf-global--palette--cyan-500: #003737;
    --pf-global--palette--cyan-600: #002323;
    --pf-global--palette--cyan-700: #000f0f;
}

/* #endregion */

/* #region Gold */

:root {
    --pf-global--palette--gold-50: #fdf7e7;
    --pf-global--palette--gold-100: #f9e0a2;
    --pf-global--palette--gold-200: #f6d173;
    --pf-global--palette--gold-300: #f4c145;
    --pf-global--palette--gold-400: #f0ab00;
    --pf-global--palette--gold-500: #c58c00;
    --pf-global--palette--gold-600: #795600;
    --pf-global--palette--gold-700: #3d2c00;
}

/* #endregion */

/* #region Green */

:root {
    --pf-global--palette--green-50: #f3faf2;
    --pf-global--palette--green-100: #bde5b8;
    --pf-global--palette--green-200: #95d58e;
    --pf-global--palette--green-300: #6ec664;
    --pf-global--palette--green-400: #5ba352;
    --pf-global--palette--green-500: #3e8635;
    --pf-global--palette--green-600: #1e4f18;
    --pf-global--palette--green-700: #0f280d;
}

/* #endregion */

/* #region Light */

:root {
    --pf-global--palette--light-blue-100: #beedf9;
    --pf-global--palette--light-blue-200: #7cdbf3;
    --pf-global--palette--light-blue-300: #35caed;
    --pf-global--palette--light-blue-400: #00b9e4;
    --pf-global--palette--light-blue-500: #008bad;
    --pf-global--palette--light-blue-600: #005c73;
    --pf-global--palette--light-blue-700: #002d39;
}

/* #endregion */

/* #region Light */

:root {
    --pf-global--palette--light-green-100: #e4f5bc;
    --pf-global--palette--light-green-200: #c8eb79;
    --pf-global--palette--light-green-300: #ace12e;
    --pf-global--palette--light-green-400: #92d400;
    --pf-global--palette--light-green-500: #6ca100;
    --pf-global--palette--light-green-600: #486b00;
    --pf-global--palette--light-green-700: #253600;
}

/* #endregion */

/* #region Orange */

:root {
    --pf-global--palette--orange-50: #fff6ec;
    --pf-global--palette--orange-100: #f4b678;
    --pf-global--palette--orange-200: #ef9234;
    --pf-global--palette--orange-300: #ec7a08;
    --pf-global--palette--orange-400: #c46100;
    --pf-global--palette--orange-500: #8f4700;
    --pf-global--palette--orange-600: #773d00;
    --pf-global--palette--orange-700: #3b1f00;
}

/* #endregion */

/* #region Purple */

:root {
    --pf-global--palette--purple-50: #f2f0fc;
    --pf-global--palette--purple-100: #cbc1ff;
    --pf-global--palette--purple-200: #b2a3ff;
    --pf-global--palette--purple-300: #a18fff;
    --pf-global--palette--purple-400: #8476d1;
    --pf-global--palette--purple-500: #6753ac;
    --pf-global--palette--purple-600: #40199a;
    --pf-global--palette--purple-700: #1f0066;
}

/* #endregion */

/* #region Red */

:root {
    --pf-global--palette--red-50: #faeae8;
    --pf-global--palette--red-100: #c9190b;
    --pf-global--palette--red-200: #a30000;
    --pf-global--palette--red-300: #7d1007;
    --pf-global--palette--red-400: #470000;
    --pf-global--palette--red-500: #2c0000;
}

/* #endregion */

/* #endregion */

/* #region Background */

:root {
    --pf-global--BackgroundColor--100: #fff;
    --pf-global--BackgroundColor--150: #fafafa;
    --pf-global--BackgroundColor--200: #f0f0f0;
    --pf-global--BackgroundColor--light-100: #fff;
    --pf-global--BackgroundColor--light-200: #fafafa;
    --pf-global--BackgroundColor--light-300: #f0f0f0;
    --pf-global--BackgroundColor--dark-100: #151515;
    --pf-global--BackgroundColor--dark-200: #3c3f42;
    --pf-global--BackgroundColor--dark-300: #212427;
    --pf-global--BackgroundColor--dark-400: #4f5255;
    --pf-global--BackgroundColor--dark-transparent-100: rgba(3, 3, 3, 0.62);
    --pf-global--BackgroundColor--dark-transparent-200: rgba(3, 3, 3, 0.32);
}

/* #endregion */

/* #region Base */

:root {
    --pf-global--Color--100: #151515;
    --pf-global--Color--200: #6a6e73;
    --pf-global--Color--300: #3c3f42;
    --pf-global--Color--400: #8a8d90;
    --pf-global--Color--light-100: #fff;
    --pf-global--Color--light-200: #f0f0f0;
    --pf-global--Color--light-300: #d2d2d2;
    --pf-global--Color--dark-100: #151515;
    --pf-global--Color--dark-200: #6a6e73;
}

/* #endregion */

/* #region Active */

:root {
    --pf-global--active-color--100: #06c;
    --pf-global--active-color--200: #bee1f4;
    --pf-global--active-color--300: #2b9af3;
    --pf-global--active-color--400: #73bcf7;
}

/* #endregion */

/* #region Disabled */

:root {
    --pf-global--disabled-color--100: #6a6e73;
    --pf-global--disabled-color--200: #d2d2d2;
    --pf-global--disabled-color--300: #f0f0f0;
}

/* #endregion */

/* #region Primary */

:root {
    --pf-global--primary-color--100: #06c;
    --pf-global--primary-color--200: #004080;
    --pf-global--primary-color--light-100: #73bcf7;
    --pf-global--primary-color--dark-100: #06c;
}

/* #endregion */

/* #region Secondary */

:root {
    --pf-global--secondary-color--100: #6a6e73;
}

/* #endregion */

/* #region Default */

:root {
    --pf-global--default-color--100: #73c5c5;
    --pf-global--default-color--200: #009596;
    --pf-global--default-color--300: #003737;
}

/* #endregion */

/* #region Success */

:root {
    --pf-global--success-color--100: #3e8635;
    --pf-global--success-color--200: #1e4f18;
}

/* #endregion */

/* #region Info */

:root {
    --pf-global--info-color--100: #2b9af3;
    --pf-global--info-color--200: #002952;
}

/* #endregion */

/* #region Warning */

:root {
    --pf-global--warning-color--100: #f0ab00;
    --pf-global--warning-color--200: #795600;
}

/* #endregion */

/* #region Danger */

:root {
    --pf-global--danger-color--100: #c9190b;
    --pf-global--danger-color--200: #a30000;
    --pf-global--danger-color--300: #470000;
}

/* #endregion */

/* #region Link */

:root {
    --pf-global--link--Color: #06c;
    --pf-global--link--Color--hover: #004080;
    --pf-global--link--Color--light: #2b9af3;
    --pf-global--link--Color--light--hover: #73bcf7;
    --pf-global--link--Color--dark: #06c;
    --pf-global--link--Color--dark--hover: #004080;
    --pf-global--link--Color--visited: #40199a;
    --pf-global--link--TextDecoration: none;
    --pf-global--link--TextDecoration--hover: underline;
}

/* #endregion */

/* #region Icon */

:root {
    --pf-global--icon--Color--light: #6a6e73;
    --pf-global--icon--Color--dark: #151515;
}
/* #endregion */
