/* #region Generic Families */

:root {
    --ak-generic-serif: serif;
    --ak-generic-sans-serif: "RedHatText", sans-serif;
    --ak-generic-monospace: "RedHatMono", "Fira Code", "Courier New", monospace;
    --ak-generic-symbols: "Noto Sans Symbols", "Segoe UI Symbol", "Apple Symbols", sans-serif;
    --ak-generic-emoji:
        "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", emoji, sans-serif;
    --ak-generic-body: var(--ak-generic-sans-serif);
    --ak-generic-heading: var(--ak-generic-body);
    --ak-generic-display: "RedHatDisplay", var(--ak-generic-heading);
}

/* #endregion */

/* #region Font Families */

:root {
    --ak-font-family-sans-serif: var(--ak-generic-sans-serif);
    --ak-font-family-heading: var(--ak-generic-heading);
    --ak-font-family-monospace: var(--ak-generic-monospace);
}

/* #endregion */

/* #region PF Mapping */

:root {
    --pf-global--FontFamily--sans-serif: var(--ak-font-family-sans-serif);
    --pf-global--FontFamily--heading--sans-serif: var(--ak-generic-display);
    --pf-global--FontFamily--monospace: var(--ak-font-family-monospace);
    --pf-global--FontFamily--redhat-updated--sans-serif: var(--ak-font-family-sans-serif);
    --pf-global--FontFamily--redhat-updated--heading--sans-serif: var(--ak-generic-display);
}

/* #endregion */

/* #region Font Sizes and Weights */

:root {
    --pf-global--FontSize--4xl: 2.25rem;
    --pf-global--FontSize--3xl: 1.75rem;
    --pf-global--FontSize--2xl: 1.5rem;
    --pf-global--FontSize--xl: 1.25rem;
    --pf-global--FontSize--lg: 1.125rem;
    --pf-global--FontSize--md: 1rem;
    --pf-global--FontSize--sm: 0.875rem;
    --pf-global--FontSize--xs: 0.75rem;
    --pf-global--FontWeight--light: 300;
    --pf-global--FontWeight--normal: 400;
    --pf-global--FontWeight--semi-bold: 700;
    --pf-global--FontWeight--overpass--semi-bold: 500;
    --pf-global--FontWeight--bold: 700;
    --pf-global--FontWeight--overpass--bold: 600;
    --pf-global--LineHeight--sm: 1.3;
    --pf-global--LineHeight--md: 1.5;
}

/* #endregion */
