:root {
    --pf-global--FontSize--4xl: 2.25rem;
    --pf-global--FontSize--3xl: 1.75rem;
    --pf-global--FontSize--2xl: 1.5rem;
    --pf-global--FontSize--xl: 1.25rem;
    --pf-global--FontSize--lg: 1.125rem;
    --pf-global--FontSize--md: 1rem;
    --pf-global--FontSize--sm: 0.875rem;
    --pf-global--FontSize--xs: 0.75rem;
    --pf-global--FontWeight--light: 300;
    --pf-global--FontWeight--normal: 400;
    --pf-global--FontWeight--semi-bold: 700;
    --pf-global--FontWeight--overpass--semi-bold: 500;
    --pf-global--FontWeight--bold: 700;
    --pf-global--FontWeight--overpass--bold: 600;
    --pf-global--LineHeight--sm: 1.3;
    --pf-global--LineHeight--md: 1.5;
}

:root {
    --pf-global--FontFamily--sans-serif:
        "RedHatText", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--heading--sans-serif:
        "RedHatDisplay", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--monospace:
        "Liberation Mono", consolas, "SFMono-Regular", menlo, monaco, "Courier New", monospace;
    --pf-global--FontFamily--redhat-updated--sans-serif:
        "RedHatTextUpdated", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--redhat-updated--heading--sans-serif:
        "RedHatDisplayUpdated", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--redhat--monospace:
        "RedHatMono", "Liberation Mono", consolas, "SFMono-Regular", menlo, monaco, "Courier New",
        monospace;
    --pf-global--FontFamily--redhatVF--sans-serif:
        "RedHatTextVF", "RedHatText", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--redhatVF--heading--sans-serif:
        "RedHatDisplayVF", "RedHatDisplay", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--redhatVF--monospace:
        "RedHatMonoVF", "RedHatMono", "Liberation Mono", consolas, "SFMono-Regular", menlo, monaco,
        "Courier New", monospace;
    --pf-global--FontFamily--overpass--sans-serif:
        "overpass", overpass, "open sans", -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
        "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    --pf-global--FontFamily--overpass--monospace:
        "overpass-mono", overpass-mono, "SFMono-Regular", menlo, monaco, consolas,
        "Liberation Mono", "Courier New", monospace;
}
