/* #region Document */

html,
body {
    height: auto;
    min-height: 100dvh;
}

body {
    background-color: var(--ak-global--background-color, var(--pf-global--BackgroundColor--150));

    &::before {
        content: "";
        position: fixed;
        inset: 0;
        pointer-events: none;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: local;
        background-image: none;
        z-index: -1;

        @media (min-width: 35rem) and (min-height: 17.5rem) {
            background-image: var(--ak-global--background-image, none);
        }
    }
}

/* #endregion */

html > form > input {
    position: absolute;
    top: -2000px;
    left: -2000px;
}

/* #region Dark Theme */

html[data-theme="dark"] {
    /* #region Document */

    body {
        color-scheme: dark;
    }

    body:has(ak-flow-executor) {
        background-color: var(--pf-global--BackgroundColor--150);
    }

    /* #endregion */
}

/* #endregion */
