/* #region Document */

html,
body {
    height: auto;
    min-height: 100dvh;
}

body {
    background-color: var(
        --ak-global--background-color,
        var(--pf-global--BackgroundColor--200, Canvas)
    );
    color: var(--pf-global--Color--100, CanvasText);
    &::before {
        content: "";
        position: fixed;
        inset: 0;
        pointer-events: none;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: local;
        background-image: none;
        z-index: -1;

        @media (min-width: 35rem) and (min-height: 17.5rem) {
            background-image: var(--ak-global--background-image, none);
        }
    }
}

[data-dialog-count] {
    overscroll-behavior: none;
    overflow: hidden;
}

.ak-c-safe-mode {
    position: fixed;
    z-index: 9999999;
    inset-block-end: 0;
    inset-inline-end: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--pf-global--FontSize--sm, 0.75rem);
    font-weight: bold;
    color: var(--pf-global--Color--100, CanvasText);
    background-color: var(--pf-global--BackgroundColor--200, Canvas);
    opacity: 0.75;
    padding: var(--pf-global--spacer--sm, 0.5rem);
    border-start-start-radius: 8px;
}

/* #endregion */

html > form > input {
    position: absolute;
    top: -2000px;
    left: -2000px;
}

/* #region Light Theme */

html[data-theme="light"] body {
    color-scheme: light;
}

/* #endregion */

/* #region Dark Theme */

html[data-theme="dark"] body {
    color-scheme: dark;

    &:has(ak-flow-executor) {
        background-color: var(--pf-global--BackgroundColor--150);
    }
}

/* #endregion */
