/* #region Root */
:root {
    --ak-accent: #fd4b2d;

    --ak-dark-foreground: #fafafa;
    --ak-dark-background: #18191a;
    --ak-dark-background-light: #1c1e21;
    --ak-dark-background-lighter: #2b2e33;

    --ak-global--background-contrast: var(--pf-global--Color--100);

    /* Minimum width after which the sidebar becomes automatic */
    --ak-sidebar--minimum-auto-width: 80rem;

    --pf-global--disabled-color--100: GrayText;
    --pf-global--disabled-color--200: color-mix(in srgb, GrayText 100%, transparent 100%);
    --pf-global--disabled-color--300: color-mix(in srgb, GrayText 75%, Canvas 100%);
}

/* #endregion */

/* #region Dark theme */

html[data-theme="dark"] {
    --pf-global--Color--100: var(--pf-global--Color--light-100) !important;
    --pf-global--Color--200: var(--pf-global--Color--light-200) !important;
    --pf-global--Color--300: var(--pf-global--Color--light-300) !important;

    /* TODO: We've seemed to have drifted from PF's dark-100 usage. Revisit this after PF 5. */
    --pf-global--BackgroundColor--100: var(--pf-global--BackgroundColor--dark-100) !important;

    --pf-global--BackgroundColor--dark-100: #18191a !important;
    --pf-global--BackgroundColor--150: var(--pf-global--BackgroundColor--dark-100) !important;
    --pf-global--BackgroundColor--200: var(--pf-global--BackgroundColor--dark-200) !important;
    --pf-global--BackgroundColor--300: var(--pf-global--BackgroundColor--dark-300) !important;

    --pf-global--BorderColor--100: var(--pf-global--palette--black-800) !important;
    --pf-global--BorderColor--200: var(--pf-global--palette--black-500) !important;
    --pf-global--BorderColor--300: var(--pf-global--palette--black-300) !important;

    --pf-global--link--Color: var(--pf-global--link--Color--light) !important;
    --pf-global--link--Color--hover: var(--pf-global--link--Color--light--hover) !important;

    --pf-global--disabled-color--100: color-mix(in srgb, GrayText 100%, CanvasText 25%);
    --pf-global--disabled-color--200: color-mix(in srgb, GrayText 10%, transparent 100%);

    /* #region Dispositions */

    /* TODO: Revisit this after PF 5. */

    --pf-global--default-color--100: var(--pf-global--palette--cyan-100);
    --pf-global--default-color--300: var(--pf-global--palette--cyan-200);

    --pf-global--info-color--100: var(--pf-global--palette--blue-200);
    --pf-global--info-color--200: var(--pf-global--palette--blue-50);

    --pf-global--warning-color--100: var(--pf-global--palette--gold-300);
    --pf-global--warning-color--200: var(--pf-global--palette--gold-50);

    --pf-global--danger-color--100: var(--pf-global--palette--red-100);
    --pf-global--danger-color--200: var(--pf-global--palette--red-50);

    --pf-global--success-color--100: var(--pf-global--palette--green-300);
    --pf-global--success-color--200: var(--pf-global--palette--green-50);

    /* #endregion */
}

/* #endregion */
