/* #region Root */
:root {
    --ak-accent: #fd4b2d;

    --ak-dark-foreground: #fafafa;
    --ak-dark-background: #18191a;
    --ak-dark-background-light: #1c1e21;
    --ak-dark-background-lighter: #2b2e33;

    --ak-global--background-contrast: var(--pf-global--Color--100);

    /* Minimum width after which the sidebar becomes automatic */
    --ak-sidebar--minimum-auto-width: 80rem;
}

/* #endregion */

/* #region Dark theme */

/**
 * @see PatternFly's variables.css for reference:
 *
 * @remarks
 * PF4 components have an assumption of a CSS order which doesn't align with
 * how we structure our web component styles.
 * Colors which have been adjusted are indicated in the comments.
 *
 */
html[data-theme="dark"] {
    --pf-global--palette--black-50: #e0e0e0;
    --pf-global--palette--black-100: #c6c7c8;
    --pf-global--palette--black-200: #aaabac;
    --pf-global--palette--black-300: #868789;
    --pf-global--palette--black-400: #57585a;
    --pf-global--palette--black-500: #444548;
    --pf-global--palette--black-600: #36373a;
    --pf-global--palette--black-700: #26292d;
    --pf-global--palette--black-800: #1b1d21;
    --pf-global--palette--black-900: #0f1214;

    --pf-global--palette--red-9999: #fe5142;
    --pf-global--palette--red-8888: #ff7468;

    --pf-global--palette--blue-300: #1fa7f8;

    --pf-global--BackgroundColor--100: #1b1d21;
    --pf-global--BackgroundColor--150: #212427;
    --pf-global--BackgroundColor--200: #0f1214;
    --pf-global--BackgroundColor--300: #26292d;
    --pf-global--BackgroundColor--400: #36373a;

    --pf-global--BorderColor--100: #444548;
    --pf-global--BorderColor--200: #444548;
    --pf-global--BorderColor--300: #57585a;
    --pf-global--BorderColor--400: #aaabac;

    --pf-global--Color--100: #e0e0e0;
    --pf-global--Color--200: #aaabac;

    --pf-global--active-color--100: #1fa7f8;

    --pf-global--primary-color--300: #06c;
    /* --pf-global--primary-color--100: #1fa7f8; */
    --pf-global--primary-color--100: var(--pf-global--primary-color--300);

    --pf-global--link--Color: #1fa7f8;
    --pf-global--link--Color--hover: #73bcf7;
    --pf-global--link--Color--visited: #a18fff;

    --pf-global--disabled-color--100: #57585a;
    --pf-global--disabled-color--200: #444548;
    --pf-global--disabled-color--300: #aaabac;

    --pf-global--icon--Color--light: #aaabac;
    --pf-global--icon--Color--dark: #aaabac;

    --pf-global--Color--dark-100: #e0e0e0;
    --pf-global--Color--dark-200: #aaabac;

    --pf-global--Color--light-100: #e0e0e0;
    --pf-global--Color--light-200: #aaabac;
    --pf-global--Color--light-300: #3c3f42;

    --pf-global--BorderColor--dark-100: #444548;
    --pf-global--BorderColor--light-100: #444548;

    --pf-global--primary-color--light-100: #1fa7f8;
    --pf-global--primary-color--dark-100: #1fa7f8;

    --pf-global--link--Color--light: #1fa7f8;
    --pf-global--link--Color--light--hover: #73bcf7;
    --pf-global--link--Color--dark: #1fa7f8;
    --pf-global--link--Color--dark--hover: #73bcf7;

    --pf-global--BackgroundColor--light-100: #1b1d21;
    --pf-global--BackgroundColor--light-200: #0f1214;
    --pf-global--BackgroundColor--light-300: #26292d;
    --pf-global--BackgroundColor--dark-100: #1b1d21;
    --pf-global--BackgroundColor--dark-200: #0f1214;
    --pf-global--BackgroundColor--dark-300: #26292d;
    --pf-global--BackgroundColor--dark-400: #36373a;

    --pf-global--BoxShadow--sm:
        0 0.0625rem 0.125rem 0 rgba(3, 3, 3, 0.48), 0 0 0.125rem 0 rgba(3, 3, 3, 0.24);
    --pf-global--BoxShadow--sm-top: 0 -0.125rem 0.25rem -0.0625rem rgba(3, 3, 3, 0.64);
    --pf-global--BoxShadow--sm-right: 0.125rem 0 0.25rem -0.0625rem rgba(3, 3, 3, 0.64);
    --pf-global--BoxShadow--sm-bottom: 0 0.125rem 0.25rem -0.0625rem rgba(3, 3, 3, 0.64);
    --pf-global--BoxShadow--sm-left: -0.125rem 0 0.25rem -0.0625rem rgba(3, 3, 3, 0.64);
    --pf-global--BoxShadow--md:
        0 0.25rem 0.5rem 0rem rgba(3, 3, 3, 0.48), 0 0 0.25rem 0 rgba(3, 3, 3, 0.24);
    --pf-global--BoxShadow--md-top: 0 -0.5rem 0.5rem -0.375rem rgba(3, 3, 3, 0.72);
    --pf-global--BoxShadow--md-right: 0.5rem 0 0.5rem -0.375rem rgba(3, 3, 3, 0.72);
    --pf-global--BoxShadow--md-bottom: 0 0.5rem 0.5rem -0.375rem rgba(3, 3, 3, 0.72);
    --pf-global--BoxShadow--md-left: -0.5rem 0 0.5rem -0.375rem rgba(3, 3, 3, 0.72);
    --pf-global--BoxShadow--lg:
        0 0.5rem 1rem 0 rgba(3, 3, 3, 0.64), 0 0 0.375rem 0 rgba(3, 3, 3, 0.32);
    --pf-global--BoxShadow--lg-top: 0 -0.75rem 0.75rem -0.5rem rgba(3, 3, 3, 0.72);
    --pf-global--BoxShadow--lg-right: 0.75rem 0 0.75rem -0.5rem rgba(3, 3, 3, 0.72);
    --pf-global--BoxShadow--lg-bottom: 0 0.75rem 0.75rem -0.5rem rgba(3, 3, 3, 0.72);
    --pf-global--BoxShadow--lg-left: -0.75rem 0 0.75rem -0.5rem rgba(3, 3, 3, 0.72);
    --pf-global--BoxShadow--xl: 0 1rem 2rem 0 rgba(3, 3, 3, 0.64), 0 0 0.5rem 0 rgba(3, 3, 3, 0.4);
    --pf-global--BoxShadow--xl-top: 0 -1rem 1rem -0.5rem rgba(3, 3, 3, 0.8);
    --pf-global--BoxShadow--xl-right: 1rem 0 1rem -0.5rem rgba(3, 3, 3, 0.8);
    --pf-global--BoxShadow--xl-bottom: 0 1rem 1rem -0.5rem rgba(3, 3, 3, 0.8);
    --pf-global--BoxShadow--xl-left: -1rem 0 1rem -0.5rem rgba(3, 3, 3, 0.8);
    --pf-global--BoxShadow--inset: inset 0 0 0.625rem 0 #030303;

    /* #region Dispositions */

    /* TODO: Revisit this after PF 5. */

    --pf-global--default-color--100: var(--pf-global--palette--cyan-100);
    --pf-global--default-color--300: var(--pf-global--palette--cyan-200);

    --pf-global--info-color--100: var(--pf-global--palette--blue-200);
    --pf-global--info-color--200: var(--pf-global--palette--blue-50);

    --pf-global--warning-color--100: #f0ab00;
    /* --pf-global--warning-color--100: var(--pf-global--palette--gold-300); */
    --pf-global--warning-color--200: #f4c145;
    /* --pf-global--warning-color--200: var(--pf-global--palette--gold-50); */

    --pf-global--danger-color--100: var(--pf-global--palette--red-100);
    --pf-global--danger-color--200: var(--pf-global--palette--red-50);

    --pf-global--success-color--100: #5ba352;
    --pf-global--success-color--200: var(--pf-global--palette--green-50);

    /* #endregion */
}

/* #endregion */
