/* #region Root */

:root {
    --ak-accent: #fd4b2d;

    --ak-dark-foreground: #fafafa;
    --ak-dark-foreground-darker: #bebebe;
    --ak-dark-foreground-link: #5a5cb9;
    --ak-dark-background: #18191a;
    --ak-dark-background-darker: #000000;
    --ak-dark-background-light: #1c1e21;
    --ak-dark-background-light-ish: #212427;
    --ak-dark-background-lighter: #2b2e33;

    --ak-global--background-contrast: var(--pf-global--Color--100);

    /* PatternFly likes to override global variables for some reason */
    --ak-global--Color--100: var(--pf-global--Color--100);

    /* Minimum width after which the sidebar becomes automatic */
    --ak-sidebar--minimum-auto-width: 80rem;

    --pf-global--disabled-color--100: GrayText;
    --pf-global--disabled-color--200: color-mix(in srgb, GrayText 100%, CanvasText 75%);
    --pf-global--disabled-color--300: color-mix(in srgb, GrayText 100%, CanvasText 100%);
    --pf-c-nav__link--PaddingTop: 0.5rem;
    --pf-c-nav__link--PaddingRight: 0.5rem;
    --pf-c-nav__link--PaddingBottom: 0.5rem;
    --pf-c-nav__link--PaddingLeft: 0.5rem;
}

/* #endregion */

/* #region Dark theme */

html[data-theme="dark"],
:host([theme="dark"]) {
    /* TODO: We've seemed to have drifted from PF's dark-100 usage. Revisit this after PF 5. */
    --pf-global--BackgroundColor--100: #1c1e21 !important;
    --pf-global--BackgroundColor--dark-100: #18191a !important;
    --pf-global--BackgroundColor--150: var(--pf-global--BackgroundColor--dark-100) !important;
    --pf-global--BackgroundColor--200: var(--pf-global--BackgroundColor--dark-200) !important;
    --pf-global--BackgroundColor--300: var(--pf-global--BackgroundColor--dark-300) !important;
    --pf-global--Color--300: var(--ak-dark-foreground-darker) !important;
    --pf-global--Color--100: var(--ak-dark-foreground) !important;
    --ak-global--Color--100: var(--ak-dark-foreground) !important;
    --pf-global--BorderColor--100: var(--ak-dark-background-lighter) !important;
    --pf-global--link--Color: var(--pf-global--link--Color--light) !important;
    --pf-global--link--Color--hover: var(--pf-global--link--Color--light--hover) !important;
}

/* #endregion */
