{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
        "loose": false,
        "externalHelpers": false,
        // Requires v1.2.50 or upper and requires target to be es2016 or upper.
        "keepClassNames": false
    },
    "minify": true,
    "env": {
        "targets": {
            "edge": "17",
            "ie": "11"
        },
        "mode": "entry"
    }
}
