{% extends "base/page.html" %}

{% load i18n %}
{% load authentik_utils %}

{% block body %}
<div class="pf-c-card">
    <div class="pf-c-card__header pf-c-title pf-m-md">
        {% trans 'Reset your password' %}
    </div>
    <div class="pf-c-card__body">
        <a class="pf-c-button pf-m-primary ak-root-link" href="{% url 'authentik_flows:configure' stage_uuid=stage.stage_uuid %}?next=/%23{% url 'authentik_core:user-settings' %}">
            {% trans 'Change password' %}
        </a>
    </div>
</div>
{% endblock %}
