:root {
    --ak-c-pagination--JustifyContent: flex-end;
    --ak-c-pagination--JustifyContent--spaced: space-between;
    --ak-c-pagination--Inset: 0;
    --ak-c-pagination--MinWidth: 3em;
    --ak-c-pagination--full--MinWidth: 8em;

    --ak-c-pagination--PaddingRight: var(--ak-c-pagination--inset);
    --ak-c-pagination--PaddingLeft: var(--ak-c-pagination--inset);
    --ak-c-pagination--Gap: var(--pf-global--spacer--lg);
    --ak-c-pagination--nav-buttons--Gap: var(--pf-global--spacer--md);

    --ak-c-pagination--m-compact--Gap: var(--pf-global--spacer--md);
    --ak-c-pagination--m-compact--nav-buttons--Gap: var(--pf-global--spacer--md);

    --ak-c-pagination--FontSize: var(--pf-global--FontSize--sm);

    --ak-c-pagination--Color: var(--pf-global--Color--100);
    --ak-c-pagination--total-count--Color: var(--pf-global--Color--100);
    --ak-c-pagination--indicator--Color: var(--pf-global--Color--200);
    --ak-c-pagination--indicator--hover--Color: var(--pf-global--Color--100);
    --ak-c-pagination--indicator--focus--Color: var(--pf-global--Color--100);
    --ak-c-pagination--indicator--active--Color: var(--pf-global--Color--100);
    --ak-c-pagination--indicator--disabled--Color: var(--pf-global--disabled-color--200);

    --ak-c-pagination__page-select--form-control--width: 2ch;
}

html[data-theme="dark"] {
    --ak-c-pagination--total-count--Color: var(--ak-dark-foreground);
    --ak-c-pagination--indicator--Color: var(--ak-dark-foreground);
    --ak-c-pagination--indicator--disabled--Color: var(--pf-global--disabled-color--200);
}
