:host([theme="dark"]) {
    --ak-c-form-group__marker--Color: var(--pf-global--Color--300);
    --ak-c-form-group__marker--ColorHover: var(--pf-global--Color--200);

    details {
        @media (prefers-contrast: more) {
            background: var(--pf-global--BackgroundColor--150);
        }
    }
}

details {
    @media (prefers-contrast: more) {
        border: 1px solid var(--pf-global--BorderColor--200);
        background: var(--pf-global--BackgroundColor--150);
    }

    &::details-content {
        padding-inline-start: calc(
            var(--pf-global--spacer--lg) + var(--pf-global--spacer--form-element)
        );
        padding-inline-end: var(--pf-global--spacer--md);
        padding-block-end: var(--pf-global--spacer--sm);
    }

    & > summary {
        backdrop-filter: var(--ak-c-dialog__backdrop--BackdropFilter);

        inset-block-start: 0;
        position: sticky;
        background: var(--ak-c-form-group--BackgroundColor, transparent);
        z-index: var(--ak-c-form-group--ZIndex, 1);

        list-style-position: outside;
        margin-inline-start: var(--pf-global--spacer--sm);
        padding-inline-start: calc(var(--pf-global--spacer--md) + 0.25rem);
        padding-block: var(--pf-global--spacer-xs);
        padding-inline: var(--pf-global--spacer--md);
        list-style-type: "\f105";
        cursor: pointer;
        user-select: none;

        font-weight: bold;

        @media (prefers-contrast: more) {
            text-decoration: underline;
            margin-inline-start: var(--pf-global--spacer--lg);
            padding-block: var(--pf-global--spacer--sm);
        }

        &::marker {
            color: var(--ak-c-form-group__marker--Color, var(--pf-global--Color--200));
            transition: var(--pf-c-form__field-group-toggle-icon--Transition);
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
        }

        &:hover::marker {
            color: var(--ak-c-form-group__marker--ColorHover, var(--pf-global--Color--100));
        }
    }

    &[open] summary {
        list-style-type: "\f107";
    }
}

[part="label"] {
    padding: var(--pf-global--spacer--xs);
}

.pf-c-form__field-group-header-description {
    text-wrap: balance;
}
