.pf-c-form__group-control {
    --pf-c-grid__group-control--m-stack--Gap: var(--pf-global--spacer--xs);

    /**
     * There's enough complexity within the group label variable composition
     * to add a fallback value.
     */
    padding-top: var(
        --pf-c-form--m-horizontal__group-label--md--PaddingTop,
        var(--pf-global--spacer--form-element)
    );
}

.pf-m-disabled {
    cursor: not-allowed;

    .pf-c-radio__label {
        cursor: not-allowed;
        color: var(--pf-global--disabled-color--100);
    }
}

/**
 * P5 puts a line separating the entries, but this looks odd in our stacked usage. Specifying
 * `.pf-m-stack` here also raises the specificity above the P4 default.
 */
.pf-m-stack label.pf-c-radio:not(:last-child) {
    --pf-c-radio--BoxShadowColor: transparent;
}

.pf-c-radio__description {
    text-wrap: balance;
    text-wrap: pretty;
}
