/* #region Dark Theme */

[data-theme="dark"] .pf-c-modal-box,
:host([theme="dark"]) .pf-c-modal-box {
    background-color: var(--ak-dark-background);

    .pf-c-modal-box__header,
    .pf-c-modal-box__footer,
    .pf-c-modal-box__body {
        background-color: var(--ak-dark-background);
    }
}

/* #endregion */
