:host {
    z-index: 100;
    --pf-c-page__sidebar--Transition: 0 !important;
}

.pf-c-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
    --pf-c-nav__link--hover--before--BorderBottomWidth: 1px;
}

.pf-c-nav__link:hover::before {
    --pf-c-nav__link--before--BorderColor: transparent;
}

.pf-c-nav__link.pf-m-current::after,
.pf-c-nav__link.pf-m-current:hover::after,
.pf-c-nav__item.pf-m-current:not(.pf-m-expanded) .pf-c-nav__link::after {
    --pf-c-nav__link--m-current--after--BorderColor: #fd4b2d;
}

:host([theme="light"]) {
    border-right-color: transparent !important;
}

.pf-c-nav__section + .pf-c-nav__section {
    --pf-c-nav__section--section--MarginTop: var(--pf-global--spacer--sm);
}

.pf-c-nav__list {
    flex-grow: 1;
    overflow-y: auto;
}

.pf-c-nav__link {
    --pf-c-nav__link--PaddingTop: 0.5rem;
    --pf-c-nav__link--PaddingRight: 0.5rem;
    --pf-c-nav__link--PaddingBottom: 0.5rem;
}
.pf-c-nav__section-title {
    font-size: 12px;
}
.pf-c-nav__item {
    --pf-c-nav__item--MarginTop: 0px;
}
