.pf-c-expandable-section {
    display: grid;
    grid-template-columns: 1fr;
}
.pf-c-expandable-section__toggle {
    user-select: none;
}

/* #region Dark Theme */

:host([theme="dark"]) {
    .pf-c-expandable-section__toggle-text {
        color: var(--ak-dark-foreground);
    }

    .pf-c-expandable-section__toggle-icon {
        color: var(--ak-dark-foreground);
    }

    .pf-c-expandable-section.pf-m-display-lg {
        background-color: var(--ak-dark-background-light-ish);
    }
}

/* #endregion */
