.pf-c-expandable-section {
    display: grid;
    grid-template-columns: 1fr;
}
.pf-c-expandable-section__toggle {
    user-select: none;
}

/* #region Dark Theme */

:host([theme="dark"]) {
    .pf-c-expandable-section.pf-m-display-lg {
        background-color: var(--pf-global--BackgroundColor--100);
    }
}

/* #endregion */
