:host,
ak-loading-overlay.style-scope {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(
        --ak-loading-overlay--BackgroundColor,
        var(--pf-global--BackgroundColor--dark-transparent-200)
    );
}

:host([topmost]),
ak-loading-overlay[topmost].style-scope {
    z-index: var(--pf-global--ZIndex--2xl);
}
