fieldset[name="login-sources"] {
    --ak-c-login-sources-padding-inline: var(--pf-global--spacer--xl);

    /* compatibility-mode-fix */

    & {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: var(--pf-global--spacer--sm);

        padding-inline: var(--ak-c-login-sources-padding-inline) !important;
        padding-block-start: var(--pf-global--spacer--md) !important;
    }

    .source-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--pf-global--spacer--sm);
        flex: 0 1 auto;

        &:not(.pf-m-primary):hover {
            background-color: var(--pf-c-button--m-plain--hover--BackgroundColor);
        }

        .pf-c-button__icon {
            line-height: 1;
        }
    }

    .source-button-promoted {
        flex: 1 1 100%;
        width: 100%;
        margin-block-end: var(--pf-global--spacer--sm);

        &:last-of-type {
            margin-block-end: var(--pf-global--spacer--lg);
        }
    }

    .pf-c-button__icon img {
        height: var(--pf-global--FontSize--2xl);
        fill: var(--pf-global--icon--Color--light);
    }

    @media (min-width: 768px) {
        --ak-c-login-sources-padding-inline: var(--pf-global--spacer--2xl);
    }
}

.captcha-container {
    /* compatibility-mode-fix */
    & {
        position: relative;
    }

    .faux-input {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
    }
}

:host([theme="dark"]) fieldset[name="login-sources"] .pf-c-button__icon {
    img,
    .pf-c-button__icon .fas {
        filter: invert(1);
    }
}
