{% load static %}
{% load i18n %}
{% load passbook_utils %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="preload" href="{% static 'passbook/fonts/DINEngschriftStd.woff2' %}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{% static 'passbook/fonts/DINEngschriftStd.woff' %}" as="font" type="font/woff" crossorigin>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}{% trans title|default:config.passbook.branding.title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static 'passbook/logo.png' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'passbook/logo.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'node_modules/@patternfly/patternfly/patternfly.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'node_modules/@patternfly/patternfly/patternfly-addons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'passbook/passbook.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% if 'impersonate_id' in request.session %}
        <div class="pf-c-banner pf-m-warning pf-c-alert pf-m-sticky">
            <div class="pf-l-flex pf-m-justify-content-center pf-m-justify-content-space-between-on-lg pf-m-nowrap" style="height: 100%;">
                <div class=""></div>
                <div class="pf-u-display-none pf-u-display-block-on-lg">
                    {% blocktrans with user=user %}You're currently impersonating {{ user }}.{% endblocktrans %}
                    <a href="?__unimpersonate=True" id="acceptMessage">{% trans 'Stop impersonation' %}</a>
                </div>
                <div class=""></div>
            </div>
        </div>
        {% endif %}
        {% block body %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
        <script src="{% static 'passbook/passbook.js' %}"></script>
    </body>
</html>
