{% load i18n %}

<header class="pf-c-login__main-header">
    <h1 class="pf-c-title pf-m-3xl">
        {% trans 'Trouble Logging In?' %}
    </h1>
</header>
<div class="pf-c-login__main-body">
    {% block card %}
    <form method="POST" class="pf-c-form">
        {% block above_form %}
        {% endblock %}

        {% include 'partials/form.html' %}

        {% block beneath_form %}
        {% endblock %}
        <div class="pf-c-form__group pf-m-action">
            <button class="pf-c-button pf-m-primary pf-m-block" type="submit">{% trans primary_action %}</button>
        </div>
    </form>
    {% endblock %}
</div>
<footer class="pf-c-login__main-footer">
    {% if config.login.subtext %}
    <p>{{ config.login.subtext }}</p>
    {% endif %}
</footer>
