.pf-c-button {
    --pf-c-button--disabled--BackgroundColor: var(--pf-global--Color--light-200);
}

/* #region Dark Theme */

[data-theme="dark"],
:host([theme="dark"]) {
    .pf-c-button {
        --pf-c-button--disabled--BackgroundColor: var(--pf-global--Color--300);
        --pf-c-button--m-plain--hover--BackgroundColor: var(--ak-dark-background-lighter);
        --pf-c-button--m-plain--active--BackgroundColor: var(--ak-dark-background-lighter);
        --pf-c-button--m-plain--focus--BackgroundColor: var(--ak-dark-background-lighter);

        &.pf-m-plain {
            --pf-c-button--disabled--BackgroundColor: transparent;
            --pf-c-button--m-plain--hover--Color: var(--ak-dark-foreground);
            --pf-c-button--m-plain--active--BackgroundColor: var(--ak-dark-background-lighter);
            --pf-c-button--m-plain--focus--Color: var(--pf-global--Color--200);

            &:focus:hover {
                color: var(--pf-c-button--m-plain--hover--Color);
            }
        }
    }

    .pf-c-button.pf-m-control {
        --pf-c-button--after--BorderColor: var(--ak-dark-background-lighter)
            var(--ak-dark-background-lighter)
            var(--pf-c-button--m-control--after--BorderBottomColor)
            var(--ak-dark-background-lighter);
        background-color: var(--ak-dark-background-light);
        color: var(--ak-dark-foreground);
    }

    .pf-m-tertiary,
    .pf-c-button.pf-m-tertiary {
        --pf-c-button--after--BorderColor: var(--ak-dark-foreground-darker);
        --pf-c-button--hover--after--BorderWidth: var(--pf-global--BorderWidth--sm);
        --pf-c-button--active--after--BorderWidth: var(--pf-global--BorderWidth--sm);

        color: var(--ak-dark-foreground-darker);

        &:hover {
            --pf-c-button--after--BorderColor: var(--ak-dark-foreground);
        }
    }
}
