{% extends 'login/base_full.html' %}

{% load static %}
{% load i18n %}
{% load passbook_utils %}

{% block title %}
{% trans card_title %}
{% endblock %}

{% block card_title %}
{% trans card_title %}
{% endblock %}

{% block card %}
<form method="POST" class="pf-c-form">
    {% if message %}
    <h3>{% trans message %}</h3>
    {% endif %}
    {% if 'back' in request.GET %}
    <a href="{% back %}" class="btn btn-primary btn-block btn-lg">{% trans 'Back' %}</a>
    {% endif %}
</form>
{% endblock %}
