{% load static %}
{% load i18n %}

<ak-message-container></ak-message-container>

<header class="pf-c-login__main-header">
    <h1 class="pf-c-title pf-m-3xl">
        {% block card_title %}
        {% trans title %}
        {% endblock %}
    </h1>
</header>
<div class="pf-c-login__main-body">
    {% block card %}
    <form method="POST" class="pf-c-form">
        {% include 'partials/form.html' %}
        <div class="pf-c-form__group pf-m-action">
            <button class="pf-c-button pf-m-primary pf-m-block" type="submit">Log in</button>
        </div>
    </form>
    {% endblock %}
</div>
<footer class="pf-c-login__main-footer">
    {% if config.login.subtext %}
    <p>{{ config.login.subtext }}</p>
    {% endif %}
    <ul class="pf-c-login__main-footer-links">
        {% for source in sources %}
        <li class="pf-c-login__main-footer-links-item">
            <a href="{{ source.url }}" class="pf-c-login__main-footer-links-item-link">
                {% if source.icon_url %}
                <img src="{{ source.icon_url }}" alt="{{ source.name }}">
                {% else %}
                <i class="pf-icon pf-icon-arrow" title="{{ source.name }}"></i>
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% if enroll_url or recovery_url %}
    <div class="pf-c-login__main-footer-band">
        {% if enroll_url %}
        <p class="pf-c-login__main-footer-band-item">
            {% trans 'Need an account?' %}
            <a href="{{ enroll_url }}">{% trans 'Sign up.' %}</a>
        </p>
        {% endif %}
        {% if recovery_url %}
        <p class="pf-c-login__main-footer-band-item">
            <a href="{{ recovery_url }}">
                {% trans 'Forgot username or password?' %}
            </a>
        </p>
        {% endif %}
    </div>
    {% endif %}
</footer>
