{% extends "administration/base.html" %}

{% load i18n %}
{% load authentik_utils %}

{% block content %}
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-c-content">
        <h1>
            <i class="pf-icon pf-icon-migration"></i>
            {% trans 'Invitations' %}
        </h1>
        <p>{% trans "Create Invitation Links to enroll Users, and optionally force specific attributes of their account." %}
        </p>
    </div>
</section>
<section class="pf-c-page__main-section pf-m-no-padding-mobile">
    <div class="pf-c-card">
        {% if object_list %}
        <div class="pf-c-toolbar">
            <div class="pf-c-toolbar__content">
                {% include 'partials/toolbar_search.html' %}
                <div class="pf-c-toolbar__bulk-select">
                    <ak-modal-button href="{% url 'authentik_admin:stage-invitation-create' %}">
                        <ak-spinner-button slot="trigger" class="pf-m-primary">
                            {% trans 'Create' %}
                        </ak-spinner-button>
                        <div slot="modal"></div>
                    </ak-modal-button>
                    <button role="ak-refresh" class="pf-c-button pf-m-primary">
                        {% trans 'Refresh' %}
                    </button>
                </div>
                {% include 'partials/pagination.html' %}
            </div>
        </div>
        <table class="pf-c-table pf-m-compact pf-m-grid-xl" role="grid">
            <thead>
                <tr role="row">
                    <th role="columnheader" scope="col">{% trans 'Expiry' %}</th>
                    <th role="columnheader" scope="col">{% trans 'Link' %}</th>
                    <th role="cell"></th>
                </tr>
            </thead>
            <tbody role="rowgroup">
                {% for invitation in object_list %}
                <tr role="row">
                    <td role="cell">
                        <span>
                            {{ invitation.expiry }}
                        </span>
                    </td>
                    <td role="cell">
                        <span>
                            {{ invitation.Link }}
                        </span>
                    </td>
                    <td>
                        <ak-modal-button href="{% url 'authentik_admin:stage-invitation-delete' pk=invitation.pk %}">
                            <ak-spinner-button slot="trigger" class="pf-m-danger">
                                {% trans 'Delete' %}
                            </ak-spinner-button>
                            <div slot="modal"></div>
                        </ak-modal-button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pf-c-pagination pf-m-bottom">
            {% include 'partials/pagination.html' %}
        </div>
        {% else %}
        <div class="pf-c-toolbar">
            <div class="pf-c-toolbar__content">
                {% include 'partials/toolbar_search.html' %}
            </div>
        </div>
        <div class="pf-c-empty-state">
            <div class="pf-c-empty-state__content">
                <i class="pf-icon pf-icon-migration pf-c-empty-state__icon" aria-hidden="true"></i>
                <h1 class="pf-c-title pf-m-lg">
                    {% trans 'No Invitations.' %}
                </h1>
                <div class="pf-c-empty-state__body">
                {% if request.GET.search != "" %}
                    {% trans "Your search query doesn't match any invitations." %}
                {% else %}
                    {% trans 'Currently no invitations exist. Click the button below to create one.' %}
                {% endif %}
                </div>
                <ak-modal-button href="{% url 'authentik_admin:stage-invitation-create' %}">
                    <ak-spinner-button slot="trigger" class="pf-m-primary">
                        {% trans 'Create' %}
                    </ak-spinner-button>
                    <div slot="modal"></div>
                </ak-modal-button>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
