{% extends "generic/form.html" %}

{% load i18n %}

{% block beneath_form %}
<div class="pf-c-form__group ">
    <label for="" class="pf-c-form__label"></label>
    <div class="c-form__horizontal-group">
        <p>
            Expression using <a href="https://jinja.palletsprojects.com/en/2.11.x/templates/">Jinja</a>. Following variables are available:
        </p>
        <ul class="pf-c-list">
            <li><code>request.user</code>: Passbook User Object (<a href="https://beryju.github.io/passbook/property-mappings/reference/user-object/">Reference</a>)</li>
            <li><code>request.http_request</code>: Django HTTP Request Object (<a href="https://docs.djangoproject.com/en/3.0/ref/request-response/#httprequest-objects">Reference</a>) </li>
            <li><code>request.obj</code>: Model the Policy is run against. </li>
            <li><code>pb_is_sso_flow</code>: Boolean which is true if request was initiated by authenticating through an external Provider.</li>
            <li><code>pb_is_group_member(user, group_name)</code>: Function which checks if <code>user</code> is member of a Group with Name <code>group_name</code>.</li>
            <li><code>pb_logger</code>: Standard Python Logger Object, which can be used to debug expressions.</li>
            <li><code>pb_client_ip</code>: Client's IP Address.</li>
        </ul>
        <p>Custom Filters:</p>
        <ul class="pf-c-list">
            <li><code>regex_match(regex)</code>: Checks if value matches <code>regex</code></li>
            <li><code>regex_replace(regex, repl)</code>: Replace string matched by <code>regex</code> with <code>repl</code></li>
        </ul>
    </div>
</div>
{% endblock %}
