{% load i18n %}

<pb-modal-button>
    <button slot="trigger" class="pf-c-button pf-m-tertiary">
        {% trans 'View Deployment Info' %}
    </button>
    <div slot="modal">
        <div class="pf-c-modal-box__header">
            <h1 class="pf-c-title pf-m-2xl" id="modal-title">{% trans 'Outpost Deployment Info' %}</h1>
        </div>
        <div class="pf-c-modal-box__body" id="modal-description">
            <p><a href="https://passbook.beryju.org/docs/outposts/outposts/#deploy">{% trans 'View deployment documentation' %}</a></p>
            <form class="pf-c-form">
                <div class="pf-c-form__group">
                    <label class="pf-c-form__label" for="help-text-simple-form-name">
                        <span class="pf-c-form__label-text">PASSBOOK_HOST</span>
                    </label>
                    <input class="pf-c-form-control" readonly type="text" value="{{ full_url }}" />
                </div>
                <div class="pf-c-form__group">
                    <label class="pf-c-form__label" for="help-text-simple-form-name">
                        <span class="pf-c-form__label-text">PASSBOOK_TOKEN</span>
                    </label>
                    <div>
                        <pb-token-copy-button identifier="{{ outpost.token_identifier }}">
                            {% trans 'Click to copy token' %}
                        </pb-token-copy-button>
                    </div>
                </div>
                <h3>{% trans 'If your passbook Instance is using a self-signed certificate, set this value.' %}</h3>
                <div class="pf-c-form__group">
                    <label class="pf-c-form__label" for="help-text-simple-form-name">
                        <span class="pf-c-form__label-text">PASSBOOK_INSECURE</span>
                    </label>
                    <input class="pf-c-form-control" readonly type="text" value="true" />
                </div>
            </form>
        </div>
        <footer class="pf-c-modal-box__footer pf-m-align-left">
            <a class="pf-c-button pf-m-primary">{% trans 'Close' %}</a>
        </footer>
    </div>
</pb-modal-button>
