.pf-icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;

    &:has(+ span) {
        margin-inline-end: 0.5em;
    }
}
.pf-icon,
.fa,
.fas {
    &.pf-m-success {
        color: var(--pf-global--success-color--100);
    }

    &.pf-m-warning {
        color: var(--pf-global--warning-color--100);
    }

    &.pf-m-danger {
        color: var(--pf-global--danger-color--100);
    }
}

.ak-c-vector-icon {
    display: block;
    height: var(--ak-c-vector-icon--FontSize, var(--pf-global--icon--FontSize--lg));
    fill: var(--ak-c-vector-icon--Fill, currentColor);
    stroke: var(--ak-c-vector-icon--Stroke, currentColor);
}

.pf-c-button.pf-m-plain:has(.ak-c-vector-icon) {
    --ak-c-vector-icon--Fill: var(--ak-c-vector-icon--Fill);
    --ak-c-vector-icon--Stroke: var(--ak-c-vector-icon--Stroke, var(--pf-c-button--m-plain--Color));
}

pf-tooltip:has(.ak-c-vector-icon) {
    display: flex;
}

pf-tooltip:not(:hover) [slot="content"] {
    display: none;
}
