.pf-icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;

    &:has(+ span) {
        margin-inline-end: 0.5em;
    }
}
