{% extends "base/page.html" %}

{% load i18n %}
{% load is_active %}
{% load static %}
{% load passbook_user_settings %}

{% block page_content %}
<div class="pf-c-page__sidebar">
    <div class="pf-c-page__sidebar-body">
        <nav class="pf-c-nav" id="page-default-nav-example-primary-nav" aria-label="Global">
            <section class="pf-c-nav__section">
                <h2 class="pf-c-nav__section-title">{% trans 'General Settings' %}</h2>
                <ul class="pf-c-nav__list">
                    <li class="pf-c-nav__item">
                        <a href="{% url 'passbook_core:user-settings' %}"
                            class="pf-c-nav__link {% is_active 'passbook_core:user-settings' %}">{% trans 'User Details' %}</a>
                    </li>
                </ul>
            </section>
            {% user_factors as user_factors_loc %}
            {% if user_factors_loc %}
            <section class="pf-c-nav__section">
                <h2 class="pf-c-nav__section-title">{% trans 'Factors' %}</h2>
                <ul class="pf-c-nav__list">
                    {% for factor in user_factors_loc %}
                    <li class="pf-c-nav__item">
                        <a href="{% url factor.view_name %}" class="pf-c-nav__link {% is_active factor.view_name %}">
                            <i class="{{ factor.icon }}"></i>
                            {{ factor.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
            {% user_sources as user_sources_loc %}
            {% if user_sources_loc %}
            <section class="pf-c-nav__section">
                <h2 class="pf-c-nav__section-title">{% trans 'Sources' %}</h2>
                <ul class="pf-c-nav__list">
                    {% for source in user_sources_loc %}
                    <li class="pf-c-nav__item">
                        <a href="{{ source.view_name }}"
                            class="pf-c-nav__link {% if user_settings.view_name == request.get_full_path %} pf-m-current {% endif %}">
                            <i class="{{ source.icon }}"></i>
                            {{ source.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
        </nav>
    </div>
</div>
<main role="main" class="pf-c-page__main" tabindex="-1" id="main-content">
    <section class="pf-c-page__main-section">
        <div class="pf-l-split pf-m-gutter">
            <div class="pf-l-split__item">
                <div class="pf-c-card">
                    {% block page %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
