{% extends "overview/base.html" %}

{% load i18n %}
{% load is_active %}
{% load static %}
{% load passbook_user_settings %}

{% block content %}
<div class="container">
    <div class="col-md-3 ">
        <div class="nav-category">
            <h2>{% trans 'User Settings'%}</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="{% is_active 'passbook_core:user-settings' %}">
                    <a href="{% url 'passbook_core:user-settings' %}">
                        <i class="fa pficon-edit"></i> {% trans 'Details' %}
                    </a>
                </li>
                <li class="nav-divider"></li>
                {% user_factors as uf %}
                {% for name, icon, link in uf %}
                <li class="{% is_active link %}">
                     <a href="{% url link %}">
                         <i class="{{ icon }}"></i> {{ name }}
                    </a>
                </li>
                {% endfor %}
                <li class="nav-divider"></li>
                {% user_sources as us %}
                {% for name, icon, link in us %}
                <li class="{% if link == request.get_full_path %} active {% endif %}">
                    <a href="{{ link }}">
                        <i class="{{ icon }}"></i> {{ name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        {% block page %}
        {% endblock %}
    </div>
</div>
{% endblock %}
