<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{{.Title}}</title>
        <link rel="shortcut icon" type="image/png" href="/outpost.goauthentik.io/static/dist/assets/icons/icon.png">

        <link rel="stylesheet" type="text/css" href="/outpost.goauthentik.io/static/dist/patternfly.min.css">

        <link rel="stylesheet" type="text/css" href="/outpost.goauthentik.io/static/dist/layers/global.css">

        <link rel="stylesheet" type="text/css" href="/outpost.goauthentik.io/static/dist/authentik.css">

        <link rel="stylesheet" type="text/css" href="/outpost.goauthentik.io/static/layers/global.dark.css" media="(prefers-color-scheme: dark)">
        <link rel="stylesheet" type="text/css" href="/outpost.goauthentik.io/static/theme-dark.css" media="(prefers-color-scheme: dark)">

        <link rel="prefetch" href="/outpost.goauthentik.io/static/dist/assets/images/flow_background.jpg" />
        <style>
            :root {
                --ak-global--background-color: var(--pf-global--BackgroundColor--150);
                --ak-global--background-image: url("/outpost.goauthentik.io/static/dist/assets/images/flow_background.jpg");
            }
        </style>
    </head>
    <body>
        <div class="pf-c-login">
            <main class="pf-c-login__main">
                <div part="branding" class="pf-c-login__main-header pf-c-brand">
                    <img part="branding-logo" src="/outpost.goauthentik.io/static/dist/assets/icons/icon_left_brand.svg" alt="authentik Logo" />
                </div>
                <header class="pf-c-login__main-header">
                    <h1 class="pf-c-title pf-m-3xl">
                        {{ .Title }}
                    </h1>
                </header>
                <div class="pf-c-login__main-body">
                    {{ .Message }}
                </div>
                <div class="pf-c-login__main-body">
                    <a href="/" class="pf-c-button pf-m-primary pf-m-block">Go to home</a>
                </div>
            </main>
            <footer class="pf-c-login__footer pf-m-dark">
                <ul class="pf-c-list pf-m-inline">
                    <li>
                        <span>
                            Powered by authentik
                        </span>
                    </li>
                </ul>
            </footer>
        </div>
    </body>
</html>
