
@font-face {
  font-family: RedHatDisplay;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/RedHatDisplay/RedHatDisplay-Medium.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: RedHatDisplay;
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/RedHatDisplay/RedHatDisplay-MediumItalic.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: RedHatDisplay;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/RedHatDisplay/RedHatDisplay-Bold.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: RedHatDisplay;
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/RedHatDisplay/RedHatDisplay-BoldItalic.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: RedHatText;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/RedHatText/RedHatText-Regular.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: RedHatText;
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/RedHatText/RedHatText-Italic.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: RedHatText;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/RedHatText/RedHatText-Medium.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: RedHatText;
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/RedHatText/RedHatText-MediumItalic.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: RedHatMono;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/RedHatMono/RedHatMono-Regular.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: RedHatMono;
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/RedHatMono/RedHatMono-Italic.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: RedHatDisplayVF;
  font-style: normal;
  font-weight: 400 700;
  src: url("./fonts/RedHatDisplay/RedHatDisplayVF.woff2") format("woff2-variations");
  font-display: fallback;
}
@font-face {
  font-family: RedHatDisplayVF;
  font-style: italic;
  font-weight: 400 700;
  src: url("./fonts/RedHatDisplay/RedHatDisplayVF-Italic.woff2") format("woff2-variations");
  font-display: fallback;
}
@font-face {
  font-family: RedHatTextVF;
  font-style: normal;
  font-weight: 400 500;
  src: url("./fonts/RedHatText/RedHatTextVF.woff2") format("woff2-variations");
  font-display: fallback;
}
@font-face {
  font-family: RedHatTextVF;
  font-style: italic;
  font-weight: 400 500;
  src: url("./fonts/RedHatText/RedHatTextVF-Italic.woff2") format("woff2-variations");
  font-display: fallback;
}
@font-face {
  font-family: RedHatMonoVF;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/RedHatMono/RedHatMonoVF.woff2") format("woff2-variations");
  font-display: fallback;
}
@font-face {
  font-family: RedHatMonoVF;
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/RedHatMono/RedHatMonoVF-Italic.woff2") format("woff2-variations");
  font-display: fallback;
}
