/**
 * @file authentik global dark layer.
 */

/* #region Global */

:root {
    /* TODO: We've seemed to have drifted from PF's dark-100 usage. Revisit this after PF 5. */
    --pf-global--BackgroundColor--100: #1c1e21 !important;
    --pf-global--BackgroundColor--dark-100: #18191a !important;
    --pf-global--BackgroundColor--150: var(--pf-global--BackgroundColor--dark-100) !important;
    --pf-global--BackgroundColor--200: var(--pf-global--BackgroundColor--dark-200) !important;
    --pf-global--BackgroundColor--300: var(--pf-global--BackgroundColor--dark-300) !important;
    --pf-global--Color--100: var(--ak-dark-foreground) !important;
    --ak-global--Color--100: var(--ak-dark-foreground) !important;
    --pf-global--BorderColor--100: var(--ak-dark-background-lighter) !important;
    --pf-global--link--Color: var(--pf-global--link--Color--light) !important;
    --pf-global--link--Color--hover: var(--pf-global--link--Color--light--hover) !important;
}

/* #endregion */

/* #region Document */

body {
    color-scheme: dark;
}

/* #endregion */
