/* #region Dark Theme */

.pf-c-nav {
    --pf-c-nav__link--PaddingTop: 0.5rem;
    --pf-c-nav__link--PaddingRight: 0.5rem;
    --pf-c-nav__link--PaddingBottom: 0.5rem;
    --pf-c-nav__link--PaddingLeft: 0.5rem;
}

:host([theme="dark"]) .pf-c-nav {
    background-color: var(--ak-dark-background-light);
}

/* #endregion */
