{% extends 'login/base_full.html' %}

{% load static %}
{% load i18n %}
{% load passbook_utils %}

{% block card_title %}
{% trans 'Permission denied' %}
{% endblock %}

{% block title %}
{% trans 'Permission denied' %}
{% endblock %}

{% block card %}
    <form method="POST" class="pf-c-form">
        {% csrf_token %}
        {% include 'partials/form.html' %}
        <div class="pf-c-form__group">
            <p>
                <i class="pf-icon pf-icon-error-circle-o"></i>
                {% trans 'Access denied' %}
            </p>
        </div>
        {% if 'back' in request.GET %}
        <a href="{% back %}" class="btn btn-primary btn-block btn-lg">{% trans 'Back' %}</a>
        {% endif %}
    </form>
{% endblock %}
