{% extends 'login/base.html' %}

{% load static %}
{% load i18n %}

{% block card %}
<header class="login-pf-header">
  <h1>{% trans title %}</h1>
</header>
<form method="POST">
  {% block above_form %}
  {% endblock %}
  {% include 'partials/form_login.html' %}
  <button type="submit" class="btn btn-primary btn-block btn-lg">{% trans primary_action %}</button>
</form>
{% if show_sign_up_notice %}
<p class="login-pf-signup">
  {% trans 'Need an account?' %}
  <a href="{% url 'passbook_core:auth-sign-up' %}">{% trans 'Sign up' %}</a>
</p>
{% endif %}
{% endblock %}
