{% extends 'login/form.html' %}

{% load i18n %}
{% load passbook_utils %}

{% block head %}
{{ block.super }}
<style>
.form-control-static {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-control-static .left {
    display: flex;
    align-items: center;
}
.form-control-static img {
    margin-right: 5px;
}
.form-control-static a {
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 32px;
}
</style>
{% endblock %}

{% block above_form %}
<div class="pf-c-form__group">
    <label class="pf-c-form__label" for="{{ field.name }}-{{ forloop.counter0 }}">
        <span class="pf-c-form__label-text">{% trans "Username" %}</span>
    </label>
    <div class="form-control-static">
        <div class="left">
            <img class="pf-c-avatar" src="{% gravatar user.email %}" alt="">
            {{ user.username }}
        </div>
        <div class="right">
            <a href="{% url 'passbook_flows:default-authentication' %}">{% trans 'Not you?' %}</a>
        </div>
    </div>
</div>
{% endblock %}
