{% extends 'base/skeleton.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<style>
    .login-pf-page .login-pf-page-footer-links {
        padding: 15px;
        background-color: #fff;
        border-top: 2px solid transparent;
        box-shadow: 0 1px 1px rgba(3, 3, 3, .175);
    }

    .login-pf-page .login-pf-page-footer-link {
        color: #72767b;
    }

    .login-pf-page .login-pf-page-footer-links li:not(:last-of-type):after {
        color: #72767b;
    }
</style>
{% endblock %}

{% block body %}
<div class="toast-notifications-list-pf">
    {% include 'partials/messages.html' %}
</div>
<div class="login-pf-page login-pf-page-accounts">
    <header class="login-pf-page-header">
        <img class="login-pf-brand" style="max-height: 10rem;" src="{% static 'img/logo.svg' %}" alt="passbook logo" />
        {% if config.login.subtext %}
        <p>{{ config.login.subtext }}</p>
        {% endif %}
    </header>
    <div class="card-pf login-pf-accounts">
        <header class="login-pf-header">
            <h1>{% trans title %}</h1>
        </header>
        <section class="login-pf-social-section" role="contentinfo" aria-label="Log in to your patternfly account">
            <form method="POST">
                {% block above_form %}
                {% endblock %}
                {% include 'partials/form_login.html' %}
                <button type="submit" class="btn btn-primary btn-block btn-lg">{% trans primary_action %}</button>
            </form>
        </section>
        <!--login-pf-section-->
        <section class="login-pf-social-section" role="contentinfo" aria-label="Log in with third party account">
            <ul class="login-pf-social login-pf-social-double-col list-unstyled">
                {% for source in sources %}
                <li class="login-pf-social-link">
                    <a href="{{ source.url }}">
                        {% if source.icon_path %}
                        <img src="{% static source.icon_path %}" alt="{{ source.name }}">
                        {% endif %}
                        {% if source.icon_url %}
                        <img src="icon_url" alt="{{ source.name }}">
                        {% endif %}
                        {{ source.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% if show_sign_up_notice %}
        <p class="login-pf-signup">
            {% trans 'Need an account?' %}
            <a href="{% url 'passbook_core:auth-sign-up' %}">{% trans 'Sign up' %}</a>
        </p>
        {% endif %}
    </div><!-- card -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <footer class="login-pf-page-footer">
                <ul class="login-pf-page-footer-links list-unstyled">
                    <li><a class="login-pf-page-footer-link" href="#">Terms of Use</a></li>
                    <li><a class="login-pf-page-footer-link" href="#">Help</a></li>
                    <li><a class="login-pf-page-footer-link" href="#">Privacy Policy</a></li>
                </ul>
            </footer>
        </div>
    </div>
</div>
{% endblock %}
