/* `:defined` applies after `customElementRegistry.define()` has been called on the tag. So this
   instructs the flow layout on what to do *before* that happens, to avoid any flashes of unstyled
   content (FOUC).
 */
ak-flow-executor:not(:defined) {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100dvh;
}

/* Don't show anything else except the spinner until the Javascript has done its job. */

ak-flow-executor:not(:defined) > :not([slot="placeholder"]) {
    display: none;
}
