{% load i18n %}

<pb-modal-button>
    <button slot="trigger" class="pf-c-button pf-m-tertiary">
        {% trans 'View Metadata' %}
    </button>
    <div slot="modal">
        <div class="pf-c-modal-box__header">
            <h1 class="pf-c-title pf-m-2xl" id="modal-title">{% trans 'Metadata' %}</h1>
        </div>
        <div class="pf-c-modal-box__body" id="modal-description">
            <form method="post">
                <pb-codemirror mode="xml"><textarea class="pf-c-form-control"
                        readonly>{{ metadata }}</textarea></pb-codemirror>
            </form>
        </div>
        <footer class="pf-c-modal-box__footer pf-m-align-left">
            <a class="pf-c-button pf-m-primary">{% trans 'Close' %}</a>
        </footer>
    </div>
</pb-modal-button>

