@import "./base/common.css";
@import "./base/scrollbars.css";
@import "./components/Alert/alert.css";
@import "./components/Banner/banner.css";
@import "./components/Label/label.css";
@import "./components/Icon/icon.css";
@import "./components/Page/page.css";
@import "./components/Button/button.css";
@import "./components/Dropdown/dropdown.css";
@import "./components/Drawer/drawer.css";
@import "./components/Description/description.css";
@import "./components/Card/card.css";
@import "./components/Modal/modal.css";
@import "./components/Content/content.css";
@import "./components/Table/table.css";
@import "./components/Form/form.css";
@import "./components/Switch/switch.css";
@import "./components/Select/select.css";
@import "./components/Notification/notification.css";
@import "./components/Wizard/wizard.css";
