{% extends "administration/base.html" %}

{% load i18n %}
{% load authentik_utils %}

{% block content %}
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-c-content">
        <h1>
            <i class="pf-icon pf-icon-plugged"></i>
            {% trans 'Prompts' %}
        </h1>
        <p>{% trans "Single Prompts that can be used for Prompt Stages." %}</p>
    </div>
</section>
<section class="pf-c-page__main-section pf-m-no-padding-mobile">
    <div class="pf-c-card">
        {% if object_list %}
        <div class="pf-c-toolbar">
            <div class="pf-c-toolbar__content">
                {% include 'partials/toolbar_search.html' %}
                <div class="pf-c-toolbar__bulk-select">
                    <ak-modal-button href="{% url 'authentik_admin:stage-prompt-create' %}">
                        <ak-spinner-button slot="trigger" class="pf-m-primary">
                            {% trans 'Create' %}
                        </ak-spinner-button>
                        <div slot="modal"></div>
                    </ak-modal-button>
                    <button role="ak-refresh" class="pf-c-button pf-m-primary">
                        {% trans 'Refresh' %}
                    </button>
                </div>
                {% include 'partials/pagination.html' %}
            </div>
        </div>
        <table class="pf-c-table pf-m-compact pf-m-grid-xl" role="grid">
            <thead>
                <tr role="row">
                    <th role="columnheader" scope="col">{% trans 'Field' %}</th>
                    <th role="columnheader" scope="col">{% trans 'Label' %}</th>
                    <th role="columnheader" scope="col">{% trans 'Type' %}</th>
                    <th role="columnheader" scope="col">{% trans 'Order' %}</th>
                    <th role="columnheader" scope="col">{% trans 'Flows' %}</th>
                    <th role="cell"></th>
                </tr>
            </thead>
            <tbody role="rowgroup">
                {% for prompt in object_list %}
                <tr role="row">
                    <th role="columnheader">
                        <div>
                            <div>{{ prompt.field_key }}</div>
                        </div>
                    </th>
                    <td role="cell">
                        <div>
                            {{ prompt.label }}
                        </div>
                    </td>
                    <td role="cell">
                        <div>
                            {{ prompt.type }}
                        </div>
                    </td>
                    <td role="cell">
                        <div>
                            {{ prompt.order }}
                        </div>
                    </td>
                    <td role="cell">
                        <ul>
                            {% for flow in prompt.flow_set.all %}
                            <li>{{ flow.slug }}</li>
                            {% empty %}
                            <li>-</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ak-modal-button href="{% url 'authentik_admin:stage-prompt-update' pk=prompt.pk %}">
                            <ak-spinner-button slot="trigger" class="pf-m-secondary">
                                {% trans 'Update' %}
                            </ak-spinner-button>
                            <div slot="modal"></div>
                        </ak-modal-button>
                        <ak-modal-button href="{% url 'authentik_admin:stage-prompt-delete' pk=prompt.pk %}">
                            <ak-spinner-button slot="trigger" class="pf-m-danger">
                                {% trans 'Delete' %}
                            </ak-spinner-button>
                            <div slot="modal"></div>
                        </ak-modal-button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pf-c-pagination pf-m-bottom">
            {% include 'partials/pagination.html' %}
        </div>
        {% else %}
        <div class="pf-c-toolbar">
            <div class="pf-c-toolbar__content">
                {% include 'partials/toolbar_search.html' %}
            </div>
        </div>
        <div class="pf-c-empty-state">
            <div class="pf-c-empty-state__content">
                <i class="pf-icon pf-icon-plugged pf-c-empty-state__icon" aria-hidden="true"></i>
                <h1 class="pf-c-title pf-m-lg">
                    {% trans 'No Stage Prompts.' %}
                </h1>
                <div class="pf-c-empty-state__body">
                {% if request.GET.search != "" %}
                    {% trans "Your search query doesn't match any stage prompts." %}
                {% else %}
                    {% trans 'Currently no stage prompts exist. Click the button below to create one.' %}
                {% endif %}
                </div>
                <a href="{% url 'authentik_admin:stage-prompt-create' %}?back={{ request.get_full_path }}" class="pf-c-button pf-m-primary" type="button">{% trans 'Create' %}</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
