[Unit]
Description=passbook - Authentication Provider/Proxy
After=network.target
Requires=network.target

[Service]
User=passbook
Group=passbook
WorkingDirectory=/usr/share/passbook
Type=simple
ExecStart=/usr/share/passbook/passbook.sh web

[Install]
WantedBy=multi-user.target
