#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@ --with=systemd

build-arch:
	python3 -m pip install --target=vendor/ -r requirements.txt

override_dh_strip:
	dh_strip --exclude=psycopg2

override_dh_shlibdeps:
	dh_shlibdeps --exclude=psycopg2

override_dh_installinit:
	dh_installinit --name=passbook
	dh_installinit --name=passbook-worker
	dh_systemd_enable --name=passbook
	dh_systemd_enable --name=passbook-worker
	dh_systemd_start

# override_dh_usrlocal to do nothing
override_dh_usrlocal:
