/* #region Dark Theme */

[data-theme="dark"],
:host([theme="dark"]) {
    .pf-c-progress-stepper__step-title {
        --pf-c-progress-stepper__step-title--Color: var(--ak-dark-foreground);
    }
}

/* #endregion */
