:root {
    --ak-v2-c-flow--Color: var(--ak-v2-global--PrimaryText, #151515);
    --ak-v2-c-flow--Gutter: var(--ak-v2-global--spacer--xl);
    --ak-v2-c-flow--VerticalOffest: 18vh;
    --ak-v2-c-flow--PaddingMax: 8dvw;

    --ak-v2-c-flow--padding-max: 8dvw;

    --ak-v2-c-flow-sidebar-inline-size: clamp(20rem, 32vw, 32rem);
    --ak-v2-c-flow__footer--Gap: var(--ak-v2-global--spacer-sm);
    
    /* Translucent band that reads against a photographic background. */
    --ak-v2-c-flow__footer--Background: var(--ak-v2-global--BackgroundColor--over-photo-filter);
    --ak-v2-c-flow__footer--Color: var(--ak-v2-global--SecondaryReverseColor);

    /* The card */
    --ak-v2-c-flow__card--BackgroundColor: var(--ak-v2-global--ContentSurface, #fff);
    --ak-v2-c-flow__card--BorderRadius: var(--ak-v2-global--BorderRadius--sm);
    --ak-v2-c-flow__card--BoxShadow: var(--ak-v2-global--BoxShadow--md);
    --ak-v2-c-flow__card--Gap: var(--ak-v2-global--spacer-lg);
    --ak-v2-c-flow__card--InlineSize: min(35rem, 100%);
    --ak-v2-c-flow__card--MinBlockSize: 32rem;
    --ak-v2-c-flow__card--Padding: var(--ak-v2-global--spacer-xl);

    /* Assuming a 16px rem (although it scales fine anywhere from 8 to 32px to-the-rem), these only
       change the size of the header to better fit mobile devices; anything above 560px will just be
       the clamp() maximums. Despite some of these being block sizes, we always use the viewport
       *width* as our input variable to ensure consistent ratios at all screen widths.
    */
    --ak-v2-c-flow__branding--PaddingInline: clamp(0.25rem, 3.333vw - 0.664rem, 0.75rem);
    --ak-v2-c-flow__branding--PaddingBlockEnd: clamp(0.5rem, 6.666vw - 1.3218rem, 1.5rem);
    --ak-v2-c-flow__branding--PaddingBlockStart: clamp(2rem, 13.333vw - 2.6466rem, 4rem);
    --ak-v2-c-flow__branding__content--MaxWidth: clamp(75%, calc(var(--ak-v2-c-flow__card--InlineSize) / 2), 90%);

    --ak-v2-c-brand-links--Gap: var(--ak-v2-global--spacer--md);
}

.ak-v2-c-brand-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: var(--ak-v2-c-brand-links--Gap);
}

.ak-v2-c-brand-links ul {
    display: inline;
}

.ak-v2-c-brand-links ul li {
    padding-inline-end: var(--ak-v2-c-brand-links--Gap);
}

.ak-v2-c-brand-links ul li:last-child {
    padding-inline-end: 0;
}


.ak-v2-c-brand-links .ak-v2-c-salesmark {
    text-align: center;
    padding-block-end: var(--ak-v2-c-brand-links--Gap);
}

.ak-v2-c-brand-links .ak-v2-c-salesmark {
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding-block-end: var(--ak-v2-c-brand-links--Gap);
}

.ak-v2-c-brand-links .ak-v2-c-salesmark svg {
    height: 2rex;
}

