@import "../styles/authentik/components/Login/login.css";

:host {
    display: flex;
    min-height: 100dvh;
    flex-flow: column nowrap;
}

.inspector-toggle {
    position: absolute;
    inset-inline-end: var(--pf-global--spacer--md);
    inset-block-start: var(--pf-global--spacer--md);
    z-index: 100;
}

[part="locale-select"] {
    --ak-c-flow-executor__locale-select--Padding: var(--pf-global--spacer--md);
    --ak-c-flow-executor__locale-select--Color: var(--pf-global--Color--light-100);
    --ak-c-flow-executor__locale-select--Color--hover: var(--pf-global--primary-color--dark-100);
    --ak-c-locale-select--label--Color: var(--ak-c-flow-executor__locale-select--Color);

    /* Compatibility mode */
    & {
        color: var(--ak-c-flow-executor__locale-select--Color);
        position: absolute;
        inset-block-start: var(--ak-c-flow-executor__locale-select--Padding);
        inset-inline-start: var(--ak-c-flow-executor__locale-select--Padding);
        font-weight: 500;
        z-index: 100;
    }

    /* Slight differences in browser hover states. */
    &:has(select:hover),
    &:hover {
        --ak-c-locale-select--label--Color: var(--ak-c-flow-executor__locale-select--Color--hover);
        --ak-c-locale-select--BackgroundColor: var(
            --ak-c-flow-executor__locale-select--BackgroundColor--hover
        );
        --ak-c-locale-select__after--Opacity: 1;
        --ak-c-locale--select--OutlineColor: currentColor;

        color: var(--ak-c-flow-executor__locale-select--Color--hover);
    }

    &::part(select) {
        color: var(--ak-c-flow-executor__locale-select--Color);
    }

    filter: var(--ak-global--background-contrast-Filter);

    grid-area: header;

    /* At least a third of the card cut-off is available. */
    @media (width <= 61.25rem) and (height <= 61.25rem) {
        --ak-global--background-contrast-Filter: none;
        --ak-c-flow-executor__locale-select--Color: var(--ak-global--background-contrast);

        grid-area: main;
    }

    @media (width <= 61.25rem) and (height <= 61.25rem) and (not (prefers-contrast: more)) {
        --ak-c-locale-select--Opacity: 0;

        &:hover {
            --ak-c-locale-select--Opacity: 1;
            --ak-c-locale-select__after--Opacity: 1;
        }
    }

    @media (width >= 61.25rem) {
        --ak-c-flow-executor__locale-select--BackgroundColor--hover: var(
            --pf-global--BackgroundColor--150
        );
    }

    /* Card is fully masked to mobile background. */
    @media (width <= 35rem) {
        grid-row: header;
    }
}
