@import "../styles/authentik/components/Login/login.css";

:host {
    display: flex;
    min-height: 100dvh;
    flex-flow: column nowrap;
}

.inspector-toggle {
    position: absolute;
    inset-inline-end: var(--pf-global--spacer--md);
    inset-block-start: var(--pf-global--spacer--md);
    z-index: 100;
}

[part="locale-select"] {
    --ak-c-flow-executor__locale-select--Padding: var(--pf-global--spacer--md);

    position: absolute;
    inset-block-start: var(--ak-c-flow-executor__locale-select--Padding);
    inset-inline-start: var(--ak-c-flow-executor__locale-select--Padding);
    z-index: 100;

    color: var(--pf-global--Color--light-100);

    /* Browser compatibility */
    &:has(select:hover),
    &:hover {
        background-color: var(
            --ak-c-flow-executor__locale-select--BackgroundColor--hover,
            transparent
        );
    }

    &::part(select) {
    }

    filter: var(--ak-global--background-contrast-Filter);

    grid-area: header;

    /* At least a third of the card cut-off is available. */
    @media (width <= 61.25rem) and (height <= 61.25rem) {
        color: var(--ak-global--background-contrast);
        filter: none;

        grid-area: main;
    }

    @media (width <= 61.25rem) and (height <= 61.25rem) and (not (prefers-contrast: more)) {
        --ak-c-flow-executor__locale-select--select--Opacity: 0;

        &:hover {
            --ak-c-flow-executor__locale-select--select--Opacity: 1;
        }
    }

    @media (width >= 61.25rem) {
        --ak-c-flow-executor__locale-select--BackgroundColor--hover: var(
            --pf-global--BackgroundColor--150
        );
    }

    /* Card is fully masked to mobile background. */
    @media (width <= 35rem) {
        grid-row: header;
    }

    /* An awkward but possible layout when on mobile landscape. */
    @media (height <= 35rem) or (width <= 52.5rem) {
        --ak-c-flow-executor__locale-select--BackgroundColor--hover: transparent;
    }
}
