@import "../styles/authentik/components/Login/login.css";

:host {
    display: flex;
    min-height: 100dvh;
    flex-flow: column nowrap;
}

.inspector-toggle {
    position: absolute;
    inset-inline-end: var(--pf-global--spacer--md);
    inset-block-start: var(--pf-global--spacer--md);
    z-index: 100;
    filter: var(--ak-global--background-contrast-Filter);
}

[part="locale-select"] {
    --ak-c-flow-executor__locale-select--Padding: var(--pf-global--spacer--md);

    position: absolute;
    inset-block-start: var(--ak-c-flow-executor__locale-select--Padding);
    inset-inline-start: var(--ak-c-flow-executor__locale-select--Padding);
    z-index: 100;

    color: var(--pf-global--Color--light-100);

    &:hover {
        background-color: var(
            --ak-c-flow-executor__locale-select--BackgroundColor--hover,
            transparent
        );
    }

    filter: var(--ak-global--background-contrast-Filter);

    grid-area: header;

    @media (max-width: 35rem) or (max-height: 17.5rem) {
        color: var(--ak-global--background-contrast);
        filter: none;

        &::part(select) {
            font-size: var(--pf-global--FontSize--sm);
        }
    }

    /* At least a third of the card cut-off is available. */
    @media (max-width: 61.25rem) and (max-height: 52.5rem) {
        grid-area: main;
    }

    @media (max-width: 61.25rem) and (not (prefers-contrast: more)) {
        &::part(select) {
            opacity: 0.25;
        }

        &:hover::part(select) {
            opacity: 1;
        }
    }

    @media (min-width: 46.66rem) and (min-height: 35rem) {
        --ak-c-flow-executor__locale-select--BackgroundColor--hover: var(
            --pf-global--BackgroundColor--150
        );
    }

    /* Card is fully masked to mobile background. */
    @media (max-width: 35rem) {
        grid-row: header;
    }

    /* An awkward but possible layout when on mobile landscape. */
    @media (max-height: 35rem) or (max-width: 52.5rem) {
        --ak-c-flow-executor__locale-select--BackgroundColor--hover: transparent;
    }
}
