{% extends 'login/form_with_user.html' %}

{% load i18n %}

{% block beneath_form %}
<div class="pf-c-form__group">
    <p>
        {% blocktrans with name=context.application.name %}
        You're about to sign into <strong id="application-name">{{ name }}</strong>.
        {% endblocktrans %}
    </p>
    <p>{% trans "Application requires following permissions" %}</p>
    <ul class="pf-c-list" id="scopes">
        {% for scope_name, description in context.scope_descriptions.items %}
        <li id="scope-{{ scope_name }}">{{ description }}</li>
        {% endfor %}
    </ul>
    {{ hidden_inputs }}
</div>
{% endblock %}
