{% extends "administration/base.html" %}

{% load i18n %}
{% load passbook_utils %}

{% block content %}
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-c-content">
        <h1>
            <i class="pf-icon pf-icon-user"></i>
            {% trans 'Users' %}
        </h1>
    </div>
</section>
<section class="pf-c-page__main-section pf-m-no-padding-mobile">
    <div class="pf-c-card">
        {% if object_list %}
        <div class="pf-c-toolbar" id="page-layout-table-simple-toolbar-top">
            <div class="pf-c-toolbar__bulk-select">
                <a href="{% url 'passbook_admin:user-create' %}?back={{ request.get_full_path }}" class="pf-c-button pf-m-primary" type="button">{% trans 'Create' %}</a>
            </div>
            {% include 'partials/pagination.html' %}
        </div>
        <table class="pf-c-table pf-m-compact pf-m-grid-xl" role="grid">
            <thead>
                <tr role="row">
                    <th role="columnheader" scope="col">{% trans 'Name' %}</th>
                    <th role="columnheader" scope="col">{% trans 'Active' %}</th>
                    <th role="columnheader" scope="col">{% trans 'Last Login' %}</th>
                    <th role="cell"></th>
                </tr>
            </thead>
            <tbody role="rowgroup">
                {% for user in object_list %}
                <tr role="row">
                    <th role="columnheader">
                        <div>
                            <div>{{ user.username }}</div>
                            <small>{{ user.name }}</small>
                        </div>
                    </th>
                    <td role="cell">
                        <span>
                            {{ user.is_active }}
                        </span>
                    </td>
                    <td role="cell">
                        <span>
                            {{ user.last_login }}
                        </span>
                    </td>
                    <td>
                        <a class="pf-c-button pf-m-secondary" href="{% url 'passbook_admin:user-update' pk=user.pk %}?back={{ request.get_full_path }}">{% trans 'Edit' %}</a>
                        <a class="pf-c-button pf-m-danger" href="{% url 'passbook_admin:user-delete' pk=user.pk %}?back={{ request.get_full_path }}">{% trans 'Delete' %}</a>
                        <a class="pf-c-button pf-m-tertiary" href="{% url 'passbook_admin:user-password-reset' pk=user.pk %}?back={{ request.get_full_path }}">{% trans 'Reset Password' %}</a>
                        <a class="pf-c-button pf-m-tertiary" href="{% url 'passbook_core:overview' %}?__impersonate={{ user.pk }}">{% trans 'Impersonate' %}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pf-c-toolbar" id="page-layout-table-simple-toolbar-bottom">
            {% include 'partials/pagination.html' %}
        </div>
        {% else %}
        <div class="pf-c-empty-state">
            <i class="fas fa-cubes pf-c-empty-state__icon" aria-hidden="true"></i>
            <h1 class="pf-c-title pf-m-lg">
                {% trans 'No Users.' %}
            </h1>
            <div class="pf-c-empty-state__body">
                {% trans 'Currently no users exist. How did you even get here.' %}
            </div>
            <a href="{% url 'passbook_admin:user-create' %}?back={{ request.get_full_path }}" class="pf-c-button pf-m-primary" type="button">{% trans 'Create' %}</a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
