@import "./scrollbars.css";
@import "./tabs.css";

.pf-m-dark {
    --pf-global--Color--100: var(--pf-global--Color--dark-100);
    --pf-global--Color--200: var(--pf-global--Color--dark-200);
    --pf-global--BorderColor--100: var(--pf-global--BorderColor--dark-100);
    --pf-global--primary-color--100: var(--pf-global--primary-color--dark-100);
    --pf-global--link--Color: var(--pf-global--link--Color--dark);
    --pf-global--link--Color--hover: var(--pf-global--link--Color--dark);
    --pf-global--BackgroundColor--100: var(--pf-global--BackgroundColor--light-100);
}

.pf-c-form__group {
    column-gap: var(--pf-global--spacer--md);
}

.pf-c-form__group-label {
    display: flex;
    user-select: none;
    padding-top: var(--pf-c-form--m-horizontal__group-label--md--PaddingTop);

    /* Increase the pressable area of the label. */
    .pf-c-form__label {
        display: block;
        flex: 1 1 auto;
    }
}

.pf-c-form__label[aria-required="true"] .pf-c-form__label-text::after {
    content: "*" / "";
    user-select: none;
    margin-left: var(--pf-c-form__label-required--MarginLeft);
    font-size: var(--pf-c-form__label-required--FontSize);
    color: var(--pf-c-form__label-required--Color);
}

/* #endregion */

/* #region Screen readers */

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

@media not (prefers-contrast: more) {
    .less-contrast-sr-only {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
}

/* #endregion */

/* #region Icons */

.pf-icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;

    &:has(+ span) {
        margin-inline-end: 0.5em;
    }
}

/* #endregion */

/* #region Page */

.pf-c-page {
    --pf-c-page__header--BackgroundColor: transparent;
}

/**
 * We reverse the page header colors because PatternFly assumes a dark header
 * on light themes. The opposite must be done for dark themes.
 */
.pf-c-page__header {
    --pf-global--Color--100: var(--pf-global--Color--dark-100);
    --pf-global--Color--200: var(--pf-global--Color--dark-200);
    --pf-global--BorderColor--100: var(--pf-global--BorderColor--dark-100);
    --pf-global--primary-color--100: var(--pf-global--primary-color--dark-100);
    --pf-global--link--Color: var(--pf-global--link--Color--dark);
    --pf-global--link--Color--hover: var(--pf-global--link--Color--dark);
    --pf-global--BackgroundColor--100: transparent;
}

/* #endregion */

/* #region Form controls */

/* TODO: Move after PF5 */

:root {
    --ak-c-form-control-BackgroundColor: transparent;
    --ak-c-form-control-BackgroundColor--hover: color-mix(in srgb, transparent 100%, Field 50%);
    --ak-c-form-control-BackgroundColor--focus: color-mix(in srgb, transparent 100%, Field 75%);
}

@media (prefers-contrast: more) {
    :root {
        --ak-c-form-control-BackgroundColor: color-mix(in srgb, transparent 100%, Field 50%);
        --ak-c-form-control-BackgroundColor--hover: color-mix(in srgb, transparent 100%, Field 75%);
        --ak-c-form-control-BackgroundColor--focus: Field;
    }
}

.pf-c-form-control {
    /* !important is required to ensure priority when in compatibility mode. */

    --pf-c-form-control--readonly--BackgroundColor: var(
        --pf-global--BackgroundColor--200
    ) !important;
    --pf-c-form-control--disabled--BackgroundColor: var(
        --pf-global--BackgroundColor--200
    ) !important;

    --pf-c-form-control--BorderTopColor: transparent;
    --pf-c-form-control--BorderRightColor: transparent;
    --pf-c-form-control--BorderLeftColor: transparent;

    --pf-c-form-control--Color: FieldText !important;
    --pf-c-form-control--BackgroundColor: var(--ak-c-form-control-BackgroundColor) !important;

    &:hover {
        --pf-c-form-control--BackgroundColor: var(
            --ak-c-form-control-BackgroundColor--hover
        ) !important;
    }

    &:focus {
        --pf-c-form-control--BackgroundColor: var(
            --ak-c-form-control-BackgroundColor--focus
        ) !important;

        @media not (prefers-contrast: more) {
            outline: none;
        }

        @media (prefers-contrast: more) {
            outline-offset: 0.25em;
        }
    }

    @media (prefers-contrast: more) {
        --pf-c-text-input-group--placeholder--Color: GrayText;
        --pf-c-form-control--placeholder--Color: GrayText;
    }

    /* #region Caps Lock */

    --pf-c-form-control--m-caps-lock--BackgroundUrl: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23aaabac' viewBox='0 0 56 56' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 20.7812 37.6211 L 35.2421 37.6211 C 38.5233 37.6211 40.2577 35.6992 40.2577 32.6055 L 40.2577 28.4570 L 49.1404 28.4570 C 51.0859 28.4570 52.6329 27.3086 52.6329 25.5039 C 52.6329 24.4024 52.0703 23.5351 51.0158 22.6211 L 30.9062 4.8789 C 29.9452 4.0351 29.0546 3.4727 27.9999 3.4727 C 26.9687 3.4727 26.0780 4.0351 25.1171 4.8789 L 4.9843 22.6445 C 3.8828 23.6055 3.3671 24.4024 3.3671 25.5039 C 3.3671 27.3086 4.9140 28.4570 6.8828 28.4570 L 15.7421 28.4570 L 15.7421 32.6055 C 15.7421 35.6992 17.4999 37.6211 20.7812 37.6211 Z M 21.1562 34.0820 C 20.2655 34.0820 19.6562 33.4961 19.6562 32.6055 L 19.6562 25.7149 C 19.6562 25.1524 19.4452 24.9180 18.8828 24.9180 L 8.6640 24.9180 C 8.4999 24.9180 8.4296 24.8476 8.4296 24.7305 C 8.4296 24.6367 8.4530 24.5430 8.5702 24.4492 L 27.5077 7.9961 C 27.7187 7.8086 27.8359 7.7383 27.9999 7.7383 C 28.1640 7.7383 28.3046 7.8086 28.4921 7.9961 L 47.4532 24.4492 C 47.5703 24.5430 47.5939 24.6367 47.5939 24.7305 C 47.5939 24.8476 47.4998 24.9180 47.3356 24.9180 L 37.1406 24.9180 C 36.5780 24.9180 36.3671 25.1524 36.3671 25.7149 L 36.3671 32.6055 C 36.3671 33.4727 35.7109 34.0820 34.8671 34.0820 Z M 19.7733 52.5273 L 36.0624 52.5273 C 38.7577 52.5273 40.3046 51.0273 40.3046 48.3086 L 40.3046 44.9336 C 40.3046 42.2148 38.7577 40.6680 36.0624 40.6680 L 19.7733 40.6680 C 17.0546 40.6680 15.5077 42.2383 15.5077 44.9336 L 15.5077 48.3086 C 15.5077 51.0039 17.0546 52.5273 19.7733 52.5273 Z M 20.3124 49.2227 C 19.4921 49.2227 19.0468 48.8008 19.0468 47.9805 L 19.0468 45.2617 C 19.0468 44.4414 19.4921 43.9727 20.3124 43.9727 L 35.5233 43.9727 C 36.3202 43.9727 36.7655 44.4414 36.7655 45.2617 L 36.7655 47.9805 C 36.7655 48.8008 36.3202 49.2227 35.5233 49.2227 Z'/%3E%3C/svg%3E");

    &.pf-m-icon.pf-m-caps-lock {
        --pf-c-form-control--m-icon--BackgroundUrl: var(
            --pf-c-form-control--m-caps-lock--BackgroundUrl
        );
    }

    /* #endregion */
}

input.pf-c-form-control {
    &[type="text"],
    &[type="email"],
    &[type="password"],
    &[type="search"],
    textarea {
        @media not (prefers-contrast: more) {
            border-inline: 0;
            border-block-start-color: transparent;
        }

        @media (prefers-contrast: more) {
            border: 1px solid ButtonBorder !important;

            &:focus {
                border: 1px solid Highlight !important;
            }
        }
    }
}

@media (prefers-contrast: less) {
    input {
        outline: none !important;
    }
}

.pf-c-input-group {
    --pf-c-input-group--BackgroundColor: transparent !important;
}

/* #region Buttons */

.pf-c-button {
    --pf-c-button--disabled--BackgroundColor: var(--pf-global--Color--light-200);
}

/* #endregion */

/* #region Select */

.pf-c-select {
    --pf-c-select__toggle--BackgroundColor: transparent;
    --pf-c-select__toggle-typeahead--BackgroundColor: var(--ak-c-form-control-BackgroundColor);
}

.pf-c-select__toggle-typeahead {
    &:hover {
        --pf-c-select__toggle-typeahead--BackgroundColor: var(
            --ak-c-form-control-BackgroundColor--hover
        );
    }

    &:focus {
        --pf-c-select__toggle-typeahead--BackgroundColor: var(
            --ak-c-form-control-BackgroundColor--focus
        );
    }
}

.pf-c-select__toggle::before {
    --pf-c-select__toggle--before--BorderTopColor: transparent;
    --pf-c-select__toggle--before--BorderRightColor: transparent;
    --pf-c-select__toggle--before--BorderLeftColor: transparent;
}

/* #endregion */

/* #region Dropdown */

.pf-c-dropdown__menu-item[role="contentinfo"] {
    &,
    &:hover,
    &:focus {
        --pf-c-dropdown__menu-item--hover--Color: initial;
        --pf-c-dropdown__menu-item--hover--BackgroundColor: initial;
    }
}

/* #endregion */

/* #region Tables */

.pf-c-table {
    --pf-c-table__sort__button__text--Color: var(--pf-global--Color--100);
    --pf-c-table__button--hover--Color: var(--pf-global--link--Color--hover);

    /* Fixes the issue of an inner active element applying the active state to the row */
    tr.pf-m-hoverable {
        &:has(:not(td):active) {
            --pf-c-table--tr--m-hoverable--active--BackgroundColor: var(
                --pf-c-table--tr--m-hoverable--hover--BackgroundColor
            );
        }
    }
}

.pf-c-table__sort.pf-m-selected {
    text-decoration: underline;

    .pf-c-table__button .pf-c-table__text {
        --pf-c-table__sort__button__text--Color: var(--pf-global--Color--100);

        --pf-c-table__button--hover--Color: var(--pf-global--link--Color--hover);
    }
}

/* #endregion */

/* #region Login adjustments */

/* Ensure card is displayed on small screens */
.pf-c-login__main {
    display: block;
    position: relative;
    width: 100%;
    flex: 1 1 auto;
    place-content: center;
}

@media (max-width: 1199px) {
    .pf-c-login__container {
        display: flex;
        flex-direction: column;
    }
}

.ak-login-container {
    max-width: 35rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--pf-global--spacer--lg) - var(--pf-global--spacer--lg));
}

.pf-c-login__footer {
    color: var(--ak-flow-footer-color);
    flex: 250 0 auto;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

@media (max-width: 768px) {
    :root {
        --ak-flow-footer-color: var(--ak-flow-background-color-contrast);
    }
}

.pf-c-login__footer ul.pf-c-list.pf-m-inline {
    justify-content: center;
    padding: 2rem 0;
}

/* #endregion */

.pf-c-content h1 {
    display: flex;
    align-items: flex-start;
}

.pf-c-content h1 i {
    font-style: normal;
}

.pf-c-content h1 :first-child {
    margin-right: var(--pf-global--spacer--sm);
}

/* ensure background on non-flow pages match */
.pf-c-background-image::before {
    background-image: var(--ak-flow-background);
    background-position: center;
}

.pf-m-success {
    color: var(--pf-global--success-color--100) !important;
}

.pf-m-warning {
    color: var(--pf-global--warning-color--100);
}

.pf-m-danger {
    color: var(--pf-global--danger-color--100);
}

/* #region Fields */

fieldset {
    --ak-fieldset-border-width: thin;
    --ak-fieldset-border-color: var(--pf-global--BackgroundColor--light-100);
    --ak-legend-margin-inline-base: var(--pf-global--spacer--sm);
    --ak-legend-padding-inline-base: var(--pf-global--spacer--sm);

    border-color: var(--ak-fieldset-border-color);
    border-width: var(--ak-fieldset-border-width);

    padding: var(--ak-legend-padding-inline-base) !important;

    @media (prefers-contrast: more) {
        --ak-fieldset-border-color: var(--pf-global--BorderColor--200);
    }

    @media (prefers-contrast: less) {
        --ak-fieldset-border-color: transparent;
    }

    & > legend {
        line-height: 1;
        padding: var(--ak-legend-padding-inline-base) !important;
        margin-inline-start: var(
            --ak-legend-margin-inline-start,
            var(--ak-legend-margin-inline-base)
        ) !important;
        margin-inline-end: var(
            --ak-legend-margin-inline-end,
            var(--ak-legend-margin-inline-base)
        ) !important;
    }

    &:has(legend.sr-only) {
        border-width: 0;
    }

    &.pf-c-form__group {
        border-radius: var(--pf-global--BorderRadius--sm);
    }

    &.pf-c-form__group {
        display: flex;
        flex-wrap: wrap;

        &.pf-m-action {
            gap: var(--pf-global--spacer--md) var(--pf-global--spacer--sm);
            margin-block-start: 0;
        }
    }

    &.pf-c-modal-box__footer {
        --ak-legend-padding-inline-base: var(--pf-global--spacer--md);
        padding-block: calc(var(--ak-legend-padding-inline-base) / 2);
        border-inline: none;
        border-block-end: none;

        --pf-c-modal-box__footer--c-button--sm--MarginRight: var(
            --pf-c-modal-box__footer--c-button--MarginRight
        );

        & > ak-spinner-button:not(:last-child) {
            margin-right: var(--pf-c-modal-box__footer--c-button--MarginRight);
        }
    }
}

.pf-c-card > fieldset {
    margin-inline: var(--pf-global--spacer--md);
    margin-block-end: var(--pf-global--spacer--md);

    @media not (prefers-contrast: more) {
        --ak-legend-margin-inline-start: calc(
            var(--pf-c-card--child--PaddingLeft) - var(--ak-legend-padding-inline-base)
        );
        --ak-legend-margin-inline-end: calc(
            var(--pf-c-card--child--PaddingRight) - var(--ak-legend-padding-inline-base)
        );

        border-width: 0;
        padding: 0 !important;
        margin: 0 !important;

        legend {
            padding-block-start: var(--pf-c-card--first-child--PaddingTop) !important;
            padding-block-end: var(--pf-c-card__title--not--last-child--PaddingBottom) !important;
            line-height: var(--pf-global--LineHeight--md);
        }
    }
}

/* #endregion */

/* #region Notifications */

.pf-c-notification-drawer {
    --pf-c-notification-drawer--BackgroundColor: var(--pf-global--BackgroundColor--150);
}

/* #endregion */

/* #region Radio */

.pf-c-radio {
    cursor: pointer;
    user-select: none;
    --pf-c-radio__label--Color: FieldText;
    --pf-c-radio__description--Color: GrayText;

    @media (prefers-contrast: more) {
        --pf-c-radio__description--Color: color-mix(in srgb, GrayText 100%, FieldText 75%);
    }
}

/* #endregion */

/* #region Switch */

.pf-c-switch {
    --pf-c-switch__input--focus__toggle--OutlineWidth: 0;

    &:hover {
        --pf-c-switch__toggle--before--BackgroundColor: var(--pf-global--BackgroundColor--200);
    }
}

.pf-c-switch__label {
    --pf-c-switch__input--not-checked__label--Color: var(--pf-global--Color--100);
    user-select: none;
}

.pf-c-form__helper-text {
    text-wrap: balance;
    text-wrap: pretty; /* Supporting browsers. */
}

::placeholder {
    font-style: italic;
}

/* #endregion */

/* #region Fonts */

.pf-m-monospace {
    font-family: var(--pf-global--FontFamily--monospace);

    &:not([inputmode="url"])::placeholder {
        font-family: var(--pf-global--FontFamily--sans-serif);
    }
}

/* #endregion */

.pf-c-description-list__description .pf-c-button {
    margin-right: 6px;
    margin-bottom: 6px;
}

.pf-m-pressable {
    cursor: pointer;
    user-select: none;
}

.pf-m-link {
    color: var(--pf-global--link--Color);
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--pf-global--link--Color--hover);
        text-decoration: underline;
    }
}

a.pf-m-block {
    display: block;
}

/* Flow-card adjustments for static pages */
.pf-c-brand {
    padding-top: calc(
        var(--pf-c-login__main-footer-links--PaddingTop) +
            var(--pf-c-login__main-footer-links--PaddingBottom) +
            var(--pf-c-login__main-body--PaddingBottom)
    );
    max-height: 9rem;
}

.ak-brand {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ak-brand img {
    padding: 0 2rem;
    max-height: inherit;
}

@media (min-height: 60rem) {
    .pf-c-login[data-layout="stacked"] .pf-c-login__main {
        margin-top: 13rem;
    }
}

.pf-c-login[data-layout="sidebar_left"],
.pf-c-login[data-layout="sidebar_right"] {
    --ak-flow-footer-color: var(--ak-flow-background-color-contrast);
}

.pf-c-data-list {
    padding-inline-start: 0;
}

/* #region Code blocks */

pre:has(.hljs) {
    padding: var(--pf-global--spacer--md);
}

/* #endregion */
