@import "@patternfly/patternfly/base/patternfly-variables.css";
@import "@patternfly/patternfly/base/patternfly-fonts.css";
@import "@patternfly/patternfly/base/patternfly-common.css";
@import "@patternfly/patternfly/base/patternfly-globals.css";
@import "@patternfly/patternfly/base/patternfly-themes.css";
@import "@patternfly/patternfly/base/patternfly-fa-icons.css";
@import "@patternfly/patternfly/base/patternfly-pf-icons.css";

/**
 * @file authentik global layer.
 */

/* #region Root */

:root {
    --ak-accent: #fd4b2d;

    --ak-dark-foreground: #fafafa;
    --ak-dark-foreground-darker: #bebebe;
    --ak-dark-foreground-link: #5a5cb9;
    --ak-dark-background: #18191a;
    --ak-dark-background-darker: #000000;
    --ak-dark-background-light: #1c1e21;
    --ak-dark-background-light-ish: #212427;
    --ak-dark-background-lighter: #2b2e33;

    --ak-global--background-contrast: var(--pf-global--Color--100);

    /* PatternFly likes to override global variables for some reason */
    --ak-global--Color--100: var(--pf-global--Color--100);

    /* Minimum width after which the sidebar becomes automatic */
    --ak-sidebar--minimum-auto-width: 80rem;

    /**
     * The height of the navbar and branded sidebar.
     * @todo This shouldn't be necessary. The sidebar can instead use a grid layout
     * ensuring they share the same height.
     */
    --ak-navbar--height: 7rem;

    --pf-global--disabled-color--100: GrayText;
    --pf-global--disabled-color--200: color-mix(in srgb, GrayText 100%, CanvasText 75%);
    --pf-global--disabled-color--300: color-mix(in srgb, GrayText 100%, CanvasText 100%);
    --pf-c-nav__link--PaddingTop: 0.5rem;
    --pf-c-nav__link--PaddingRight: 0.5rem;
    --pf-c-nav__link--PaddingBottom: 0.5rem;
    --pf-c-nav__link--PaddingLeft: 0.5rem;
}

/* #endregion */

/* #region Scrollbars */

/**
 * Scrollbar colors derived from default user agent styles.
 *
 * @remarks
 *
 * Scrollbar colors may be ignored by the browser depending on a few factors:
 *
 * - A preference for increased contrast
 * - A preference for scrollbar visibility
 * - The pointer precision available
 * - Operating system differences
 */
:root {
    --ak-scrollbar-background-color: hsl(0 0% 98%);
    --ak-scrollbar-thumb-background-color: hsl(0 0% 76%);
}

/* #endregion */

/* #region Document */

html,
body {
    height: auto;
    min-height: 100dvh;
}

body {
    background-color: var(--ak-global--background-color, var(--pf-global--BackgroundColor--150));

    &::before {
        content: "";
        position: fixed;
        inset: 0;
        pointer-events: none;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: local;
        background-image: none;

        @media (min-width: 35rem) and (min-height: 17.5rem) {
            background-image: var(--ak-global--background-image, none);
        }
    }
}

/* #endregion */

html > form > input {
    position: absolute;
    top: -2000px;
    left: -2000px;
}
