:host {
    --ak-c-command-palette--PaddingBlock: calc(1em * var(--pf-global--LineHeight--sm));
    --ak-c-command-palette--PaddingInline: calc(
        2 * var(--pf-global--spacer--form-element) + var(--pf-global--spacer--sm)
    );

    --ak-c-command-palette--Translucency: 25%;

    --ak-c-command-palette__group--BorderColor: var(
        --pf-global--BackgroundColor--dark-transparent-200
    );

    --ak-c-command-palette__item--BackgroundColor: transparent;
    --ak-c-command-palette__item--Color: var(--pf-global--palette--purple-700);

    --ak-c-command-palette__item--Color: var(--pf-global--palette--blue-50);
    --ak-c-command-palette__item--selected--BackgroundColor: var(--pf-global--palette--blue-400);
    --ak-c-command-palette__item--hover--BackgroundColor: var(--pf-global--palette--blue-600);
    --ak-c-command-palette__item--hover-selected--BackgroundColor: var(
        --pf-global--palette--blue-300
    );

    --pf-global--Color--100: var(--pf-global--Color--light-100);

    @media (prefers-reduced-transparency: reduce) {
        --ak-c-command-palette--Translucency: 0%;
    }
}

fieldset {
    --ak-fieldset-border-color: var(--ak-c-command-palette__group--BorderColor) !important;

    &:has(.more-contrast-only) {
        --ak-c-command-palette__group--BorderColor: transparent;
    }
}

:host {
    display: block;
    min-height: min(10rem, 20dvh);
    padding: var(--pf-global--spacer--sm);
    padding-block-end: var(--pf-global--spacer--md);
    color: var(--pf-global--Color--100);
}

[part="command-field"] {
    border-bottom: 0.5px solid var(--pf-global--palette--black-600);
    margin-block-end: var(--pf-global--spacer--sm);
    padding-block-end: var(--pf-global--spacer--sm);
    margin-inline: var(--pf-global--spacer--sm);

    legend {
        padding: 0 !important;
    }
}

#command-input {
    display: block;
    width: 100%;
    font-size: var(--pf-global--FontSize--2xl);
    padding-block: var(--pf-global--spacer--form-element);
    padding-inline-start: calc(var(--ak-c-command-palette--PaddingInline) * 2);
    padding-inline-end: var(--ak-c-command-palette--PaddingInline);
    border: none;

    outline: none;
}

[part="results"] {
    overflow-y: auto;
    max-height: calc(100dvh - (1.75 * var(--ak-c-modal--MarginBlockStart)));
}

[part="command-item-label"] {
    flex: 1 1 auto;
    font-family: var(--pf-global--FontFamily--heading--sans-serif);
}

[part="command-item-suffix"] {
    font-variant: all-small-caps;
    font-weight: bold;
    color: var(--pf-global--palette--blue-300);
}

[part="group-heading"] {
    margin-block: var(--pf-global--spacer--sm);
    margin-inline: var(--pf-global--spacer--sm);
}

.command-item {
    &.selected {
        --ak-c-command-palette__item--BackgroundColor: var(
            --ak-c-command-palette__item--selected--BackgroundColor
        );
        --ak-c-command-palette__item--hover--BackgroundColor: var(
            --ak-c-command-palette__item--hover-selected--BackgroundColor
        );
        --ak-c-command-palette__item--AccentColor: var(--pf-global--primary-color--100);
    }

    .pf-c-button {
        display: flex;
        gap: var(--pf-global--spacer--sm);
        --pf-c-button--PaddingTop: var(--pf-global--spacer--md);
        --pf-c-button--PaddingBottom: var(--pf-global--spacer--md);
        border-inline-start: 3px solid var(--ak-c-command-palette__item--AccentColor, transparent);
        background-color: color-mix(
            var(--ak-c-command-palette__item--BackgroundColor),
            transparent var(--ak-c-command-palette--Translucency)
        );
        width: 100%;
        border-radius: 0;
        text-align: start;
        color: var(--ak-c-command-palette__item--Color);

        &:hover {
            background-color: color-mix(
                var(--ak-c-command-palette__item--hover--BackgroundColor),
                transparent var(--ak-c-command-palette--Translucency)
            );
        }
    }
}

[part="label"] {
    cursor: pointer;
    position: absolute;
    inset-block-start: var(--ak-c-command-palette--PaddingBlock);
    inset-inline-start: var(--ak-c-command-palette--PaddingInline);
    z-index: 1;
    pointer-events: none;

    z-index: 1;
    pointer-events: none;

    .icon {
        display: block;
        height: var(--pf-global--icon--FontSize--lg);
        fill: currentColor;
        stroke: currentColor;
    }
}
