@media (prefers-contrast: more) {
    .more-contrast-only {
        position: static;
        left: auto;
        width: auto;
        height: auto;
        overflow: visible;
    }
}

@media (not (prefers-contrast: more)) {
    input {
        outline: none;
    }
}
