.pf-c-card.pf-c-card-aggregate {
    height: 100%;
}

.pf-c-card__header {
    padding: var(--pf-global--spacer--md);
}

.pf-c-card__title {
    display: flex;
    align-items: center;
    gap: var(--pf-global--spacer--sm);
    flex: 1 1 auto;
}

.subtext {
    margin-top: var(--pf-global--spacer--sm);
    font-size: var(--pf-global--FontSize--sm);
}

.pf-c-card__body {
    overflow-x: auto;
    padding-left: calc(var(--pf-c-card--child--PaddingLeft) / 2);
    padding-right: calc(var(--pf-c-card--child--PaddingRight) / 2);
}

.status-container {
    font-size: var(--pf-global--icon--FontSize--lg);
    text-align: center;

    .status-heading {
        display: flex;
        gap: var(--pf-global--spacer--sm);
        justify-content: center;
        align-items: baseline;
    }
}

.pf-c-card__header,
.pf-c-card__title,
.pf-c-card__body,
.pf-c-card__footer {
    padding-bottom: 0;
}

.pf-c-card__footer {
    min-height: 1ex;
}

:host([role="status"]) {
    text-align: center;
}
