{% extends 'login/base.html' %}

{% load static %}
{% load i18n %}
{% load utils %}

{% block card_title %}
{{ title }} <span>(403)</span>
{% endblock %}

{% block card %}
<form>
    <h3>{{ main }}</h3>
    {% if no_referer %}
    <p>{{ no_referer1 }}</p>
    <p>{{ no_referer2 }}</p>
    <p>{{ no_referer3 }}</p>
    {% endif %}
    {% if no_cookie %}
    <p>{{ no_cookie1 }}</p>
    <p>{{ no_cookie2 }}</p>
    {% endif %}
    {% if 'back' in request.GET %}
    <a href="{% back %}" class="btn btn-primary btn-block btn-lg">{% trans 'Back' %}</a>
    {% endif %}
</form>
{% endblock %}
