{% extends "base/page.html" %}

{% load static %}
{% load i18n %}

{% load passbook_is_active %}
{% load passbook_utils %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'node_modules/codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'node_modules/codemirror/theme/monokai.css' %}">
{% endblock %}

{% block page_content %}
<pb-sidebar class="pf-c-page__sidebar" brandLogo="{{ config.passbook.branding.logo }}" {% if config.passbook.branding.title_show %} brandTitle="{{ config.passbook.branding.title }}" {% endif %}>
</pb-sidebar>
<pb-router-outlet role="main" class="pf-c-page__main" tabindex="-1" id="main-content" defaultUrl="-/overview/">
</pb-router-outlet>
{% endblock %}
