{% extends "user/base.html" %}

{% load supervisr_utils %}
{% load i18n %}

{% block title %}
{% title "Overview" %}
{% endblock %}

{% block content %}
<h1><clr-icon shape="connect" size="48"></clr-icon>{% trans "OAuth2" %}</h1>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        {% trans "Connected Accounts" %}
      </div>
      <div class="card-footer">
        {% if provider_state %}
        <table class="table">
          <thead>
            <th>
              <th>{% trans 'Provider' %}</th>
              <th>{% trans 'Status' %}</th>
              <th>{% trans 'Action' %}</th>
              <th>{% trans 'ID' %}</th>
            </th>
          </thead>
          <tbody>
            {% for data in provider_state %}
            <tr>
              <td></td>
              <td>{% trans data.provider.ui_name %}</td>
              <td>{{ data.state|yesno:"Connected,Not Connected" }}</td>
              <td>
              {% if data.state == False %}
                <a href="{% url 'supervisr_mod_auth_oauth_client:oauth-client-login' provider=data.provider.name %}">Connect</a>
              {% else %}
                <a href="{% url 'supervisr_mod_auth_oauth_client:oauth-client-disconnect' provider=data.provider.name %}">Disconnect</a>
              {% endif %}
              </td>
              <td>{{ data.aas.first.identifier }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>{% trans "No Providers configured!" %}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
