{% extends "login/base_full.html" %}

{% load authentik_utils %}
{% load i18n %}

{% block title %}
{% trans 'Authorize Application' %}
{% endblock %}

{% block card %}
<form class="pf-c-form" method="POST" action="{{ request_url }}">
    {% csrf_token %}
    <input type="hidden" name="SAMLRequest" value="{{ request }}" />
    <input type="hidden" name="RelayState" value="{{ relay_state }}" />
    <div class="login-group">
        <h3>
            {% blocktrans with source=source.name %}
            You're about to sign-in via {{ source }}.
            {% endblocktrans %}
        </h3>
    </div>
    <div class="pf-c-form__group pf-m-action">
        <button class="pf-c-button pf-m-primary pf-m-block" type="submit">{% trans "Continue" %}</button>
    </div>
</form>
{% endblock %}
