[project]
name = "ak-guardian"
version = "3.2.0"
description = "Model and object permissions for Django"
requires-python = ">=3.9,<3.15"
readme = "README.md"
license = { text = "BSD-2-Clause" }
authors = [{ name = "Authentik Security Inc.", email = "hello@goauthentik.io" }]
keywords = ["django", "permissions", "authorization", "object", "row", "level"]

classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    'Environment :: Web Environment',
    "Topic :: Software Development :: Libraries :: Python Modules",
    "License :: OSI Approved :: BSD License",
    'Framework :: Django',
    'Framework :: Django :: 3.2',
    'Framework :: Django :: 4.1',
    'Framework :: Django :: 4.2',
    'Framework :: Django :: 5.0',
    'Framework :: Django :: 5.1',
    'Framework :: Django :: 5.2',
    'Programming Language :: Python',
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3.14",
    "Operating System :: OS Independent",
    'Topic :: Security',
]

dependencies = [
    "django>=5.2,<6.0",
    "typing_extensions>=4.12.0; python_version<'3.15'",
]

[project.urls]
Homepage = "https://github.com/goauthentik/authentik/tree/main/packages/ak-guardian"
Documentation = "https://github.com/goauthentik/authentik/tree/main/packages/ak-guardian"
Repository = "https://github.com/goauthentik/authentik/tree/main/packages/ak-guardian"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = [
    "guardian",
    "guardian.conf",
    "guardian.management",
    "guardian.management.commands",
    "guardian.migrations",
]


[tool.setuptools.packages]
find = {}
