[Unit]
Description=authentik worker
Requires=authentik-postgresql.container
After=authentik-postgresql.container

[Container]
ContainerName=authentik-worker
Image=ghcr.io/goauthentik/server:2026.8.0-rc1
AutoUpdate=registry
Pod=authentik.pod
Exec=worker
User=0:0
EnvironmentFile=%h/.config/authentik/authentik.env
Environment=AUTHENTIK_POSTGRESQL__HOST=localhost
Environment=AUTHENTIK_POSTGRESQL__NAME=authentik
Environment=AUTHENTIK_POSTGRESQL__USER=authentik
Environment=AUTHENTIK_LISTEN__HTTP=0.0.0.0:9001
Environment=AUTHENTIK_LISTEN__METRICS=0.0.0.0:9301
Volume=%t/podman/podman.sock:/run/podman/podman.sock:Z
Volume=%h/.local/share/authentik/data:/data:Z
Volume=%h/.local/share/authentik/certs:/certs:Z
Volume=%h/.local/share/authentik/custom-templates:/templates:Z
PodmanArgs=--shm-size=512m

[Service]
Restart=always

[Install]
WantedBy=default.target
