[Unit]
Description=authentik server
Requires=authentik-postgresql.container
After=authentik-postgresql.container

[Container]
ContainerName=authentik-server
Image=ghcr.io/goauthentik/server:2026.8.0-rc1
AutoUpdate=registry
Pod=authentik.pod
Exec=server
EnvironmentFile=%h/.config/authentik/authentik.env
Environment=AUTHENTIK_POSTGRESQL__HOST=localhost
Environment=AUTHENTIK_POSTGRESQL__NAME=authentik
Environment=AUTHENTIK_POSTGRESQL__USER=authentik
Volume=%h/.local/share/authentik/data:/data:Z
Volume=%h/.local/share/authentik/custom-templates:/templates:Z
ShmSize=512m

[Service]
Restart=always

[Install]
WantedBy=default.target
