{% extends "login/base.html" %}

{% load authentik_utils %}
{% load i18n %}

{% block title %}
{{ title }}
{% endblock %}

{% block card %}
<form method="POST" action="{{ url }}" autosubmit>
    {% csrf_token %}
    {% for key, value in attrs.items %}
    <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}
    <div class="pf-c-form__group pf-u-display-flex pf-u-justify-content-center">
        <div class="pf-c-form__group-control">
            <span class="pf-c-spinner" role="progressbar" aria-valuetext="Loading...">
                <span class="pf-c-spinner__clipper"></span>
                <span class="pf-c-spinner__lead-ball"></span>
                <span class="pf-c-spinner__tail-ball"></span>
            </span>
        </div>
    </div>
    <div class="pf-c-form__group pf-m-action">
        <div class="pf-c-form__actions">
            <button class="pf-c-button pf-m-primary pf-m-block" type="submit">{% trans 'Continue' %}</button>
        </div>
    </div>
</form>
{% endblock %}
