:root {
    --ifm-font-family-base:
        RedHatVF, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
        Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --ifm-font-family-monospace:
        RedHatMonoVF, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;

    --ifm-heading-font-family: RedHatDisplayVF, var(--ifm-font-family-base);

    --ifm-h5-font-size: 0.88rem;
    --ifm-code-font-size: 100%;
}

@font-face {
    font-family: "RedHatDisplayVF";
    font-style: normal;
    font-weight: 300 900;
    font-display: fallback;
    src:
        local("Red Hat Display"),
        url("/fonts/RedHatFont-updated/modified/RedHatDisplayVFModified-updated.woff2")
            format("woff2-variations"),
        url("https://goauthentik.io/fonts/RedHatFont-updated/modified/RedHatDisplayVFModified-updated.woff2")
            format("woff2-variations");
}

@font-face {
    font-family: "RedHatDisplayVF";
    font-style: italic;
    font-weight: 300 900;
    font-display: fallback;
    src:
        local("Red Hat Display"),
        url("/fonts/RedHatFont-updated/modified/RedHatDisplayVF-updated-ItalicModified.woff2")
            format("woff2-variations"),
        url("https://goauthentik.io/fonts/RedHatFont-updated/modified/RedHatDisplayVF-updated-ItalicModified.woff2")
            format("woff2-variations");
}

@font-face {
    font-family: "RedHatTextVF";
    font-style: normal;
    font-weight: 400 500;
    font-display: fallback;
    src:
        local("Red Hat Display"),
        url("/fonts/RedHatFont-updated/modified/RedHatTextVFModified-updated.woff2")
            format("woff2-variations"),
        url("https://goauthentik.io/fonts/RedHatFont-updated/modified/RedHatTextVFModified-updated.woff2")
            format("woff2-variations");
}

@font-face {
    font-family: "RedHatTextVF";
    font-style: italic;
    font-weight: 400 500;
    font-display: fallback;
    src:
        local("Red Hat Display"),
        url("/fonts/RedHatFont-updated/modified/RedHatTextVF-updated-ItalicModified.woff2")
            format("woff2-variations")
            url("https://goauthentik.io/fonts/RedHatFont-updated/modified/RedHatTextVF-updated-ItalicModified.woff2")
            format("woff2-variations");
}

@font-face {
    font-family: "RedHatMonoVF";
    font-style: normal;
    font-weight: 300 700;
    font-display: fallback;
    src:
        local("Red Hat Mono"),
        url("/fonts/RedHatFont-updated/RedHatMono/RedHatMonoVF-updated.woff2")
            format("woff2-variations"),
        url("https://goauthentik.io/fonts/RedHatFont-updated/RedHatMono/RedHatMonoVF-updated.woff2")
            format("woff2-variations");
}

@font-face {
    font-family: "RedHatMonoVF";
    font-style: italic;
    font-weight: 300 700;
    font-display: fallback;
    src:
        local("Red Hat Mono"),
        url("/fonts/RedHatFont-updated/RedHatMono/RedHatMonoVF-updated-Italic.woff2")
            format("woff2-variations"),
        url("https://goauthentik.io/fonts/RedHatFont-updated/RedHatMono/RedHatMonoVF-updated-Italic.woff2")
            format("woff2-variations");
}
