{% extends "_admin/module_default.html" %}

{% load i18n %}
{% load supervisr_utils %}

{% block title %}
{% title "Overview" %}
{% endblock %}

{% block module_content %}
<h2><clr-icon shape="application" size="32"></clr-icon>{% trans 'SAML2 IDP' %}</h2>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2><clr-icon shape="settings" size="32"></clr-icon>{% trans 'Settings' %}</h2>
      </div>
      <form role="form" method="POST">
        <div class="card-block">
          {% include 'blocks/form.html' with form=form %}
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2><clr-icon shape="bank" size="32"></clr-icon>{% trans 'Metadata' %}</h2>
      </div>
      <div class="card-block">
        <p>{% trans 'Cert Fingerprint (SHA1):' %} <pre>{{ fingerprint }}</pre></p>
        <section class="form-block">
          <pre lang="xml" >{{ metadata }}</pre>
        </section>
      </div>
      <div class="card-footer">
        <a href="{% url 'supervisr_mod_auth_saml_idp:metadata_xml' %}" class="btn btn-primary"><clr-icon shape="download"></clr-icon>{% trans 'Download Metadata' %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
