{% extends "administration/base.html" %}

{% load i18n %}
{% load utils %}

{% block content %}
<section class="pf-c-page__main-section pf-m-light">
    <div class="pf-c-content">
        <h1>
            <i class="pf-icon pf-icon-applications"></i>
            {% trans 'Request' %}
        </h1>
    </div>
</section>
<section class="pf-c-page__main-section pf-m-no-padding-mobile">
    <div class="pf-c-card">
        <table class="pf-c-table pf-m-compact pf-m-grid-xl" role="grid">
            <thead>
                <tr role="row">
                    <th role="columnheader" scope="col" style="min-width: 150px;">{% trans 'Key' %}</th>
                    <th role="columnheader" scope="col">{% trans 'Value' %}</th>
                </tr>
            </thead>
            <tbody role="rowgroup">
                {% for key, value in request_dict.items %}
                <tr role="row">
                    <td role="cell">{{ key }}</td>
                    <td role="cell">{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
</div>
{% endblock %}
