[[redirects]]
  from = "/discord"
  to = "https://discord.gg/jg33eMhnj6"

# Migration from docs to separate directory
[[redirects]]
  from = "/docs/integrations/*"
  to = "/integrations/:splat"

# Docusaurus update removes index
[[redirects]]
  from = "/docs/:firstPart/index"
  to = "/docs/:firstPart/"
  status = 301
  force = true
[[redirects]]
  from = "/docs/:firstPart/:secondPart/index"
  to = "/docs/:firstPart/:secondPart/"
  status = 301
  force = true
[[redirects]]
  from = "/integrations/:firstPart/index"
  to = "/integrations/:firstPart/"
  status = 301
  force = true
[[redirects]]
  from = "/integrations/:firstPart/:secondPart/index"
  to = "/integrations/:firstPart/:secondPart/"
  status = 301
  force = true

# ?go-get=1 downloads
[[redirects]]
  from = "/*"
  to = "/.netlify/functions/go-get"
  status = 200
  force = true
  query = {go-get = "1"}

# Container registry
[[redirects]]
  from = "/v2"
  to = "/.netlify/functions/oci-proxy"
  status = 200
  force = true

[[redirects]]
  from = "/v2/*"
  to = "https://ghcr.io/v2/goauthentik/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/version/*"
  to = "https://raw.githubusercontent.com/goauthentik/authentik/version-:splat"

[[redirects]]
  from = "/js/script.js"
  to = "https://plausible.io/js/plausible.outbound-links.js"
  status = 200
  force = true

[[redirects]]
  from = "/api/event"
  to = "https://plausible.io/api/event"
  status = 200
  force = true
