/**
 * @file * @file Document-level CSS Custom Properties for Label components.
 */

:root {
    --ak-c-label--PaddingTop: var(--pf-global--spacer--xs);
    --ak-c-label--PaddingRight: var(--pf-global--spacer--md);
    --ak-c-label--PaddingBottom: var(--pf-global--spacer--xs);
    --ak-c-label--PaddingLeft: var(--pf-global--spacer--md);
    --ak-c-label--MaxWidth: 100%;
    --ak-c-label--BorderRadius: var(--pf-global--BorderRadius--lg);
    --ak-c-label--BackgroundColor: var(--pf-global--palette--black-150);
    --ak-c-label--Color: var(--pf-global--Color--100);
    --ak-c-label--FontSize: var(--pf-global--FontSize--sm);
    --ak-c-label__content--before--BorderWidth: var(--pf-global--BorderWidth--sm);
    --ak-c-label__content--before--BorderColor: var(--pf-global--BorderColor--100);
    --ak-c-label--m-outline--BackgroundColor: var(--pf-global--BackgroundColor--100);
    --ak-c-label--m-outline__content--before--BorderWidth: var(--pf-global--BorderWidth--sm);
    --ak-c-label--m-outline__content--before--BorderColor: var(--pf-global--BorderColor--100);
    --ak-c-label__content--link--hover--before--BorderWidth: var(--pf-global--BorderWidth--md);
    --ak-c-label__content--link--focus--before--BorderWidth: var(--pf-global--BorderWidth--md);
    --ak-c-label__content--link--hover--before--BorderColor: var(--pf-global--BorderColor--200);
    --ak-c-label__content--link--focus--before--BorderColor: var(--pf-global--BorderColor--200);
    --ak-c-label--m-outline__content--link--hover--before--BorderWidth: var(
        --pf-global--BorderWidth--md
    );
    --ak-c-label--m-outline__content--link--focus--before--BorderWidth: var(
        --pf-global--BorderWidth--md
    );
    --ak-c-label--m-outline__content--link--hover--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline__content--link--focus--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-blue--BackgroundColor: var(--pf-global--palette--blue-50);
    --ak-c-label--m-blue__icon--Color: var(--pf-global--primary-color--100);
    --ak-c-label--m-blue__content--Color: var(--pf-global--info-color--200);
    --ak-c-label--m-blue__content--before--BorderColor: var(--pf-global--palette--blue-100);
    --ak-c-label--m-blue__content--link--hover--before--BorderColor: var(
        --pf-global--primary-color--100
    );
    --ak-c-label--m-blue__content--link--focus--before--BorderColor: var(
        --pf-global--primary-color--100
    );
    --ak-c-label--m-outline--m-blue__content--Color: var(--pf-global--primary-color--100);
    --ak-c-label--m-outline--m-blue__content--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-blue__content--link--hover--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-blue__content--link--focus--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-green--BackgroundColor: var(--pf-global--palette--green-50);
    --ak-c-label--m-green__icon--Color: var(--pf-global--success-color--100);
    --ak-c-label--m-green__content--Color: var(--pf-global--success-color--200);
    --ak-c-label--m-green__content--before--BorderColor: var(--pf-global--palette--green-100);
    --ak-c-label--m-green__content--link--hover--before--BorderColor: var(
        --pf-global--success-color--100
    );
    --ak-c-label--m-green__content--link--focus--before--BorderColor: var(
        --pf-global--success-color--100
    );
    --ak-c-label--m-outline--m-green__content--Color: var(--pf-global--success-color--100);
    --ak-c-label--m-outline--m-green__content--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-green__content--link--hover--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-green__content--link--focus--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-orange--BackgroundColor: var(--pf-global--palette--orange-50);
    --ak-c-label--m-orange__icon--Color: var(--pf-global--palette--orange-300);
    --ak-c-label--m-orange__content--Color: var(--pf-global--palette--orange-700);
    --ak-c-label--m-orange__content--before--BorderColor: var(--pf-global--palette--orange-100);
    --ak-c-label--m-orange__content--link--hover--before--BorderColor: var(
        --pf-global--palette--orange-300
    );
    --ak-c-label--m-orange__content--link--focus--before--BorderColor: var(
        --pf-global--palette--orange-300
    );
    --ak-c-label--m-outline--m-orange__content--Color: var(--pf-global--palette--orange-500);
    --ak-c-label--m-outline--m-orange__content--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-orange__content--link--hover--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-orange__content--link--focus--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-red--BackgroundColor: var(--pf-global--palette--red-50);
    --ak-c-label--m-red__icon--Color: var(--pf-global--danger-color--100);
    --ak-c-label--m-red__content--Color: var(--pf-global--palette--red-300);
    --ak-c-label--m-red__content--before--BorderColor: var(--pf-global--palette--red-100);
    --ak-c-label--m-red__content--link--hover--before--BorderColor: var(
        --pf-global--danger-color--100
    );
    --ak-c-label--m-red__content--link--focus--before--BorderColor: var(
        --pf-global--danger-color--100
    );
    --ak-c-label--m-outline--m-red__content--Color: var(--pf-global--danger-color--100);
    --ak-c-label--m-outline--m-red__content--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-red__content--link--hover--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-red__content--link--focus--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-purple--BackgroundColor: var(--pf-global--palette--purple-50);
    --ak-c-label--m-purple__icon--Color: var(--pf-global--palette--purple-500);
    --ak-c-label--m-purple__content--Color: var(--pf-global--palette--purple-700);
    --ak-c-label--m-purple__content--before--BorderColor: var(--pf-global--palette--purple-100);
    --ak-c-label--m-purple__content--link--hover--before--BorderColor: var(
        --pf-global--palette--purple-500
    );
    --ak-c-label--m-purple__content--link--focus--before--BorderColor: var(
        --pf-global--palette--purple-500
    );
    --ak-c-label--m-outline--m-purple__content--Color: var(--pf-global--palette--purple-500);
    --ak-c-label--m-outline--m-purple__content--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-purple__content--link--hover--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-purple__content--link--focus--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-cyan--BackgroundColor: var(--pf-global--palette--cyan-50);
    --ak-c-label--m-cyan__icon--Color: var(--pf-global--custom-color--200);
    --ak-c-label--m-cyan__content--Color: var(--pf-global--custom-color--300);
    --ak-c-label--m-cyan__content--before--BorderColor: var(--pf-global--palette--cyan-100);
    --ak-c-label--m-cyan__content--link--hover--before--BorderColor: var(
        --pf-global--custom-color--200
    );
    --ak-c-label--m-cyan__content--link--focus--before--BorderColor: var(
        --pf-global--custom-color--200
    );
    --ak-c-label--m-outline--m-cyan__content--Color: var(--pf-global--palette--cyan-400);
    --ak-c-label--m-outline--m-cyan__content--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-cyan__content--link--hover--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-cyan__content--link--focus--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-gold--BackgroundColor: var(--pf-global--palette--gold-50);
    --ak-c-label--m-gold__icon--Color: var(--pf-global--palette--gold-400);
    --ak-c-label--m-gold__content--Color: var(--pf-global--palette--gold-700);
    --ak-c-label--m-gold__content--before--BorderColor: var(--pf-global--palette--gold-100);
    --ak-c-label--m-gold__content--link--hover--before--BorderColor: var(
        --pf-global--palette--gold-300
    );
    --ak-c-label--m-gold__content--link--focus--before--BorderColor: var(
        --pf-global--palette--gold-300
    );
    --ak-c-label--m-outline--m-gold__content--Color: var(--pf-global--palette--gold-600);
    --ak-c-label--m-outline--m-gold__content--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-gold__content--link--hover--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-outline--m-gold__content--link--focus--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-overflow__content--Color: var(--pf-global--link--Color);
    --ak-c-label--m-overflow__content--BackgroundColor: var(--pf-global--BackgroundColor--100);
    --ak-c-label--m-overflow__content--before--BorderWidth: var(--pf-global--BorderWidth--sm);
    --ak-c-label--m-overflow__content--before--BorderColor: var(--pf-global--BorderColor--300);
    --ak-c-label--m-overflow__content--link--hover--before--BorderWidth: var(
        --pf-global--BorderWidth--md
    );
    --ak-c-label--m-overflow__content--link--hover--before--BorderColor: var(
        --pf-global--BorderColor--300
    );
    --ak-c-label--m-overflow__content--link--focus--before--BorderWidth: var(
        --pf-global--BorderWidth--md
    );
    --ak-c-label--m-overflow__content--link--focus--before--BorderColor: var(
        --pf-global--BorderColor--300
    );
    --ak-c-label--m-compact--PaddingTop: 0;
    --ak-c-label--m-compact--PaddingRight: var(--pf-global--spacer--sm);
    --ak-c-label--m-compact--PaddingBottom: 0;
    --ak-c-label--m-compact--PaddingLeft: var(--pf-global--spacer--sm);
    --ak-c-label--m-compact--FontSize: var(--pf-global--FontSize--xs);
    --ak-c-label--m-compact--m-editable--TextDecorationOffset: 0.0625rem;
    --ak-c-label__content--Color: var(--pf-global--Color--100);
    --ak-c-label__content--BackgroundColor: transparent;
    --ak-c-label__content--MaxWidth: 100%;
    --ak-c-label--m-outline__content--Color: var(--pf-global--Color--100);
    --ak-c-label--m-editable__content--MaxWidth: 16ch;
    --ak-c-label__text--MaxWidth: 100%;
    --ak-c-label__icon--Color: var(--pf-global--Color--100);
    --ak-c-label__icon--MarginRight: var(--pf-global--spacer--xs);
    --ak-c-label__actions--FontSize: var(--pf-global--FontSize--xs);
    --ak-c-label__actions--MarginRight: calc(
        var(--ak-c-label__actions--c-button--PaddingRight) * -1
    );
    --ak-c-label__actions--c-button--FontSize: var(--pf-global--FontSize--xs);
    --ak-c-label__actions--c-button--MarginTop: calc(
        var(--ak-c-label__actions--c-button--PaddingTop) * -1
    );
    --ak-c-label__actions--c-button--MarginBottom: calc(
        var(--ak-c-label__actions--c-button--PaddingBottom) * -1
    );
    --ak-c-label__actions--c-button--PaddingTop: var(--pf-global--spacer--xs);
    --ak-c-label__actions--c-button--PaddingRight: var(--pf-global--spacer--sm);
    --ak-c-label__actions--c-button--PaddingBottom: var(--pf-global--spacer--xs);
    --ak-c-label__actions--c-button--PaddingLeft: var(--pf-global--spacer--sm);
    --ak-c-label--m-editable--Cursor: pointer;
    --ak-c-label--m-editable--TextDecoration: underline;
    --ak-c-label--m-editable--TextDecorationStyle: dashed;
    --ak-c-label--m-editable--TextDecorationThickness: var(--pf-global--BorderWidth--sm);
    --ak-c-label--m-editable--TextDecorationOffset: 0.25rem;
    --ak-c-label--m-editable--TextDecorationColor: var(--pf-global--BorderColor--200);
    --ak-c-label--m-editable--hover--TextDecorationColor: var(--pf-global--Color--100);
    --ak-c-label--m-editable--focus--TextDecorationColor: var(--pf-global--Color--100);
    --ak-c-label--m-editable__content--before--BorderWidth: var(--pf-global--BorderWidth--sm);
    --ak-c-label--m-editable__content--before--BorderColor: var(--pf-global--BorderColor--100);
    --ak-c-label--m-editable__content--hover--before--BorderWidth: var(
        --pf-global--BorderWidth--sm
    );
    --ak-c-label--m-editable__content--hover--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-editable__content--focus--before--BorderWidth: var(
        --pf-global--BorderWidth--sm
    );
    --ak-c-label--m-editable__content--focus--before--BorderColor: var(
        --pf-global--BorderColor--100
    );
    --ak-c-label--m-editable--m-editable-active--Cursor: auto;
    --ak-c-label--m-editable--m-editable-active--TextDecoration: none;
    --ak-c-label--m-editable--m-editable-active--BackgroundColor: transparent;
    --ak-c-label--m-editable--m-editable-active__content--before--BorderWidth: 0;
    --ak-c-label--m-editable--m-editable-active__content--before--BorderColor: transparent;
    --ak-c-label--m-disabled--BackgroundColor: var(--pf-global--disabled-color--200);
    --ak-c-label--m-disabled__content--Color: var(--pf-global--disabled-color--100);
    --ak-c-label--m-disabled__icon--Color: var(--pf-global--disabled-color--100);
    --ak-c-label--c-button--m-disabled--Color: var(--pf-global--disabled-color--100);
}

html[data-theme="dark"],
html[theme="dark"],
.ak-t-dark {
    --ak-c-label--BackgroundColor: var(--pf-global--BackgroundColor--300);
    --ak-c-label--m-blue--BackgroundColor: var(--pf-global--BackgroundColor--300);
    --ak-c-label--m-green--BackgroundColor: var(--pf-global--BackgroundColor--300);
    --ak-c-label--m-orange--BackgroundColor: var(--pf-global--BackgroundColor--300);
    --ak-c-label--m-red--BackgroundColor: var(--pf-global--BackgroundColor--300);
    --ak-c-label--m-purple--BackgroundColor: var(--pf-global--BackgroundColor--300);
    --ak-c-label--m-cyan--BackgroundColor: var(--pf-global--BackgroundColor--300);
    --ak-c-label--m-gold--BackgroundColor: var(--pf-global--BackgroundColor--300);
    --ak-c-label__content--before--BorderWidth: 0;
    --ak-c-label__content--before--BorderColor: transparent;
    --ak-c-label__content--link--hover--before--BorderWidth: var(--pf-global--BorderWidth--sm);
    --ak-c-label__content--link--focus--before--BorderWidth: var(--pf-global--BorderWidth--sm);
    --ak-c-label--m-blue__content--Color: var(--pf-global--primary-color--100);
    --ak-c-label--m-outline--m-blue__content--before--BorderColor: var(
        --pf-global--active-color--200
    );
    --ak-c-label--m-outline--m-blue__content--link--hover--before--BorderColor: var(
        --pf-global--active-color--200
    );
    --ak-c-label--m-outline--m-blue__content--link--focus--before--BorderColor: var(
        --pf-global--active-color--200
    );
    --ak-c-label--m-green__content--Color: var(--pf-global--success-color--100);
    --ak-c-label--m-outline--m-green__content--before--BorderColor: var(
        --pf-global--palette--green-100
    );
    --ak-c-label--m-outline--m-green__content--link--hover--before--BorderColor: var(
        --pf-global--palette--green-100
    );
    --ak-c-label--m-outline--m-green__content--link--focus--before--BorderColor: var(
        --pf-global--palette--green-100
    );
    --ak-c-label--m-orange__content--Color: var(--pf-global--palette--orange-300);
    --ak-c-label--m-outline--m-orange__content--Color: var(--pf-global--palette--orange-300);
    --ak-c-label--m-outline--m-orange__content--before--BorderColor: var(
        --pf-global--palette--gold-100
    );
    --ak-c-label--m-outline--m-orange__content--link--hover--before--BorderColor: var(
        --pf-global--palette--gold-100
    );
    --ak-c-label--m-outline--m-orange__content--link--focus--before--BorderColor: var(
        --pf-global--palette--gold-100
    );
    --ak-c-label--m-red__content--Color: var(--pf-global--danger-color--100);
    --ak-c-label--m-outline--m-red__content--before--BorderColor: var(
        --pf-global--danger-color--100
    );
    --ak-c-label--m-outline--m-red__content--link--hover--before--BorderColor: var(
        --pf-global--danger-color--100
    );
    --ak-c-label--m-outline--m-red__content--link--focus--before--BorderColor: var(
        --pf-global--danger-color--100
    );
    --ak-c-label--m-purple__content--Color: var(--pf-global--palette--purple-300);
    --ak-c-label--m-purple__icon--Color: var(--pf-global--palette--purple-300);
    --ak-c-label--m-purple__content--link--hover--before--BorderColor: var(
        --pf-global--palette--purple-300
    );
    --ak-c-label--m-purple__content--link--focus--before--BorderColor: var(
        --pf-global--palette--purple-300
    );
    --ak-c-label--m-outline--m-purple__content--before--BorderColor: var(
        --pf-global--palette--purple-100
    );
    --ak-c-label--m-outline--m-purple__content--link--hover--before--BorderColor: var(
        --pf-global--palette--purple-100
    );
    --ak-c-label--m-outline--m-purple__content--link--focus--before--BorderColor: var(
        --pf-global--palette--purple-100
    );
    --ak-c-label--m-outline--m-purple__content--Color: var(--pf-global--palette--purple-300);
    --ak-c-label--m-cyan__content--Color: var(--pf-global--custom-color--200);
    --ak-c-label--m-outline--m-cyan__content--Color: var(--pf-global--custom-color--200);
    --ak-c-label--m-outline--m-cyan__content--before--BorderColor: var(
        --pf-global--palette--cyan-100
    );
    --ak-c-label--m-outline--m-cyan__content--link--hover--before--BorderColor: var(
        --pf-global--palette--cyan-100
    );
    --ak-c-label--m-outline--m-cyan__content--link--focus--before--BorderColor: var(
        --pf-global--palette--cyan-100
    );
    --ak-c-label--m-gold__content--Color: var(--pf-global--palette--gold-300);
    --ak-c-label--m-outline--m-gold__content--Color: var(--pf-global--palette--gold-300);
    --ak-c-label--m-outline--m-gold__content--before--BorderColor: var(
        --pf-global--palette--gold-100
    );
    --ak-c-label--m-outline--m-gold__content--link--hover--before--BorderColor: var(
        --pf-global--palette--gold-100
    );
    --ak-c-label--m-outline--m-gold__content--link--focus--before--BorderColor: var(
        --pf-global--palette--gold-100
    );

    --ak-c-label--m-gray--BackgroundColor: var(--pf-global--palette--black-100);
    --ak-c-label--m-gray__icon--Color: var(--pf-global--primary-color--100);
    --ak-c-label--m-gray__content--Color: var(--pf-global--info-color--200);
    --ak-c-label--m-gray__content--before--BorderColor: var(--pf-global--palette--black-400);
    --ak-c-label--m-gray__content--link--hover--before--BorderColor: var(
        --pf-global--primary-color--100
    );
    --ak-c-label--m-gray__content--link--focus--before--BorderColor: var(
        --pf-global--primary-color--100
    );
}
