/**
 * @file Chinese locale global style overrides.
 */

html[lang^="zh"] {
    --ak-font-family-sans-serif:
        "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei",
        sans-serif, var(--ak-generic-sans-serif);
    --ak-font-family-serif: "Noto Serif SC", var(--ak-generic-serif);

    --ak-font-family-heading:
        "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei",
        sans-serif;

    --pf-c-content--h1--FontWeight: 500;

    body {
        font-size: 18px;
        line-height: 1.7777777778;
        letter-spacing: 0.048em;
    }
}
