.pf-c-card > fieldset {
    margin-inline: var(--pf-global--spacer--md);
    margin-block-end: var(--pf-global--spacer--md);

    @media not (prefers-contrast: more) {
        --ak-legend-margin-inline-start: calc(
            var(--pf-c-card--child--PaddingLeft) - var(--ak-legend-padding-inline-base)
        );
        --ak-legend-margin-inline-end: calc(
            var(--pf-c-card--child--PaddingRight) - var(--ak-legend-padding-inline-base)
        );

        border-width: 0;
        padding: 0 !important;
        margin: 0 !important;

        legend {
            padding-block-start: var(--pf-c-card--first-child--PaddingTop) !important;
            padding-block-end: var(--pf-c-card__title--not--last-child--PaddingBottom) !important;
            line-height: var(--pf-global--LineHeight--md);
        }
    }
}

/* #region Dark Theme */

[data-theme="dark"],
:host([theme="dark"]) {
    .pf-c-card {
        --pf-c-card--m-non-selectable-raised--BackgroundColor: var(
            --pf-global--BackgroundColor--dark-200
        );

        &.ak-m-enterprise-only {
            --pf-c-card--m-non-selectable-raised--BackgroundColor: var(
                --pf-global--info-color--200
            );

            --pf-c-card--m-non-selectable-raised--before--BackgroundColor: var(
                --pf-global--info-color--100
            );
        }
    }
}
