{% load i18n %}

<div class="ak-c-placeholder">
    <div class="ak-c-placeholder__container pf-c-login">
        <div class="pf-c-login__main">
            <span
            class="pf-c-spinner"
            role="progressbar"
            aria-valuetext="Loading..."
            >
            <span class="pf-c-spinner__clipper"></span>
            <span class="pf-c-spinner__lead-ball"></span>
            <span class="pf-c-spinner__tail-ball"></span>
        </span>
        <h1 class="pf-c-title">
            {% trans 'Loading...' %}
        </h1>
        </div>
    </div>
</div>
