{% load static %}
{% load i18n %}
{% load authentik_utils %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="preload" href="{% static 'dist/assets/fonts/DINEngschriftStd.woff2' %}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{% static 'dist/assets/fonts/DINEngschriftStd.woff' %}" as="font" type="font/woff" crossorigin>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}{% trans title|default:config.authentik.branding.title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static 'dist/assets/icons/icon.png' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'dist/assets/icons/icon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dist/patternfly.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dist/patternfly-addons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dist/fontawesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dist/authentik.css' %}">
        <script src="{% url 'javascript-catalog' %}"></script>
        <script src="{% static 'dist/main.js' %}" type="module"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% if 'authentik_impersonate_user' in request.session %}
        <div class="pf-c-banner pf-m-warning pf-c-alert pf-m-sticky">
            <div class="pf-l-flex pf-m-justify-content-center pf-m-justify-content-space-between-on-lg pf-m-nowrap" style="height: 100%;">
                <div class="pf-u-display-none pf-u-display-block-on-lg">
                    {% blocktrans with user=user %}You're currently impersonating {{ user }}.{% endblocktrans %}
                    <a href="{% url 'authentik_core:impersonate-end' %}?back={{ request.get_full_path }}" id="acceptMessage">{% trans 'Stop impersonation' %}</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% block body %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>
