.ak-next-actions-empty {
    color: var(--pf-global--Color--200);
    margin: 0;
}

.pf-c-card__footer {
    display: flex;
    align-items: flex-start;
    gap: var(--pf-global--spacer--sm);
}

.pf-c-card__footer ak-search-select {
    flex-grow: 1;
    max-width: 32rem;
}
