.ak-next-action-slug {
    align-self: center;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.pf-c-data-list__item-action {
    display: flex;
    align-items: center;
}

.ak-next-actions-empty {
    color: var(--pf-global--Color--200);
    margin: 0;
}

.pf-c-card__footer {
    display: flex;
    align-items: flex-start;
    gap: var(--pf-global--spacer--sm);
}

.pf-c-card__footer ak-search-select {
    flex-grow: 1;
    max-width: 32rem;
}
