@font-face {
    font-family: "RedHatDisplay";
    src: url("./RedHatDisplayVFModified.woff2") format("woff2-variations");
    font-weight: 300 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "RedHatDisplay";
    src: url("./RedHatDisplayVF-ItalicModified.woff2") format("woff2-variations");
    font-weight: 300 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "RedHatText";
    src: url("./RedHatTextVFModified.woff2") format("woff2-variations");
    font-weight: 400 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "RedHatText";
    src: url("./RedHatTextVF-ItalicModified.woff2") format("woff2-variations");
    font-weight: 400 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "RedHatMono";
    src: url("./RedHatMonoVF.woff2") format("woff2-variations");
    font-weight: 300 700;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "RedHatMono";
    src: url("./RedHatMonoVF-Italic.woff2") format("woff2-variations");
    font-weight: 300 700;
    font-style: italic;
    font-display: fallback;
}
