---
name: CI - Web

on:
  push:
    branches:
      - main
      - next
      - version-*
  pull_request:
    branches:
      - main
      - version-*

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
      - uses: ./.github/actions/setup-node
        with:
          working-directory: web
      - name: Generate API
        run: make gen-client-ts
      - name: Lint
        run: corepack npm run lint --prefix web
      - name: Check types
        run: corepack npm run tsc --prefix web
      - name: Check formatting
        run: corepack npm run prettier-check --prefix web
      - name: Lit analyse
        run: corepack npm run lit-analyse --prefix web

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
      - uses: ./.github/actions/setup-node
        with:
          working-directory: web
      - name: Generate API
        run: make gen-client-ts
      - name: build
        working-directory: web/
        run: corepack npm run build
  ci-web-mark:
    if: always()
    needs:
      - build
      - lint
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # release/v1
        with:
          jobs: ${{ toJSON(needs) }}
  test:
    needs:
      - ci-web-mark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
      - uses: ./.github/actions/setup-node
        with:
          working-directory: web
      - name: Generate API
        run: make gen-client-ts
      - name: test
        working-directory: web/
        run: corepack npm run test || exit 0
