name: GH - Cherry-pick

on:
  pull_request:
    types: [closed, labeled]

jobs:
  cherry-pick:
    runs-on: ubuntu-latest
    steps:
      - id: app-token
        name: Generate app token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: "${{ steps.app-token.outputs.token }}"
      - uses: ./.github/actions/cherry-pick
        with:
          token: ${{ steps.app-token.outputs.token }}
