---
name: Release - Update next branch

on:
  schedule:
    - cron: "0 12 * * *" # every day at noon
  workflow_dispatch:

permissions:
  # Needed to be able to push to the next branch
  contents: write

jobs:
  update-next:
    runs-on: ubuntu-latest
    environment: internal-production
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
        with:
          ref: main
      - run: |
          git push origin --force main:next
