---
name: Release - Update next branch

on:
  schedule:
    - cron: "0 12 * * *" # every day at noon
  workflow_dispatch:

permissions:
  # Needed to be able to push to the next branch
  contents: write

jobs:
  update-next:
    runs-on: ubuntu-latest
    environment: internal-production
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: main
      - run: |
          git push origin --force main:next
