.pf-c-data-list__cell {
    display: flex;
    align-items: center;
}

.pf-c-data-list__cell img {
    max-width: 48px;
    width: 48px;
    margin-right: 16px;
}

.pf-c-data-list__item {
    background-color: transparent;
}

:host([theme="dark"]) {
    .pf-c-data-list__cell img {
        filter: invert(1);
    }

    .pf-c-data-list {
        padding-inline-start: 0;
        border-top-color: var(--ak-dark-background-lighter);
    }

    .pf-c-data-list__item {
        --pf-c-data-list__item--BackgroundColor: transparent;
        --pf-c-data-list__item--BorderBottomColor: var(--ak-dark-background-lighter);
        color: var(--ak-dark-foreground);
    }
}
