{
    "presets": ["@babel/env", "@babel/typescript"],
    "plugins": [
        ["@babel/plugin-proposal-private-methods", { "loose": true }],
        ["babel-plugin-tsconfig-paths", {}],
        [
            "@babel/plugin-proposal-decorators",
            {
                "decoratorsBeforeExport": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ],
        "macros",
        [
            "@babel/plugin-proposal-private-property-in-object",
            {
                "loose": true
            }
        ]
    ]
}
