# Prettier Ignorefile

## Node
node_modules

## Static Files
**/LICENSE

## Build asset directories
coverage
dist
out

## Storybook
storybook-static/
.storybook/css-import-maps*

## Locales
src/locale-codes.ts
src/locales/

## Vendored files
*.min.js
*.min.css
